@import url(pretendard.css);
/****************** start : 태그의 초기화 ********************/
h1, h2, h3, h4, h5, h6{
    font-weight: initial;
    font-size: initial;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;/*밑줄삭제*/
}
ul, ol, li{
    list-style: none;/* 앞에 도형제거 */
}
/****************** end : 태그의 초기화 ********************/
/****************** start : 기본스타일 ********************/
body{
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/****************** end : 기본스타일 ********************/

.global h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 114px 0 16px 0;
}
.global .sub_tit {
    color: #00b900;
    margin: 0 0 6px 0;
}
.global a{
    border: 1px solid #00b900;
    color: #00b900;
    padding: 6px 33px;
    margin: 30px 0 42px 0;
    display: inline-block;
}

.line{
    background: url(../images/line2.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    margin: 97px 0 0 0;
    height: 641px;
}
.line h3{
    font-size: 40px;
    font-weight: 700;
    padding: 115px 0 12px 0;
}
.line a{
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 26px 7px 23px;
    margin: 30px 0 42px;
    display: inline-block;
}
.line .photo{
}