/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "SUITE", sans-serif;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    color: var(--font-color-default);
    line-height: var(--line-height-default);/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word;/* 단어가 제한된 넓이보다 길면 강제 줄바꿈 */
}
.wrapper{
    width: var(--wrapper-w);
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;
}
@media screen and (max-width:1500px){ /* 1440 + 30px + 30px */
    .wrapper{
        width: auto;
        margin: 0 var(--wrapper-margin);
    }
}


/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:root{
    --wrapper-margin: 30px;
    --wrapper-w: 1440px;
    --font-color-default: #242223;
    --font-color-tit: #242223;
    --color-main: #301B06;
    --color-point: #FFA602;
    --color-point2: #D6CDBE;
    --color-bg: #FBFAF8;
    --color-bg2: #FFF2D9;
    --color-white: #fff;
    --color-w20: rgba(255, 255, 255, 0.2);
    --color-w80 : rgba(255, 255, 255, 0.8);
    --color-sub: #ED6325;
    --color-sub2: #81B769;
    --font-weight-default: 400;
    --font-weight-bold: 800;
    --font-size-default: 17px;
    --font-size-tit: 40px;
    --font-size-subtit1: 28px;
    --font-size-subtit2: 24px;
    --line-height-default: 1.5;
    --line-height-tit: 1.3;
    --font-family-tit: "SUITE";
    --header-h: 100px;
    --icon-login-w: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.79219 8.95781C5.76406 7.92969 5.25 6.69375 5.25 5.25C5.25 3.80625 5.76406 2.57031 6.79219 1.54219C7.82031 0.514063 9.05625 0 10.5 0C11.9438 0 13.1797 0.514063 14.2078 1.54219C15.2359 2.57031 15.75 3.80625 15.75 5.25C15.75 6.69375 15.2359 7.92969 14.2078 8.95781C13.1797 9.98594 11.9438 10.5 10.5 10.5C9.05625 10.5 7.82031 9.98594 6.79219 8.95781ZM0 21V17.325C0 16.5812 0.191406 15.8977 0.574219 15.2742C0.957031 14.6508 1.46563 14.175 2.1 13.8469C3.45625 13.1687 4.83437 12.6602 6.23438 12.3211C7.63438 11.982 9.05625 11.8125 10.5 11.8125C11.9438 11.8125 13.3656 11.982 14.7656 12.3211C16.1656 12.6602 17.5438 13.1687 18.9 13.8469C19.5344 14.175 20.043 14.6508 20.4258 15.2742C20.8086 15.8977 21 16.5812 21 17.325V21H0ZM2.625 18.375H18.375V17.325C18.375 17.0844 18.3148 16.8656 18.1945 16.6687C18.0742 16.4719 17.9156 16.3188 17.7188 16.2094C16.5375 15.6188 15.3453 15.1758 14.1422 14.8805C12.9391 14.5852 11.725 14.4375 10.5 14.4375C9.275 14.4375 8.06094 14.5852 6.85781 14.8805C5.65469 15.1758 4.4625 15.6188 3.28125 16.2094C3.08437 16.3188 2.92578 16.4719 2.80547 16.6687C2.68516 16.8656 2.625 17.0844 2.625 17.325V18.375ZM12.3539 7.10391C12.868 6.58984 13.125 5.97188 13.125 5.25C13.125 4.52812 12.868 3.91016 12.3539 3.39609C11.8398 2.88203 11.2219 2.625 10.5 2.625C9.77812 2.625 9.16016 2.88203 8.64609 3.39609C8.13203 3.91016 7.875 4.52812 7.875 5.25C7.875 5.97188 8.13203 6.58984 8.64609 7.10391C9.16016 7.61797 9.77812 7.875 10.5 7.875C11.2219 7.875 11.8398 7.61797 12.3539 7.10391Z' fill='white'/%3E%3C/svg%3E");
    --icon-login: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.79219 8.95781C5.76406 7.92969 5.25 6.69375 5.25 5.25C5.25 3.80625 5.76406 2.57031 6.79219 1.54219C7.82031 0.514063 9.05625 0 10.5 0C11.9438 0 13.1797 0.514063 14.2078 1.54219C15.2359 2.57031 15.75 3.80625 15.75 5.25C15.75 6.69375 15.2359 7.92969 14.2078 8.95781C13.1797 9.98594 11.9438 10.5 10.5 10.5C9.05625 10.5 7.82031 9.98594 6.79219 8.95781ZM0 21V17.325C0 16.5812 0.191406 15.8977 0.574219 15.2742C0.957031 14.6508 1.46563 14.175 2.1 13.8469C3.45625 13.1688 4.83437 12.6602 6.23438 12.3211C7.63438 11.982 9.05625 11.8125 10.5 11.8125C11.9438 11.8125 13.3656 11.982 14.7656 12.3211C16.1656 12.6602 17.5438 13.1688 18.9 13.8469C19.5344 14.175 20.043 14.6508 20.4258 15.2742C20.8086 15.8977 21 16.5812 21 17.325V21H0ZM2.625 18.375H18.375V17.325C18.375 17.0844 18.3148 16.8656 18.1945 16.6687C18.0742 16.4719 17.9156 16.3188 17.7188 16.2094C16.5375 15.6188 15.3453 15.1758 14.1422 14.8805C12.9391 14.5852 11.725 14.4375 10.5 14.4375C9.275 14.4375 8.06094 14.5852 6.85781 14.8805C5.65469 15.1758 4.4625 15.6188 3.28125 16.2094C3.08437 16.3188 2.92578 16.4719 2.80547 16.6687C2.68516 16.8656 2.625 17.0844 2.625 17.325V18.375ZM12.3539 7.10391C12.868 6.58984 13.125 5.97188 13.125 5.25C13.125 4.52812 12.868 3.91016 12.3539 3.39609C11.8398 2.88203 11.2219 2.625 10.5 2.625C9.77812 2.625 9.16016 2.88203 8.64609 3.39609C8.13203 3.91016 7.875 4.52812 7.875 5.25C7.875 5.97188 8.13203 6.58984 8.64609 7.10391C9.16016 7.61797 9.77812 7.875 10.5 7.875C11.2219 7.875 11.8398 7.61797 12.3539 7.10391Z' fill='%23242223'/%3E%3C/svg%3E%0A");
    --icon-arrow-w: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0.897205L6 7L0 0.897205L0.882093 4.82e-07L6 5.20575L11.1179 3.45783e-08L12 0.897205Z' fill='white'/%3E%3C/svg%3E");
    --icon-arrow-main: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0.897205L6 7L0 0.897205L0.882093 4.82e-07L6 5.20575L11.1179 3.45783e-08L12 0.897205Z' fill='%23242223'/%3E%3C/svg%3E");
    --icon-arrow-tit: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.02031 11.8125L12.3703 19.1625L10.5 21L0 10.5L10.5 0L12.3703 1.8375L5.02031 9.1875H21V11.8125H5.02031Z' fill='%23301B06'/%3E%3C/svg%3E");
    --icon-arrow-y: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.02031 11.8125L12.3703 19.1625L10.5 21L0 10.5L10.5 0L12.3703 1.8375L5.02031 9.1875H21V11.8125H5.02031Z' fill='%23FFA602'/%3E%3C/svg%3E");
    --icon-stop: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66667 8V0H7V8H4.66667ZM0 8V0H2.33333V8H0Z' fill='white'/%3E%3C/svg%3E%0A");
    --icon-start: url("data:image/svg+xml,%3Csvg width='7' height='8' viewBox='0 0 7 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.000419529 -1.35122e-07L6.28613 4L0.000418901 8L0.000419529 -1.35122e-07Z' fill='white'/%3E%3C/svg%3E%0A");
    --icon-more: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.38235 14V7.61765H0V6.38235H6.38235V0H7.61765V6.38235H14V7.61765H7.61765V14H6.38235Z' fill='%23301B06'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    :root{
        --wrapper-margin: 24px;
        --header-h: 70px;
        --font-size-default: 16px;
        --font-size-tit: 36px;
        --font-size-subtit1: 26px;
        --font-size-subtit2: 22px;
    }
}
@media screen and (max-width:768px){
    :root{
        --font-size-default: 16px;
        --font-size-tit: 28px;
        --font-size-subtit1: 24px;
        --font-size-subtit2: 20px;
        --wrapper-margin: 16px;
        --header-h: 56px;
    }
}
::selection{
    background-color: var(--color-point);
    color: var(--color-white);
}
.footer *::selection{
    background-color: var(--color-main);
    color: var(--color-point2);
}