@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.product{
    background-color: #1E1E1E;
    height: 693px;
    color: #fff;
}
.product .tit h2{
    text-align: center;
    padding: 150px 0 0 0;
}
.product .tit p{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
@media screen and (max-width:768px){
    .product{
    height: 766px;
    }
    .product .tit h2{
        text-align: left;
        padding: 100px 0 0 0;
    }
    .product .tit p{
        font-size: 32px;
        text-align: left;
    }
}

.product .list{
    padding: 80px 0 0 0;
}
.product .list ul{
    display: flex;
    justify-content: space-between;
}
.product .list ul li{
    text-align: center;
    width: 404px;
}
.product .list ul li h3{
    padding: 84px 0 0 0;
}
.product .list ul li p{
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 24px 0;
}
.product .list ul li a{
    display: block;
    background: url(../images/visual01.jpg) no-repeat center center / cover;
    height: 300px;
}
.product .list ul li.photo02 a{
    background-image: url(../images/visual02.jpg);
}
.product .list ul li.photo03 a{
    background-image: url(../images/visual03.jpg);
}
.product .list ul li a span{
    border: 2px solid #fff;
    padding: 5px 29px 4px 30px;
}
@media screen and (max-width:768px){
    .product .list{
    padding: 18px 0 0 0;
    }
    .product .list ul{
        flex-direction: column;
        gap: 10px 0;
    }
    .product .list ul li{
        width: auto;
    }
    .product .list ul li h3{
        padding: 38px 0 0 0;
    }
    .product .list ul li p{
        font-size: 24px;
        margin: 0 0 7px 0;
    }
    .product .list ul li a{
        height: 168px;
    }
    .product .list ul li a span{
        border: 2px solid #fff;
        background-color: #fff;
        color: #3d3d3d;
        padding: 0 20px 1px 20px;
    }
}

.bland{
    background: url(../images/bland.jpg) no-repeat center center / cover;
    color: #fff;
    height: 664px;
}
.bland .wrapper{
    padding: 0 0 0 856px;
}
.bland h2{
    padding: 126px 0 15px 0;
    font-size: 40px;
    font-weight: 700;
}
.bland .photo{
    display: none;
}
@media screen and (max-width:768px){
    .bland{
        background: none;
        color: #1d1d1d;
        height: 156px;
    }
    .bland .wrapper{
        padding: 0;
    }
    .bland h2{
        padding: 92px 0 23px 0;
        font-size: 32px;
    }
    .bland .photo{
        display: block;
        height: 156px;
        margin: 39px 0 0 0;
    }
    .bland .photo img{ 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
