/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "Pretendard", sans-serif;
    font-weight: var(--font-weigt-default);
    font-size: var(--font-size-default);
    color: var(--font-color-txt);
    line-height: var(--line-height-default);/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word;/* 단어가 제한된 넓이보다 길면 강제 줄바꿈  */
}
.wrapper{
    width: 1284px;
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;
}
@media screen and (max-width:1384px){/* 1284+50+50 */
     .wrapper{
     width: auto;
     margin: 0 var(--wrapper-margin);
     }
}


/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:root{
    --font-size-default: 17px;
    --font-size-tit: 45px;
    --font-size-subtit1: 32px;
    --font-size-subtit2: 28px;
    --wrapper-margin: 50px;
    --font-color-txt: #231815;
    --color-main: #2E1D0B;
    --color-point: #533A35;
    --color-bg: #FBF9F7;
    --font-weigt-default: 400;
    --font-weigt-tit: 700;
    --line-height-default: 1.5;
    --line-height-tit: 1.3;
    --font-family-tit: "Eulyoo";
}
@media screen and (max-width:1024px){
    :root{
        --wrapper-margin: 30px;
    }
}
@media screen and (max-width:768px){
    :root{
        --font-size-default: 16px;
        --font-size-tit: 32px;
        --font-size-subtit1: 28px;
        --wrapper-margin: 16px;
    }
}