@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual{
    position: relative; /* ctrl_left/right 정렬의 기준 */
}
.visual .swiper-slide{
    /* height: 100vh;
    min-height: 500px; 이렇게 두개를 쓸걸 축약한 버전*/
    height: max(500px, 100vh);
    background: url(../images/visual_bg1.jpg)no-repeat center center / cover;
    color: #fff;
    padding: 0 var(--wrapper-margin) 126px var(--wrapper-margin);

    display: flex;/* h3, p 아래로 정렬 */
    flex-direction: column;
    justify-content: flex-end;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide h3{
    font-family: var(--font-family-tit);
    font-size: clamp(40px, 6vw, 60px);
    /* clamp(최소값, 평소값, 최대값)
       clamp(모바일크기, 대충 pc크기 px기준 1/10정도 vw, pc크기) */
    line-height: var(--line-height-tit);
    font-weight: 700;
    margin: 0 0 10px 0;
}
.visual .ctrl_left{
    position: absolute;/* visual을 기준으로 정렬 */
    left: var(--wrapper-margin);
    bottom: 63px;
    z-index: 10;
    color: #fff;
    fill: #fff; /* svg 아이콘 흰색 */
    display: flex;
    gap: 13px;
    align-items: center;
}
.visual .ctrl_left .bar{
    width: 200px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative; /* before의 정렬의 기준 */
}
.visual .ctrl_left .bar span{
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.visual .ctrl_left .play{
    display: none; /* 재생버튼을 눌렀을때만 나타남 */
}
.visual .ctrl_right{
    position: absolute;/* visual을 기준으로 정렬 */
    right: var(--wrapper-margin);
    bottom: 62px;
    z-index: 10;
    color: #fff;
    fill: #fff; /* svg 아이콘 흰색 */
    display: flex;
    gap: 6PX;
}
.visual .ctrl_right button{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex; /* svg 가운데 배치 */
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px){
    .visual .swiper-slide{
        height: 750px;
        padding-bottom: 51px;
    }
    .visual .ctrl_left,
    .visual .ctrl_right{
        display: none;
    }
}/*@media*/