@import url(default.css);
@import url(pretendard.css);

#wrap{
    position: relative;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Pretendard',sans-serif;
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
    line-height: 1.5;
    color: var(--color-default);
}
@media screen and (max-width:1361px){ /* 1260 + 63 + 63 = 1386 */
                    .wrapper{
                    width: auto;
                    margin: 0 4vw; /* 5vw는 5%d임 단위만 바뀜 */
    }           
}/*@media*/

/* 홈페이지 디자인에서 반복적으로 쓰는 스타일을 변수로 선언해서 불러다 쓰는 스타일 */
:root{ /* 선언 */
    --font-size-default: 1.7rem;
    --font-size-tit: 4rem;
    --font-weight-default: 400;
    --font-weight-tit: 700;
    --color-default: #3d3d3d;
    --color-tit: #1d1d1d;
    --line-height: 1.3;
}
@media screen and (max-width:1024px){
    :root{ /* 선언 */
        --font-size-tit: 3.2rem;
    }
}
@media screen and (max-width:768px){
    :root{ /* 선언 */
        --font-size-default: 1.6rem;
        --font-size-tit: 2.8rem;
    }
}/*@media*/