/*태그의 초기화*/
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
strong{
    font-weight: inherit;
}
em,address{
    font-style: normal;/*기울어지 글자를 바르게*/
}
button{
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: inherit;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*공통스타일*/
body{
    font-family: "pretendard", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #191e26;
    line-height: 1.5;/* 배수(글자크기의 몇 배) */
    word-break: keep-all;/* 단어 단위로 줄 바꿈 */
}
.wrapper{
    width: 1260px;
    margin: 0 auto;/* 화면에 가운데 정렬 */
}
#wrap{
    /* 1260+30+30 = 1320 */
    min-width: 1320px;
}

/* html 표준 때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는 태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

@media screen and (max-width:768px){/* 브라우저 넓이가 768 이하일때 */
                        body{
                            font-size: 16px;
                        }
                        .wrapper{
                            width: auto;
                            margin: 0 16px;
                        }
                        #wrap{
                            min-width: 0;
                        }
}/*@media*/