@import url(pretendard.css);
/****************** start : 태그의 초기화 ********************/
h1, h2, h3, h4, h5, h6{
    font-weight: initial;
    font-size: initial;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;/*밑줄삭제*/
}
ul, ol, li{
    list-style: none;/* 앞에 도형제거 */
}
/****************** end : 태그의 초기화 ********************/
/****************** start : 기본스타일 ********************/
body{
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/****************** end : 기본스타일 ********************/

.visual{
    background: url(../images/hd_visual.jpg) no-repeat center center / cover;
    color: #fff;
    height: 718px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    padding: 233px 0 25px 0;
}

.biz h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 85px 0 36px 0;
}
.biz .list ul{
    display: flex;
    justify-content: space-between;
}
.biz .list ul li{
    width: 404px;
}
.biz .list ul li a{
    display: block;
}
.biz .list ul li a h3{
    font-size: 32px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 14px 0 0 0;
}

.heri{
    margin: 57px 0 0 0;
    background: url(../images/hd_heri.jpg) no-repeat center center / cover;
    color: #fff;
    height: 527px;
}
.heri .wrapper{
    padding: 174px 0 0 630px;
}
.heri h2{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 18px 0;
}
.heri a{
    display: inline-block;
    background-color: #003087;
    margin: 29px 0 0 0;
    padding: 8px 33px;
    border-radius: 30px;
}

.sust{
    text-align: center;
}
.sust h2{
    font-size: 32px;
    font-weight: 700;
    color: #003087;
    margin: 147px 0 9px 0;
}
.sust .sub_tit{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 21px 0;
}
.sust a{
    display: inline-block;
    background-color: #003087;
    margin: 42px 0 0 0;
    padding: 8px 30px 8px 29px;
    border-radius: 30px;
    color: #fff;
}

body{
    margin: 0 0 200px 0;
}
