@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;/* 위아래 여백 없음 - 좌우여백 알아서 반반 */
}
/* 브라우저에서 주는 스타일을 제거 -- 스타일 초기화라고함 */
*{/* *은 와일드카드로 모든 태그를 지칭함 */
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-size: inherit;/* 브라우저가 주는 속성은 적용안하고 body에서 준 값을 상속하겠다는 속성 */
    font-weight: inherit;
}
strong{
    font-weight: inherit;
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 102px 0 24px 0;
}
.sub_tit{
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 13px 0;
}
strong{
    color: #003b83;
}