@import url(common.css);
@import url(fonts.css);
@import url(default.css);

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; /* 내가 맨위 */
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white);
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.header .logo a{
    display: block;
    width: clamp(91px, 16.1vw, 161px);
    height: clamp(18px, 3.4vw, 34px);
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
.header.fixed{
    background-color: #fff;
    color: var(--font-color-tit);
    fill: var(--font-color-tit);
    border-bottom: 1px solid rgba(35, 26, 17, 0.2);
}
.header.fixed .logo a{
    background-image: url(../images/logo.svg);  
}

.header .util .language_wrap{
    display: none;
}
.header .util .language_wrap:hover{
    background-color: var(--font-color-tit);
    border-radius: 10px;
    width: 67px;
    height: 99px;
    text-align: center;
}
.header .util .language_wrap a{
    line-height: 2.5;
}
@media screen and (min-width:1025px){
/* header는 pc와 모바일이 로고빼고 스타일이 완전 달라서 pc버전/모바일 스타일을
   media로 구분함  min-width:1025px  1025px이상에만 적용 - pc용
                   max-width:1024px  1024px이에만 적용  - 모바일용  */
                .header .gnb .gnb_open,
                .header .gnb .gnb_wrap .gnb_logo,
                .header .gnb .gnb_wrap .gnb_close{
                    display: none; /* 모바일에서만 나옴 */
                }
                .header .gnb .gnb_wrap ul.depth1{
                    display: flex;
                }
                .header .gnb .gnb_wrap ul.depth1 > li{
                    position: relative; /* ul.depth2 정렬의 기준 */
                    min-width: 0; /* 최소넓이로 0 -> 180px로 부드럽게 .. */
                    transition: 0.3s;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > a{
                    display: block;
                    line-height: var(--header-h);
                    /* 행간을 header높이만큼 주면 a의 높이가 header 높이가되고
                       글자도 위아래 가운데 들어감 */
                    font-size: 20px;
                    font-weight: var(--line-height-default);
                    padding: 0 25px; /* 마우스 오버전에는 메뉴 사이의 여백이 동일 */
                    text-align: center;
                    position: relative; /* after 정렬의 기준 */
                }
                .header .gnb .gnb_wrap ul.depth1 > li > a::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 10;
                    width: 0;
                    height: 3px;
                    background-color: #01321F;
                    transition: 0.3s;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                    /* 2차메뉴 - 무조건 absolute */
                    display: block !important;
                    /* 선택자의 우선순위와 상관없이 무조건 이 속성을 우선 적용 */
                    position: absolute;
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    height: 0;
                    text-align: center;
                    padding: 0;
                    border-right: 1px solid rgba(35, 26, 17, 0.2);
                    opacity: 0;
                    transition: 0.3s;
                    overflow: hidden;
                    /*
                        display:none;으로 숨겼다가 display:block으로 보이게 하는 요소는
                        transition이 안들어감... 
                    */
                }
                .header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                    padding: 24px 0 0 0;
                    height: 260px;
                    opacity: 1;
                }
                .header .gnb .gnb_wrap ul.depth1 > li:first-child > ul.depth2{
                    /* 첫번째 1차메뉴의 2차 ul에 */
                    border-left: 1px solid #ccc;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                    display: block;
                    padding: 9px 0;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover{
                    color: var(--color-main);
                }
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span{
                    position: relative; /* after 정렬의 기준 */
                }
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 1px;
                    background-color: var(--color-main);
                    transition: 0.3s;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after{
                    width: 100%;
                }
                
                .header .util{
                    display: flex;
                }
                .header .util .language .language_open,
                .header .util .mypage{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                }

                /* 메뉴에 마우스를 올렸을때 menu_over */
                .header.menu_over{
                    color: var(--font-color-tit);
                    fill: var(--font-color-tit);
                }
                .header::before{
                    content: "";
                    position: absolute;/* header를 기준으로 정렬 */
                    left: 0;
                    top: 0;
                    z-index: -1; 
                    /* 지하 1층  - 기본적으로 position 없으면 1층 있으면 2층부터 시작 */
                    width: 100%;
                    height: 360px;
                    background-color: #fff;
                    transform: translateY(-110%); 
                    /* 자기 높이보다 조금더 많은 값을 위로 이동 - 그럼 안보임 */
                    transition: 0.3s;
                }
                .header.menu_over::before{
                    transform: translateY(0);
                }
                .header.menu_over::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    height: 1px;
                    background-color: rgba(35, 26, 17, 0.2);
                }
                .header.menu_over .logo a{
                    background-image: url(../images/logo.svg);
                }
                .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                    min-width: 180px;
                }
                .header.menu_over .gnb .gnb_wrap ul.depth1 > li:hover > a{
                    color: var(--color-main);
                    font-weight: var(--font-weight-bold);
                }
                .header.menu_over .gnb .gnb_wrap ul.depth1 > li:hover > a::after{
                    width: 100%;
                }
                .header .gnb .gnb_bg{
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100vh;
                    z-index: -2;  
                    /* 메뉴의 흰색 bg를 z-index: -1로 줘서 그보다 아래 -2 */
                    background-color: rgba(0, 0, 0, 0);
                    backdrop-filter: blur(0);
                    transform: translateY(-110%);
                    transition: background-color 0.3s, backdrop-filter 0.3s;
                    /*
                        클래스 추가 전후에 변화는 transform, background-color, backdrop-filter만 존재
                        이때 transition을 background-color, backdrop-filter만 줌 
                        그럼 남은 하나 transform은 빨리 적용되고 나머지는 transition 시간만큼 천천히
                    */
                }
                .header.menu_over .gnb .gnb_bg{
                    background-color: rgba(0, 0, 0, 0.2);
                    backdrop-filter: blur(4px);
                    transform: translateY(0);
                }
}/*media*/
@media screen and (min-width:1025px) and (max-width:1200px){ /* 1200 ~ 1025 사이 일때만*/
                .header.menu_over .gnb .gnb_wrap ul.depth1 > li{
                    min-width: 140px;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > a{
                    font-size: 18px;
                    padding: 0px 17px;
                }
}/*media*/
@media screen and (max-width:1024px){ /* 1024이하일때 */
                .header{
                    padding-right: 0;
                }
                .header .gnb .gnb_open{
                    width: var(--header-h);
                    height: var(--header-h);
                    display: flex;
                    justify-content: center; /* svg를 가운데 */
                    align-items: center;
                }
                .header .gnb .gnb_wrap{
                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: 10;
                    width: 100%;
                    max-width: 500px;
                    height: 100%;
                    background-color: #fff;
                    color: var(--font-color-tit);
                    fill: var(--font-color-tit);
                    transform: translateX(110%); /* gnb_wrap 넓이보다 조금더 많이 이동 */
                    transition: 0.3s;
                }
                /** 메뉴가 열렸을때 ***/
                .header.menu_open .gnb .gnb_wrap{
                    transform: translateX(0);
                }
                .header .gnb .gnb_wrap .gnb_logo {
                    position: absolute; 
                    /* gnb_wrap을 기준으로 정렬 - ul.depth1을 제외한 나머지는 absolute  */
                    left: var(--wrapper-margin);
                    top: 0;
                    height: var(--header-h);
                    width: max(121px, calc(var(--header-h) * 1.78));
                    background: url(../images/logo.svg) no-repeat left center / contain;
                }
                .header .gnb .gnb_wrap ul.depth1{
                    margin: var(--header-h) 0 0 0;
                    height: calc(100% - var(--header-h));
                    padding: 15px 0 0 0;
                    overflow-y: auto;
                }
                .header .gnb .gnb_wrap ul.depth1 > li > a{
                    font-family: var(--font-family-tit);
                    font-size: 22px;
                    display: block;
                    padding: 14px var(--header-h) 14px var(--wrapper-margin);
                    position: relative; /* after 정렬의 기준 */
                }
                .header .gnb .gnb_wrap ul.depth1 > li.open > a{
                    color: var(--color-main);
                    font-weight: var(--font-weight-bold);
                }
                .header .gnb .gnb_wrap ul.depth1 > li > a::after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: var(--header-h); /* 닫기 버튼과 넓이를 같게 */
                    height: 100%; /* a랑 사이즈 동일 */
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.28172L8.5 10L0 1.28172L1.24963 8.99051e-07L8.5 7.43678L15.7504 2.65204e-07L17 1.28172Z' fill='%23555555'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    transition: 0.3s;
                }
                .header .gnb .gnb_wrap ul.depth1 > li.open > a::after{
                    transform: rotate(180deg);
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.28172L8.5 10L0 1.28172L1.24963 8.99051e-07L8.5 7.43678L15.7504 2.65204e-07L17 1.28172Z' fill='%236C4B43'/%3E%3C/svg%3E%0A");
                }
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                    display: none;
                    background-color: var(--color-bg);
                    padding: 16px var(--wrapper-margin) 16px var(--wrapper-margin);
                }
                /* .header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2{
                    display: block;
                } */
                .header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                    display: block;
                    padding: 8px 0 8px var(--wrapper-margin);
                }
                .header .gnb .gnb_wrap .gnb_close{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: var(--header-h);
                    height: var(--header-h);
                    display: flex;
                    justify-content: center; /* svg를 가운데 */
                    align-items: center;
                }
                .header .gnb .gnb_bg{
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0);
                    backdrop-filter: blur(0);
                    transition: background-color 0.3s, backdrop-filter 0.3s;
                    transform: translateX(110%);
                }
                .header.menu_open .gnb .gnb_bg{
                    background-color: rgba(0, 0, 0, 0.5);
                    backdrop-filter: blur(4px);
                    transform: translateX(0);
                }
                .header .util{
                    display: none;
                }
}/*media*/

.visual .swiper-slide{
    height: clamp(500px, 90vw, 900px); /* 브라우저의 높이 */
    background: url(../images/visual01.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex; /* wrapper를 아래로 정렬 */
    align-items: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide h2{
    font-size: clamp(32px, 6vw, 60px);
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 clamp(30px, 15vw, 156px) 0;
}
@media screen and (max-width:1024px){
    .visual .swiper-slide{
        height: 500px; /* 브라우저의 높이 */
    }
    .visual .swiper-slide h2{
        font-size: 32px;
        margin: 0 0 30px 0;
    }
}

.brand{
    background-color: var(--color-bg);
    padding: clamp(85px, 18.5vw, 185px) 0 clamp(82px, 16.5vw, 165px) 0;
    text-align: center;
    position: relative;
}
.brand h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
    line-height: var(--line-height-tit);
    margin: 0 0 clamp(22px, 3vw, 30px) 0;
}
.brand h2 strong{
    color: var(--color-main);
}
.brand img.dog01{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 25%;
}
.brand img.ball01{
    position: absolute;
    left: 33%;
    bottom: 10px;
    width: 7%;
}
.brand img.dog02{
    position: absolute;
    right: 16px;
    bottom: 10px;
    width: 18%;
}
@media screen and (max-width:768px){
    .brand img.dog02{
        display: none;
    }
}

.service .tit{
    text-align: center;
}
.service .tit h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
    line-height: var(--line-height-tit);
    margin: 185px 0 30px 0;
}
.service .tit h2 strong{
    color: var(--color-main);
}
.service .list{
    position: relative;
}
.service .swiper-slide{
    margin-top: 60px;
    height: 417px;
    display: flex;
    align-items: flex-end;
    background: url(../images/service01.jpg);
    color: #fff;
}
.service .swiper-slide.pop2{
    background-image: url(../images/service02.jpg);
}
.service .swiper-slide.pop3{
    background-image: url(../images/service03.jpg);
}
.service .swiper-slide.pop4{
    background-image: url(../images/service04.jpg);
}
.service .list h2{
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    margin: 296px 0 16px 214px;
}
.service .list p{
    font-size: var(--font-size-default);
    margin: 0 0 37px 214px;
}
.service button{
    position: absolute;
}
.service .prev{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid var(--font-color-tit);
    border-radius: 50%;
    z-index: 1;
    left: -25px;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .next{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid var(--font-color-tit);
    border-radius: 50%;
    z-index: 1;
    right: -25px;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .prev:hover,
.service .next:hover{
    background-color: var(--font-color-tit);
    fill: var(--color-point);
}
@media screen and (max-width:768px){
    .service .tit h2{
        margin: 85px 0 0 0;
    }
    .service .tit p{
        display: none;
    }
    .service .list{
        position: relative;
    }
    .service .swiper-slide{
        margin-top: 30px;
        height: 337px;
        border-radius: 25px;
    }
    .service .list h2{
        font-size: 22px;
        margin: 296px 0 16px 214px;
    }
    .service .list p{
        font-size: var(--font-size-default);
        margin: 0 0 37px 214px;
    }
    .service button{
        position: absolute;
    }
    .service .prev{
        display: none;
    }
    .service .next{
        display: none;
    }
}/*@media*/

.care .tit{
    text-align: center;
}
.care .tit h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
    line-height: var(--line-height-tit);
    margin: 185px 0 30px 0;
}
.care .tit h2 strong{
    color: var(--color-main);
}
.care .list{
    margin-top: 60px;
}
.care .list ul{
    display: flex;
    justify-content: space-between;
}
.care .list ul li{
    width: calc(20% - 9.6px);
    /*
        100%/li 의 갯수 - 여백의 합/li갯수
        100/5 - (12+12+12+12)/5
        20% - 9.6px
    */
}
.care .list ul li a{
    display: block;
    position: relative; /* h3정렬의 기준 */
}
.care .list ul li a .photo{
    overflow: hidden;
}
.care .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    transition: 0.3s;
}
.care .list ul li a:hover .photo img{
    transform: scale3d(1.125,1.125,1);
}
.care .list ul li a h3{
    position: absolute; /* a를 기준으로 정렬 */
    text-align: center;
    left: 0;
    bottom: 30px;
    width: 100%;
    font-size: 24px;
    color: #fff;
}
@media screen and (max-width:768px){
    .care .tit h2{
        margin: 85px 0 0 0;
    }
    .care .tit p{
        display: none;
    }
    .care .list{
        margin-top: 30px;
    }
    .care .list ul li a h3{
        position: absolute; /* a를 기준으로 정렬 */
        text-align: center;
        left: 0;
        bottom: 30px;
        width: 100%;
        font-size: 22px;
        color: #fff;
    }
}/*@media*/

.insta{
    margin-top: 185px;
}
.insta .tit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 0;
    gap: 0 12px;
}
.insta .tit h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
    line-height: var(--line-height-tit);
}
.insta .tit h2 strong{
    color: var(--color-main);
}
.insta .link{
    display: flex;
    justify-content: center;
    gap: 0 35px;
}
.insta .link a{
    position: relative;
}
.insta .link a:hover .iteawon{
    color: var(--color-main);
}
.insta .link a:hover .official{
    color: var(--color-main);
}
.insta .link a:hover .deagu{
    color: var(--color-main);
}
.insta .link a::after{
    content: " ";
    position: absolute;
    right: -18px;
    top: 6px;
    width: 1px;
    height: 11px;
    background-color: rgba(35, 26, 17, 0.2);
}
.insta .link a:last-child::after{
    display: none;
}
.insta .list{
    margin: 60px 0 0 0;
    overflow-x: hidden;
}
.insta .list ul{
    display: flex;
    gap: 0 12px;
}
.insta .list ul li{
    width: 20vw;
}
.insta .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 125px;
}
.map{
    background-color: var(--color-bg);
    padding: 155px 0 0 0;
}
.map .tit h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
    line-height: var(--line-height-tit);
    margin: 0 0 30px 0;
    text-align: center;
}
.map .tit h2 strong{
    color: var(--color-main);
}
.map .tab_list ul{
    display: flex;
    justify-content: center;
    gap: 0 35px;
}
.map .tab_list ul li button{
    padding: 10px 24px;
    border-radius: 30px;
    font-size: 22px;
    color: var(--font-color-tit);
}
.map .tab_list ul li.active button{
    border: 1px solid var(--color-main);
    color: var(--color-main);
}
.map .tab_conts{
    margin: 41px 0 0 0;
}
.map .tab_conts .tab_item{
    display: none;
}
.map .tab_conts .tab_item.active{
    display: block;
}
.map .tab_conts .tab_item .tel{
    display: flex;
    justify-content: center;
    gap: 0 40px;
}
.map .tab_conts .tab_item .tel strong{
    color: var(--font-color-tit);
}
.map .tab_conts .tab_item .tel span{
    color: rgba(35, 26, 17, 0.5);
}
.map .tab_conts .tab_item .link{
    margin-top: 30px;
}
.map .tab_conts .tab_item .link ul{
    display: flex;
    justify-content: center;
    gap: 0 13px;
}
.map .tab_conts .tab_item .link ul li a{
    color: var(--font-color-tit);
    border-bottom: 1px solid var(--font-color-tit);
}
.map .tab_conts .tab_item .link ul li a:hover{
    color: var(--color-main);
    border-bottom: 1px solid var(--color-main);
}
.map .tab_conts .tab_item .map_area{
    background: url(../images/map01.jpg) no-repeat center center / cover;
    height: 514px;
    margin-top: 55px;
}
.map .tab_conts .tab_item .map_area.map02{
    background-image: url(../images/map02.jpg);
}
.map .tab_conts .tab_item .map_area.map03{
    background-image: url(../images/map03.jpg);
}

.footer{
    background-color: var(--font-color-tit);
    height: 417px;
    color: rgba(255, 255, 255, 0.8);
    padding: 100px 0 100px 0;
}
.footer .wrapper{
    display: flex;
    gap: 0 50px;
}
.footer .f_nav{
    margin-top: 9px;
}
.footer .f_nav ul{
    display: flex;
    gap: 0 50px;
}
.footer .f_nav ul li{
    position: relative;
}
.footer .f_nav ul li::after{
    content: "";
    position: absolute;
    right: -26px;
    top: 6px;
    background: rgba(255, 255, 255, 0.2);
    width: 1px;
    height: 12px;
}
.footer .f_nav ul li:last-child::after{
    display: none;
}
.footer .f_info{
    margin: 20px 0 15px 0;
}
.footer .f_info span{
    margin-right: 50px;
}