@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual{
    position: relative;/* scroll 정렬의 기준 */
}
.visual .swiper-slide{
    height: 100vh; /* 브라우저의 높이 */
    background: url(../images/visual_bg1.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex; /* wrapper를 아래로 정렬 */ 
    align-items: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 14px 0 83px 0;
}
.visual .scroll{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;
    z-index: 10;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}
.visual .scroll::before{
    content: "";
    position: absolute; /* scroll 기준으로 정렬 */
    left: 39px;
    bottom: -22px;
    width: 13px;
    height: 100%;
    background: url(../images/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::before{
    animation: scroll1 2s linear infinite;
}
@keyframes scroll1 {
    0%{bottom:-20px;}
    50%{bottom: -30px;}
    100%{bottom: -20px;} 
}

@media screen and (max-width:768px){
            .visual .swiper-slide h2{
                font-size: 30px;
                margin: 14px 0 41px 0;
            }
            .visual .scroll{
                display: none;
            }
}/*@media*/

.footer{
    margin: 1000px 0 0 0;
}