/*
layout.css
header/footer처럼 모든 페이지에 들어가는 요소
*/

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: clamp(56px, 9vw, 90px);
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s;
}
.header .wrapper{
    display: flex; /* logo-gnb-util 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
}
.header .logo a{
    display: block;
    width: clamp(69px, 10.7vw, 107px);
    height: clamp(18px, 2.9vw, 29px);
    background: url(../images/common/logo_w.svg) no-repeat left center / contain; 
}
.header[data-bg="white"]{
    color: #1d1d1d;
    border-bottom: 1px solid rgba(37, 79, 7, 0.2);
}
.header[data-bg="white"] .logo a{
    background-image: url(../images/common/logo.svg);
}
.header[data-bg="none"]{
    opacity: 0.3;
}
@media screen and (min-width:1025px){/* 1025 이상일때 */
            .header .gnb .gnb_open{
                display: none;
            }
            .header .gnb .gnb_wrap ul.depth1{
                display: flex; /* li 좌우로 배치 */
            }
            .header .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                height: 90px;
                font-size: 22px;
                font-weight: 800;
                line-height: 90px;
                padding: 0 30px;
            }
            .header .util{
                display: flex; /* mypage-search 좌우 */
            }
            .header .util .mypage{
                display: block;
                width: 40px;
                height: 40px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.0416 9.40112C6.9472 8.32499 6.4 7.02723 6.4 5.50785C6.4 3.98873 6.9472 2.69098 8.0416 1.61459C9.136 0.538195 10.4555 0 12 0C13.5445 0 14.864 0.538195 15.9584 1.61459C17.0528 2.69098 17.6 3.98873 17.6 5.50785C17.6 7.02723 17.0528 8.32499 15.9584 9.40112C14.864 10.4775 13.5445 11.0157 12 11.0157C10.4555 11.0157 9.136 10.4775 8.0416 9.40112ZM0 20.6092V19.5013C0 18.7308 0.2128 18.0171 0.6384 17.3604C1.064 16.7036 1.6328 16.1987 2.3448 15.8457C3.92613 15.0833 5.52147 14.5114 7.1308 14.13C8.74013 13.7486 10.3632 13.558 12 13.558C13.6368 13.558 15.2599 13.7486 16.8692 14.13C18.4785 14.5114 20.0739 15.0833 21.6552 15.8457C22.3672 16.1987 22.936 16.7036 23.3616 17.3604C23.7872 18.0171 24 18.7308 24 19.5013V20.6092C24 21.2728 23.7636 21.8372 23.2908 22.3025C22.818 22.7675 22.2441 23 21.5692 23H2.4308C1.75587 23 1.182 22.7675 0.7092 22.3025C0.2364 21.8372 0 21.2728 0 20.6092ZM2.4 20.6395H21.6V19.5013C21.6 19.1827 21.5061 18.8876 21.3184 18.6161C21.1307 18.3449 20.8759 18.1236 20.554 17.9521C19.1753 17.2843 17.7707 16.7784 16.34 16.4342C14.9093 16.0904 13.4627 15.9185 12 15.9185C10.5373 15.9185 9.09067 16.0904 7.66 16.4342C6.22933 16.7784 4.82467 17.2843 3.446 17.9521C3.12413 18.1236 2.86933 18.3449 2.6816 18.6161C2.49387 18.8876 2.4 19.1827 2.4 19.5013V20.6395ZM14.26 7.73066C14.8867 7.11431 15.2 6.37337 15.2 5.50785C15.2 4.64233 14.8867 3.90139 14.26 3.28504C13.6333 2.66868 12.88 2.36051 12 2.36051C11.12 2.36051 10.3667 2.66868 9.74 3.28504C9.11333 3.90139 8.8 4.64233 8.8 5.50785C8.8 6.37337 9.11333 7.11431 9.74 7.73066C10.3667 8.34702 11.12 8.65519 12 8.65519C12.88 8.65519 13.6333 8.34702 14.26 7.73066Z' fill='white'/%3E%3C/svg%3E ");
                background-position: center;
                background-repeat: no-repeat;
            }
            .header .util .search .search_open{
                display: block;
                width: 40px;
                height: 40px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.69577 17.3868C6.2675 17.3868 4.21108 16.5448 2.52651 14.861C0.842169 13.1768 0 11.121 0 8.69338C0 6.26578 0.842169 4.20992 2.52651 2.52581C4.21108 0.841937 6.2675 0 8.69577 0C11.124 0 13.1805 0.841937 14.865 2.52581C16.5494 4.20992 17.3916 6.26578 17.3916 8.69338C17.3916 9.70863 17.2211 10.6783 16.8803 11.6023C16.5393 12.5263 16.0844 13.33 15.5156 14.0133L23.6977 22.1932C23.8946 22.3898 23.9954 22.6372 23.9999 22.9352C24.0044 23.2333 23.9036 23.4853 23.6977 23.6912C23.4917 23.8971 23.2419 24 22.9483 24C22.6549 24 22.4052 23.8971 22.1993 23.6912L14.0172 15.5113C13.3062 16.0982 12.4886 16.5575 11.5643 16.8892C10.64 17.2209 9.68382 17.3868 8.69577 17.3868ZM8.69577 15.2547C10.528 15.2547 12.0799 14.619 13.3513 13.3477C14.6231 12.0765 15.2589 10.5251 15.2589 8.69338C15.2589 6.86166 14.6231 5.31023 13.3513 4.03909C12.0799 2.76772 10.528 2.13203 8.69577 2.13203C6.86355 2.13203 5.3117 2.76772 4.04021 4.03909C2.76848 5.31023 2.13262 6.86166 2.13262 8.69338C2.13262 10.5251 2.76848 12.0765 4.04021 13.3477C5.3117 14.619 6.86355 15.2547 8.69577 15.2547Z' fill='white'/%3E%3C/svg%3E ");
                background-position: center;
                background-repeat: no-repeat;
            }
            .header[data-bg="white"] .util .mypage{
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.0416 9.40112C6.9472 8.32499 6.4 7.02723 6.4 5.50785C6.4 3.98873 6.9472 2.69098 8.0416 1.61459C9.136 0.538195 10.4555 0 12 0C13.5445 0 14.864 0.538195 15.9584 1.61459C17.0528 2.69098 17.6 3.98873 17.6 5.50785C17.6 7.02723 17.0528 8.32499 15.9584 9.40112C14.864 10.4775 13.5445 11.0157 12 11.0157C10.4555 11.0157 9.136 10.4775 8.0416 9.40112ZM0 20.6092V19.5013C0 18.7308 0.2128 18.0171 0.6384 17.3604C1.064 16.7036 1.6328 16.1987 2.3448 15.8457C3.92613 15.0833 5.52147 14.5114 7.1308 14.13C8.74013 13.7486 10.3632 13.558 12 13.558C13.6368 13.558 15.2599 13.7486 16.8692 14.13C18.4785 14.5114 20.0739 15.0833 21.6552 15.8457C22.3672 16.1987 22.936 16.7036 23.3616 17.3604C23.7872 18.0171 24 18.7308 24 19.5013V20.6092C24 21.2728 23.7636 21.8372 23.2908 22.3025C22.818 22.7675 22.2441 23 21.5692 23H2.4308C1.75587 23 1.182 22.7675 0.7092 22.3025C0.2364 21.8372 0 21.2728 0 20.6092ZM2.4 20.6395H21.6V19.5013C21.6 19.1827 21.5061 18.8876 21.3184 18.6161C21.1307 18.3449 20.8759 18.1236 20.554 17.9521C19.1753 17.2843 17.7707 16.7784 16.34 16.4342C14.9093 16.0904 13.4627 15.9185 12 15.9185C10.5373 15.9185 9.09067 16.0904 7.66 16.4342C6.22933 16.7784 4.82467 17.2843 3.446 17.9521C3.12413 18.1236 2.86933 18.3449 2.6816 18.6161C2.49387 18.8876 2.4 19.1827 2.4 19.5013V20.6395ZM14.26 7.73066C14.8867 7.11431 15.2 6.37337 15.2 5.50785C15.2 4.64233 14.8867 3.90139 14.26 3.28504C13.6333 2.66868 12.88 2.36051 12 2.36051C11.12 2.36051 10.3667 2.66868 9.74 3.28504C9.11333 3.90139 8.8 4.64233 8.8 5.50785C8.8 6.37337 9.11333 7.11431 9.74 7.73066C10.3667 8.34702 11.12 8.65519 12 8.65519C12.88 8.65519 13.6333 8.34702 14.26 7.73066Z' fill='%23254F07'/%3E%3C/svg%3E ");
            }
            .header[data-bg="white"] .util .search .search_open{
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.69577 17.3868C6.2675 17.3868 4.21108 16.5448 2.52651 14.861C0.842169 13.1768 0 11.121 0 8.69338C0 6.26578 0.842169 4.20992 2.52651 2.52581C4.21108 0.841937 6.2675 0 8.69577 0C11.124 0 13.1805 0.841937 14.865 2.52581C16.5494 4.20992 17.3916 6.26578 17.3916 8.69338C17.3916 9.70863 17.2211 10.6783 16.8803 11.6023C16.5393 12.5263 16.0844 13.33 15.5156 14.0133L23.6977 22.1932C23.8946 22.3898 23.9954 22.6372 23.9999 22.9352C24.0044 23.2333 23.9036 23.4853 23.6977 23.6912C23.4917 23.8971 23.2419 24 22.9483 24C22.6549 24 22.4052 23.8971 22.1993 23.6912L14.0172 15.5113C13.3062 16.0982 12.4886 16.5575 11.5643 16.8892C10.64 17.2209 9.68382 17.3868 8.69577 17.3868ZM8.69577 15.2547C10.528 15.2547 12.0799 14.619 13.3513 13.3477C14.6231 12.0765 15.2589 10.5251 15.2589 8.69338C15.2589 6.86166 14.6231 5.31023 13.3513 4.03909C12.0799 2.76772 10.528 2.13203 8.69577 2.13203C6.86355 2.13203 5.3117 2.76772 4.04021 4.03909C2.76848 5.31023 2.13262 6.86166 2.13262 8.69338C2.13262 10.5251 2.76848 12.0765 4.04021 13.3477C5.3117 14.619 6.86355 15.2547 8.69577 15.2547Z' fill='%23254F07'/%3E%3C/svg%3E ");
            }
}/* @media */
@media screen and (max-width:1024px){/* 1024보다 작을때 */
            .header .wrapper{
                margin-right: 0;/* 메뉴를 오른쪽에 바짝 붙이기 위해 */
            }
            .header .gnb .gnb_open{
                width: clamp(56px, 9vw, 90px);
                height: clamp(56px, 9vw, 90px);
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='17' viewBox='0 0 22 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.42857V0H22V2.42857H0ZM0 17V14.5714H22V17H0ZM0 9.71429V7.28571H22V9.71429H0Z' fill='white'/%3E%3C/svg%3E ");   
                background-position: center center;
                background-repeat: no-repeat;
            }
            .header .gnb .gnb_wrap{
                display: none;
            }
            .header .util{
                display: none;
            }
            .header[data-bg="white"] .gnb .gnb_open{
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='17' viewBox='0 0 22 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.42857V0H22V2.42857H0ZM0 17V14.5714H22V17H0ZM0 9.71429V7.28571H22V9.71429H0Z' fill='%23254F07'/%3E%3C/svg%3E ");   
            }
}/* @media */