/*
layout.css
header/footer 처럼 모든 페이지에 들어가는 요소를 코딩
*/

.header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: clamp(56px, 9vw, 90px);
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    opacity: 1;
    transition: opacity 0.3s;
}
.header .wrapper{
    display: flex; /* logo-gnb-util 좌우 */
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0 clamp(16px, 3vw, 30px);
}
.header .logo a{
    display: block;
    width: clamp(78px, 12.7vw, 127px);
    height: clamp(19px, 3.1vw, 31px);
    background: url(../images/common/logo_w.svg) no-repeat left center / contain;
}
@media screen and (min-width:769px){  /* pc에서만 */
            .header[data-bg="white"]{
                color: #1d1d1d;
                border-color: #ededed;
            }
            .header[data-bg="white"] .logo a{
                background-image: url(../images/common/logo.svg);
            }
            .header[data-bg="none"]{
                opacity: 0;
            }
}
@media screen and (min-width:1025px) { /* 1025px이상일때 */
            .header .gnb .gnb_open{
                display: none;
            }
            .header .gnb .gnb_wrap ul.dpeth1{
                display: flex; /* li좌우배치 */
            }
            .header .gnb .gnb_wrap ul.dpeth1 > li > a{
                display: block;
                line-height: 90px;
                font-size: 22px;
                font-weight: 800;
                padding: 0 27px;
            }
            .header .util{
                display: flex; /* mypage - search 좌우배치 */
            }
            .header .util .mypage{
                display: block;
                width: 35px;
                height: 35px;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.14531 8.10469C5.2151 7.17448 4.75 6.05625 4.75 4.75C4.75 3.44375 5.2151 2.32552 6.14531 1.39531C7.07552 0.465104 8.19375 0 9.5 0C10.8062 0 11.9245 0.465104 12.8547 1.39531C13.7849 2.32552 14.25 3.44375 14.25 4.75C14.25 6.05625 13.7849 7.17448 12.8547 8.10469C11.9245 9.0349 10.8062 9.5 9.5 9.5C8.19375 9.5 7.07552 9.0349 6.14531 8.10469ZM0 16.625V15.675C0 15.0021 0.173177 14.3836 0.519531 13.8195C0.865885 13.2555 1.32604 12.825 1.9 12.5281C3.12708 11.9146 4.37396 11.4544 5.64062 11.1477C6.90729 10.8409 8.19375 10.6875 9.5 10.6875C10.8062 10.6875 12.0927 10.8409 13.3594 11.1477C14.626 11.4544 15.8729 11.9146 17.1 12.5281C17.674 12.825 18.1341 13.2555 18.4805 13.8195C18.8268 14.3836 19 15.0021 19 15.675V16.625C19 17.2781 18.7674 17.8372 18.3023 18.3023C17.8372 18.7674 17.2781 19 16.625 19H2.375C1.72187 19 1.16276 18.7674 0.697656 18.3023C0.232552 17.8372 0 17.2781 0 16.625ZM2.375 16.625H16.625V15.675C16.625 15.4573 16.5706 15.2594 16.4617 15.0813C16.3529 14.9031 16.2094 14.7646 16.0312 14.6656C14.9625 14.1313 13.8839 13.7305 12.7953 13.4633C11.7068 13.1961 10.6083 13.0625 9.5 13.0625C8.39167 13.0625 7.29323 13.1961 6.20469 13.4633C5.11615 13.7305 4.0375 14.1313 2.96875 14.6656C2.79063 14.7646 2.64714 14.9031 2.53828 15.0813C2.42943 15.2594 2.375 15.4573 2.375 15.675V16.625ZM11.1773 6.42734C11.6424 5.96224 11.875 5.40312 11.875 4.75C11.875 4.09688 11.6424 3.53776 11.1773 3.07266C10.7122 2.60755 10.1531 2.375 9.5 2.375C8.84688 2.375 8.28776 2.60755 7.82266 3.07266C7.35755 3.53776 7.125 4.09688 7.125 4.75C7.125 5.40312 7.35755 5.96224 7.82266 6.42734C8.28776 6.89245 8.84688 7.125 9.5 7.125C10.1531 7.125 10.7122 6.89245 11.1773 6.42734Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            .header .util .search .search_open{
                width: 35px;
                height: 35px;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76671 16.2731C5.59602 16.2731 3.75889 15.4855 2.25533 13.9104C0.751778 12.3352 0 10.4106 0 8.13656C0 5.86249 0.751778 3.93789 2.25533 2.36273C3.75889 0.787577 5.59602 0 7.76671 0C9.93741 0 11.7745 0.787577 13.2781 2.36273C14.7816 3.93789 15.5334 5.86249 15.5334 8.13656C15.5334 9.05453 15.394 9.92034 15.1152 10.734C14.8364 11.5477 14.458 12.2674 13.9801 12.8933L20.6714 19.9033C20.8905 20.1328 21 20.4248 21 20.7795C21 21.1342 20.8905 21.4263 20.6714 21.6558C20.4523 21.8853 20.1735 22 19.835 22C19.4964 22 19.2176 21.8853 18.9986 21.6558L12.3073 14.6458C11.7098 15.1465 11.0228 15.5429 10.2461 15.835C9.46942 16.1271 8.64296 16.2731 7.76671 16.2731ZM7.76671 13.7696C9.26031 13.7696 10.5299 13.2219 11.5754 12.1266C12.6209 11.0313 13.1437 9.70128 13.1437 8.13656C13.1437 6.57183 12.6209 5.24182 11.5754 4.14651C10.5299 3.05121 9.26031 2.50356 7.76671 2.50356C6.27312 2.50356 5.00356 3.05121 3.95804 4.14651C2.91252 5.24182 2.38976 6.57183 2.38976 8.13656C2.38976 9.70128 2.91252 11.0313 3.95804 12.1266C5.00356 13.2219 6.27312 13.7696 7.76671 13.7696Z' fill='white'/%3E%3C/svg%3E%0A");
            }
            .header[data-bg="white"] .util .mypage{
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.14531 8.10469C5.2151 7.17448 4.75 6.05625 4.75 4.75C4.75 3.44375 5.2151 2.32552 6.14531 1.39531C7.07552 0.465104 8.19375 0 9.5 0C10.8062 0 11.9245 0.465104 12.8547 1.39531C13.7849 2.32552 14.25 3.44375 14.25 4.75C14.25 6.05625 13.7849 7.17448 12.8547 8.10469C11.9245 9.0349 10.8062 9.5 9.5 9.5C8.19375 9.5 7.07552 9.0349 6.14531 8.10469ZM0 16.625V15.675C0 15.0021 0.173177 14.3836 0.519531 13.8195C0.865885 13.2555 1.32604 12.825 1.9 12.5281C3.12708 11.9146 4.37396 11.4544 5.64062 11.1477C6.90729 10.8409 8.19375 10.6875 9.5 10.6875C10.8062 10.6875 12.0927 10.8409 13.3594 11.1477C14.626 11.4544 15.8729 11.9146 17.1 12.5281C17.674 12.825 18.1341 13.2555 18.4805 13.8195C18.8268 14.3836 19 15.0021 19 15.675V16.625C19 17.2781 18.7674 17.8372 18.3023 18.3023C17.8372 18.7674 17.2781 19 16.625 19H2.375C1.72187 19 1.16276 18.7674 0.697656 18.3023C0.232552 17.8372 0 17.2781 0 16.625ZM2.375 16.625H16.625V15.675C16.625 15.4573 16.5706 15.2594 16.4617 15.0813C16.3529 14.9031 16.2094 14.7646 16.0312 14.6656C14.9625 14.1313 13.8839 13.7305 12.7953 13.4633C11.7068 13.1961 10.6083 13.0625 9.5 13.0625C8.39167 13.0625 7.29323 13.1961 6.20469 13.4633C5.11615 13.7305 4.0375 14.1313 2.96875 14.6656C2.79063 14.7646 2.64714 14.9031 2.53828 15.0813C2.42943 15.2594 2.375 15.4573 2.375 15.675V16.625ZM11.1773 6.42734C11.6424 5.96224 11.875 5.40312 11.875 4.75C11.875 4.09688 11.6424 3.53776 11.1773 3.07266C10.7122 2.60755 10.1531 2.375 9.5 2.375C8.84688 2.375 8.28776 2.60755 7.82266 3.07266C7.35755 3.53776 7.125 4.09688 7.125 4.75C7.125 5.40312 7.35755 5.96224 7.82266 6.42734C8.28776 6.89245 8.84688 7.125 9.5 7.125C10.1531 7.125 10.7122 6.89245 11.1773 6.42734Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
            }
            .header[data-bg="white"] .util .search .search_open{
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76671 16.2731C5.59602 16.2731 3.75889 15.4855 2.25533 13.9104C0.751778 12.3352 0 10.4106 0 8.13656C0 5.86249 0.751778 3.93789 2.25533 2.36273C3.75889 0.787577 5.59602 0 7.76671 0C9.93741 0 11.7745 0.787577 13.2781 2.36273C14.7816 3.93789 15.5334 5.86249 15.5334 8.13656C15.5334 9.05453 15.394 9.92034 15.1152 10.734C14.8364 11.5477 14.458 12.2674 13.9801 12.8933L20.6714 19.9033C20.8905 20.1328 21 20.4248 21 20.7795C21 21.1342 20.8905 21.4263 20.6714 21.6558C20.4523 21.8853 20.1735 22 19.835 22C19.4964 22 19.2176 21.8853 18.9986 21.6558L12.3073 14.6458C11.7098 15.1465 11.0228 15.5429 10.2461 15.835C9.46942 16.1271 8.64296 16.2731 7.76671 16.2731ZM7.76671 13.7696C9.26031 13.7696 10.5299 13.2219 11.5754 12.1266C12.6209 11.0313 13.1437 9.70128 13.1437 8.13656C13.1437 6.57183 12.6209 5.24182 11.5754 4.14651C10.5299 3.05121 9.26031 2.50356 7.76671 2.50356C6.27312 2.50356 5.00356 3.05121 3.95804 4.14651C2.91252 5.24182 2.38976 6.57183 2.38976 8.13656C2.38976 9.70128 2.91252 11.0313 3.95804 12.1266C5.00356 13.2219 6.27312 13.7696 7.76671 13.7696Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
            }
}/*@media*/
@media screen and (max-width:1024px) { /* 1024px 보다 작을때 */
        .header .wrapper{
            margin-right: 0; /* 메뉴를 오른쪽에 바짝 붙이기 위해 */
        }
        .header .gnb .gnb_open{
            width: clamp(56px, 9vw, 90px);
            height: clamp(56px, 9vw, 90px);
            background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.27778 2.57143C0.915741 2.57143 0.612269 2.44821 0.367361 2.20179C0.122454 1.95536 0 1.65 0 1.28571C0 0.921429 0.122454 0.616071 0.367361 0.369643C0.612269 0.123214 0.915741 0 1.27778 0H21.7222C22.0843 0 22.3877 0.123214 22.6326 0.369643C22.8775 0.616071 23 0.921429 23 1.28571C23 1.65 22.8775 1.95536 22.6326 2.20179C22.3877 2.44821 22.0843 2.57143 21.7222 2.57143H1.27778ZM1.27778 18C0.915741 18 0.612269 17.8768 0.367361 17.6304C0.122454 17.3839 0 17.0786 0 16.7143C0 16.35 0.122454 16.0446 0.367361 15.7982C0.612269 15.5518 0.915741 15.4286 1.27778 15.4286H21.7222C22.0843 15.4286 22.3877 15.5518 22.6326 15.7982C22.8775 16.0446 23 16.35 23 16.7143C23 17.0786 22.8775 17.3839 22.6326 17.6304C22.3877 17.8768 22.0843 18 21.7222 18H1.27778ZM1.27778 10.2857C0.915741 10.2857 0.612269 10.1625 0.367361 9.91607C0.122454 9.66964 0 9.36429 0 9C0 8.63571 0.122454 8.33036 0.367361 8.08393C0.612269 7.8375 0.915741 7.71429 1.27778 7.71429H21.7222C22.0843 7.71429 22.3877 7.8375 22.6326 8.08393C22.8775 8.33036 23 8.63571 23 9C23 9.36429 22.8775 9.66964 22.6326 9.91607C22.3877 10.1625 22.0843 10.2857 21.7222 10.2857H1.27778Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center center;
        }
        .header .gnb .gnb_wrap{
            display: none;
        }
        .header .util{
            display: none;
        }
}/*@media*/

@media screen and (min-width:769px) and (max-width:1024px){
            .header[data-bg="white"] .gnb .gnb_open{
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.27778 2.57143C0.915741 2.57143 0.612269 2.44821 0.367361 2.20179C0.122454 1.95536 0 1.65 0 1.28571C0 0.921429 0.122454 0.616071 0.367361 0.369643C0.612269 0.123214 0.915741 0 1.27778 0H21.7222C22.0843 0 22.3877 0.123214 22.6326 0.369643C22.8775 0.616071 23 0.921429 23 1.28571C23 1.65 22.8775 1.95536 22.6326 2.20179C22.3877 2.44821 22.0843 2.57143 21.7222 2.57143H1.27778ZM1.27778 18C0.915741 18 0.612269 17.8768 0.367361 17.6304C0.122454 17.3839 0 17.0786 0 16.7143C0 16.35 0.122454 16.0446 0.367361 15.7982C0.612269 15.5518 0.915741 15.4286 1.27778 15.4286H21.7222C22.0843 15.4286 22.3877 15.5518 22.6326 15.7982C22.8775 16.0446 23 16.35 23 16.7143C23 17.0786 22.8775 17.3839 22.6326 17.6304C22.3877 17.8768 22.0843 18 21.7222 18H1.27778ZM1.27778 10.2857C0.915741 10.2857 0.612269 10.1625 0.367361 9.91607C0.122454 9.66964 0 9.36429 0 9C0 8.63571 0.122454 8.33036 0.367361 8.08393C0.612269 7.8375 0.915741 7.71429 1.27778 7.71429H21.7222C22.0843 7.71429 22.3877 7.8375 22.6326 8.08393C22.8775 8.33036 23 8.63571 23 9C23 9.36429 22.8775 9.66964 22.6326 9.91607C22.3877 10.1625 22.0843 10.2857 21.7222 10.2857H1.27778Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
            }
}
@media screen and (max-width:768px){
            .header:not([data-bg=""]){ /* data-bg 속성이 비어있는 값만 아니라면 */
                color: #1d1d1d;
                border-color: #ededed;
                background-color: #fff;
            }
            .header:not([data-bg=""]) .logo a{
                background-image: url(../images/common/logo.svg);
            }
            .header:not([data-bg=""]) .gnb .gnb_open{
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.27778 2.57143C0.915741 2.57143 0.612269 2.44821 0.367361 2.20179C0.122454 1.95536 0 1.65 0 1.28571C0 0.921429 0.122454 0.616071 0.367361 0.369643C0.612269 0.123214 0.915741 0 1.27778 0H21.7222C22.0843 0 22.3877 0.123214 22.6326 0.369643C22.8775 0.616071 23 0.921429 23 1.28571C23 1.65 22.8775 1.95536 22.6326 2.20179C22.3877 2.44821 22.0843 2.57143 21.7222 2.57143H1.27778ZM1.27778 18C0.915741 18 0.612269 17.8768 0.367361 17.6304C0.122454 17.3839 0 17.0786 0 16.7143C0 16.35 0.122454 16.0446 0.367361 15.7982C0.612269 15.5518 0.915741 15.4286 1.27778 15.4286H21.7222C22.0843 15.4286 22.3877 15.5518 22.6326 15.7982C22.8775 16.0446 23 16.35 23 16.7143C23 17.0786 22.8775 17.3839 22.6326 17.6304C22.3877 17.8768 22.0843 18 21.7222 18H1.27778ZM1.27778 10.2857C0.915741 10.2857 0.612269 10.1625 0.367361 9.91607C0.122454 9.66964 0 9.36429 0 9C0 8.63571 0.122454 8.33036 0.367361 8.08393C0.612269 7.8375 0.915741 7.71429 1.27778 7.71429H21.7222C22.0843 7.71429 22.3877 7.8375 22.6326 8.08393C22.8775 8.33036 23 8.63571 23 9C23 9.36429 22.8775 9.66964 22.6326 9.91607C22.3877 10.1625 22.0843 10.2857 21.7222 10.2857H1.27778Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
            }
}