@import url(reset.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual .swiper{
    width: 100vw;
}
.visual .swiper-slide{
    height: 100vh;
    display: flex;/* visual_txt를 위아래 가운데 */
    flex-direction: column;
    justify-content: center;
}
.visual .swiper-slide .photo,
.visual .swiper-slide .video{
    position: absolute; /* .swiper-slide를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img,
.visual .swiper-slide .video video,
.visual .swiper-slide .video video source{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .photo img{
    transform: scale3d(1.125, 1.125, 1);
    transition: transform 2s;
}
.visual .swiper-slide.swiper-slide-active .photo img{
    transform: scale3d(1, 1, 1);
}
.visual .swiper-slide .visual_txt{
    font-size: clamp(32px, 7vw, 80px);
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
    text-align: center;
}
.visual .swiper-slide .visual_txt .line{
    overflow: hidden;
}
.visual .swiper-slide .visual_txt .line span{
    display: block;
    transform: translateY(100%);
    transition: transform 0.5s;
    transition-delay: 0.3s;
}
.visual .swiper-slide.swiper-slide-active .visual_txt .line:first-child span{
    transition-delay: 0.3s;
}
.visual .swiper-slide.swiper-slide-active .visual_txt .line:last-child span{
    transition-delay: 0.5s;
}
.visual .swiper-slide.swiper-slide-active .visual_txt .line span{
    transform: translateY(0);
}

.tree .wrapper{
    display: flex; /* txt-photo 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
.tree .txt h2{
    display: flex; /* 좌우 정렬 */
    color: #084734;
}
.tree .txt h2 strong{
    font-size: 100px;
    font-weight: 800;
    line-height: 1.3;
}
.tree .txt h2 span{
    margin: 30px 0 0 10px;
    font-size: 24px;
    font-weight: 800;
}
.tree .txt .sub_tit{
    font-size: 28px;
    font-weight: 800;
    line-height: 1.3;
    color: #084734;
    margin: 25px 0 10px 0;
}
.tree .photo{
    width: 59.76%;
    position: relative; /* 나무 정렬의 기준 */
}
.tree .photo .tree{
    width: 89%;
}
.tree .photo .flower01{
    width: 31.08%;
    position: absolute; /* photo를 기준으로 */
    right: 0;
    top: 0;
    animation: rotate 3s linear infinite;
}
.tree .photo .flower02{
    width: 21.25%;
    position: absolute; /* photo를 기준으로 */
    left: -5.31%;
    bottom: 2.39%;
    animation: rotate 3s linear infinite;
}
.tree .photo .animal01{
    width: 23.37%;
    position: absolute; /* photo를 기준으로 */
    right: 10.89%;
    bottom: 3.59%;
}
.tree .photo .fly01{
    width: 10.23%;
    position: absolute; /* photo를 기준으로 */
    left: 18.89%;
    top: 15.59%;
    animation: tree_bye 5s linear infinite;
}

@keyframes tree_bye{
    0%{transform: translate(0, 0); opacity: 1;}
    100%{transform: translate(-200%, -500%); opacity: 0;}
}
@keyframes rotate {
    0%{transform: rotate(10deg) scale3d(1,1,1);}
    50%{transform: rotate(-10deg) scale3d(0.7,0.7,1);}
    100%{transform: rotate(10deg) scale3d(1,1,1);}
}

.biz{
    background-color: #ECF3E7;
    color: #1d1d1d;
}
.story{

}
.footer{
    background-color: #E6EDEB;
    color: #1d1d1d;
}

.sec_nav{
    position: fixed; /* 브라우저를 기준으로 정렬 */
    left: 33px;
    top: 50%; /* 브라우저 높이의 50% */
    transform: translateY(-50%); /* sec_nav 나의 길의 절반을 위로 올라감 */
}
.sec_nav ul{
    display: flex;
    flex-direction: column;
    gap: 2px 0;
}
.sec_nav ul li a{
    display: block;
    color: rgba(225, 225, 225, 0.5);
    padding: 0 12px 0 29px;
    position: relative;  /* before 정렬의 기준 */
}
.sec_nav ul li a::before{
    content: "";
    position: absolute;
    left: 9px;
    top: 10px;
    width: 4px;
    height: 4px;
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-radius: 50%;
}
.sec_nav ul li a span{
    padding: 6px 0 6px 0;
}
.sec_nav ul li.active a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}
.sec_nav ul li.active a::before{
    border-color: #fff;
    background: #fff;
}
/* 배경색이 흰색이 되었을때 */
.sec_nav[data-bg="white"] ul li a{
    color: rgba(29, 29, 29, 0.3);
}
.sec_nav[data-bg="white"] ul li a::before{
    border-color: rgba(29, 29, 29, 0.3);
}
.sec_nav[data-bg="white"] ul li.active a{
    border: 1px solid #254F07;
    color: #254F07;
}
.sec_nav[data-bg="white"] ul li.active a::before{
    border-color: #254F07;
    background: #254F07;
}
.sec_nav{
    transition: opacity 0.3s;
}
.sec_nav[data-bg="none"]{
    opacity: 0;
}

.quick{
    position: fixed;
    right: 33px;
    top: 50%;
    transform: translateY(-50%);
    width: 101px;
    padding-bottom: 111px; /* open,close 들어갈 자리 */
}
.quick .open,
.quick .close{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 101px;
    height: 101px;
    border-radius: 50%;
    background-color: #254F07;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.quick .open{
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='16' viewBox='0 0 30 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07706 2.76933C7.70206 2.76933 7.38765 2.64148 7.13382 2.38578C6.8803 2.13007 6.75353 1.81333 6.75353 1.43556C6.75353 1.05748 6.8803 0.74074 7.13382 0.485333C7.38765 0.230221 7.70206 0.102667 8.07706 0.102667H28.6765C29.0515 0.102667 29.3657 0.230519 29.6193 0.486222C29.8731 0.741926 30 1.05867 30 1.43644C30 1.81452 29.8731 2.13111 29.6193 2.38622C29.3657 2.64163 29.0515 2.76933 28.6765 2.76933H8.07706ZM8.07706 9.33333C7.70206 9.33333 7.38765 9.20548 7.13382 8.94978C6.8803 8.69407 6.75353 8.37733 6.75353 7.99956C6.75353 7.62148 6.8803 7.30489 7.13382 7.04978C7.38765 6.79437 7.70206 6.66667 8.07706 6.66667H28.6765C29.0515 6.66667 29.3657 6.79452 29.6193 7.05022C29.8731 7.30593 30 7.62267 30 8.00045C30 8.37852 29.8731 8.69511 29.6193 8.95022C29.3657 9.20563 29.0515 9.33333 28.6765 9.33333H8.07706ZM8.07706 15.8973C7.70206 15.8973 7.38765 15.7695 7.13382 15.5138C6.8803 15.2581 6.75353 14.9413 6.75353 14.5636C6.75353 14.1855 6.8803 13.8689 7.13382 13.6138C7.38765 13.3584 7.70206 13.2307 8.07706 13.2307H28.6765C29.0515 13.2307 29.3657 13.3585 29.6193 13.6142C29.8731 13.8699 30 14.1867 30 14.5644C30 14.9425 29.8731 15.2593 29.6193 15.5147C29.3657 15.7698 29.0515 15.8973 28.6765 15.8973H8.07706ZM1.42544 2.872C1.02162 2.872 0.683088 2.73274 0.409853 2.45422C0.136617 2.1757 0 1.83052 0 1.41867C0 1.01689 0.136617 0.68 0.409853 0.408C0.683088 0.136 1.02162 0 1.42544 0C1.82926 0 2.16779 0.136 2.44103 0.408C2.71426 0.68 2.85088 1.01689 2.85088 1.41867C2.85088 1.83052 2.71426 2.1757 2.44103 2.45422C2.16779 2.73274 1.82926 2.872 1.42544 2.872ZM1.42544 9.41867C1.02162 9.41867 0.683088 9.28267 0.409853 9.01067C0.136617 8.73896 0 8.40207 0 8C0 7.576 0.136617 7.22785 0.409853 6.95556C0.683088 6.68326 1.02162 6.54711 1.42544 6.54711C1.82926 6.54711 2.16779 6.68326 2.44103 6.95556C2.71426 7.22785 2.85088 7.576 2.85088 8C2.85088 8.40207 2.71426 8.73896 2.44103 9.01067C2.16779 9.28267 1.82926 9.41867 1.42544 9.41867ZM1.42544 16C1.02162 16 0.683088 15.8607 0.409853 15.5822C0.136617 15.3037 0 14.9587 0 14.5471C0 14.145 0.136617 13.808 0.409853 13.536C0.683088 13.264 1.02162 13.128 1.42544 13.128C1.82926 13.128 2.16779 13.264 2.44103 13.536C2.71426 13.808 2.85088 14.145 2.85088 14.5471C2.85088 14.9587 2.71426 15.3037 2.44103 15.5822C2.16779 15.8607 1.82926 16 1.42544 16Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .close{
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 12.827L2.20416 21.6233C1.96402 21.8632 1.66219 21.986 1.29866 21.9918C0.935414 21.9973 0.628089 21.8744 0.37668 21.6233C0.12556 21.3719 0 21.0673 0 20.7096C0 20.3518 0.12556 20.0472 0.37668 19.7958L9.17295 11L0.37668 2.20416C0.13683 1.96402 0.0140154 1.66219 0.00823591 1.29866C0.00274537 0.935415 0.12556 0.628089 0.37668 0.37668C0.628089 0.12556 0.932669 0 1.29042 0C1.64817 0 1.95275 0.12556 2.20416 0.37668L11 9.17295L19.7958 0.37668C20.036 0.13683 20.3378 0.0140154 20.7013 0.00823591C21.0646 0.00274537 21.3719 0.12556 21.6233 0.37668C21.8744 0.628089 22 0.932669 22 1.29042C22 1.64817 21.8744 1.95275 21.6233 2.20416L12.827 11L21.6233 19.7958C21.8632 20.036 21.986 20.3378 21.9918 20.7013C21.9973 21.0646 21.8744 21.3719 21.6233 21.6233C21.3719 21.8744 21.0673 22 20.7096 22C20.3518 22 20.0472 21.8744 19.7958 21.6233L11 12.827Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .open span,
.quick .close span{
    display: none;
}
.quick .quick_wrap ul{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}
.quick .quick_wrap ul li a,
.quick .quick_wrap ul li button{
    display: block;
    width: 101px;
    height: 101px;
    border: 1px solid #254F07;
    border-radius: 50%;
    background-color: #fff;
    color: #254F07;
    text-align: center;
    padding: 53px 0 0 0;
    position: relative;
}
.quick .quick_wrap ul li button{
    padding: 21px 0 0 0;
}
.quick .quick_wrap ul li a::before,
.quick .quick_wrap ul li button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
}
.quick .quick_wrap ul li.kakao a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.31079 16.8817C9.08342 16.8026 8.88333 16.6789 8.71053 16.5106L7.19842 15.1701C5.33211 13.5104 3.66579 11.88 2.19947 10.2788C0.733158 8.67769 0 6.96241 0 5.133C0 3.67609 0.503684 2.45631 1.51105 1.47369C2.5186 0.491228 3.7693 0 5.26316 0C6.11193 0 6.95035 0.190862 7.77842 0.572587C8.60632 0.954311 9.34684 1.57421 10 2.43227C10.6532 1.57421 11.3937 0.954311 12.2216 0.572587C13.0496 0.190862 13.8881 0 14.7368 0C16.2307 0 17.4814 0.491228 18.4889 1.47369C19.4963 2.45631 20 3.67609 20 5.133C20 6.98226 19.2544 8.71661 17.7632 10.3361C16.2719 11.9555 14.6093 13.5721 12.7753 15.1857L11.2792 16.5106C11.1066 16.6789 10.9049 16.8026 10.6742 16.8817C10.4433 16.9606 10.2153 17 9.99 17C9.76456 17 9.53816 16.9606 9.31079 16.8817ZM9.2429 3.99194C8.67342 3.14568 8.07386 2.52544 7.44421 2.13122C6.81474 1.73701 6.08772 1.5399 5.26316 1.5399C4.21053 1.5399 3.33333 1.8821 2.63158 2.5665C1.92982 3.2509 1.57895 4.1064 1.57895 5.133C1.57895 5.95685 1.85123 6.81826 2.39579 7.71722C2.94035 8.61618 3.62386 9.50983 4.44632 10.3982C5.26877 11.2867 6.15982 12.1547 7.11947 13.0022C8.07895 13.8498 8.96825 14.6375 9.78737 15.3654C9.84807 15.4181 9.91895 15.4444 10 15.4444C10.0811 15.4444 10.1519 15.4181 10.2126 15.3654C11.0318 14.6375 11.9211 13.8498 12.8805 13.0022C13.8402 12.1547 14.7312 11.2867 15.5537 10.3982C16.3761 9.50983 17.0597 8.61618 17.6042 7.71722C18.1488 6.81826 18.4211 5.95685 18.4211 5.133C18.4211 4.1064 18.0702 3.2509 17.3684 2.5665C16.6667 1.8821 15.7895 1.5399 14.7368 1.5399C13.9123 1.5399 13.1853 1.73701 12.5558 2.13122C11.9261 2.52544 11.3266 3.14568 10.7571 3.99194C10.668 4.12351 10.556 4.22224 10.4211 4.28811C10.2861 4.35382 10.1458 4.38667 10 4.38667C9.85421 4.38667 9.71386 4.35382 9.57895 4.28811C9.44404 4.22224 9.33202 4.12351 9.2429 3.99194Z' fill='%23254F07'/%3E%3C/svg%3E ");
}
.quick .quick_wrap ul li.naver a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.77398 9.00103C6.62319 9.00103 5.6463 9.40803 4.8433 10.222C4.04012 11.036 3.63853 12.0146 3.63853 13.1576C3.63853 14.3084 4.04012 15.2854 4.8433 16.0886C5.6463 16.8918 6.62319 17.2934 7.77398 17.2934C8.91706 17.2934 9.8956 16.8918 10.7096 16.0886C11.5238 15.2854 11.9309 14.3084 11.9309 13.1576C11.9309 12.0146 11.5238 11.036 10.7096 10.222C9.8956 9.40803 8.91706 9.00103 7.77398 9.00103ZM7.77398 10.651C8.46331 10.651 9.05346 10.8964 9.54443 11.3872C10.0354 11.8782 10.2809 12.4683 10.2809 13.1576C10.2809 13.8413 10.0354 14.4265 9.54443 14.9132C9.05346 15.4 8.46331 15.6434 7.77398 15.6434C7.09051 15.6434 6.5054 15.4 6.01865 14.9132C5.5319 14.4265 5.28853 13.8413 5.28853 13.1576C5.28853 12.4683 5.5319 11.8782 6.01865 11.3872C6.5054 10.8964 7.09051 10.651 7.77398 10.651ZM19.0278 13.4327C18.6562 13.4327 18.3447 13.5593 18.0933 13.8127C17.842 14.0663 17.7163 14.3803 17.7163 14.7549C17.7163 15.5445 17.415 16.2354 16.8124 16.8278C16.2096 17.4201 15.5202 17.7163 14.7441 17.7163C14.3725 17.7163 14.061 17.843 13.8097 18.0964C13.5583 18.3497 13.4327 18.6638 13.4327 19.0385C13.4327 19.4101 13.5583 19.7216 13.8097 19.973C14.061 20.2243 14.3725 20.35 14.7441 20.35C16.3886 20.35 17.734 19.8261 18.7803 18.7784C19.8268 17.7304 20.35 16.3893 20.35 14.7549C20.35 14.3803 20.2233 14.0663 19.97 13.8127C19.7166 13.5593 19.4025 13.4327 19.0278 13.4327ZM19.0303 11.7826C19.8536 11.7826 20.5544 12.0716 21.1327 12.6495C21.7109 13.2275 22 13.9293 22 14.7549C22 16.8421 21.3133 18.5714 19.94 19.9427C18.5664 21.3142 16.8345 22 14.7441 22C13.905 22 13.2016 21.7137 12.634 21.1412C12.0664 20.5686 11.7827 19.8677 11.7827 19.0385C11.7827 18.213 12.0664 17.5112 12.634 16.9331C13.2016 16.3553 13.905 16.0663 14.7441 16.0663C15.0573 16.0663 15.3559 15.9242 15.6401 15.6401C15.9242 15.3559 16.0663 15.0608 16.0663 14.7549C16.0663 13.9293 16.3504 13.2275 16.9186 12.6495C17.4867 12.0716 18.1906 11.7826 19.0303 11.7826ZM7.78718 0C8.82484 0 9.76699 0.337975 10.6136 1.01392C11.4603 1.69006 12.1978 2.51937 12.8263 3.50185C13.4547 4.48415 13.9731 5.53694 14.3814 6.66022C14.7897 7.78351 15.0784 8.79505 15.2477 9.69485C15.2885 9.9176 15.2401 10.108 15.1025 10.266C14.965 10.4239 14.7861 10.5028 14.5659 10.5028C14.3181 10.5028 14.1046 10.4269 13.9255 10.2751C13.7463 10.1231 13.6223 9.9297 13.5534 9.69485C13.3292 8.6372 13.0055 7.62602 12.5823 6.66132C12.1592 5.69681 11.685 4.84293 11.1598 4.0997C10.6343 3.35647 10.0815 2.76238 9.50125 2.31743C8.921 1.87248 8.34882 1.65 7.7847 1.65C7.095 1.65 6.38733 1.98211 5.6617 2.64632C4.93625 3.31054 4.27488 4.16625 3.67758 5.21345C3.08028 6.26047 2.59307 7.43481 2.21595 8.73647C1.83865 10.0381 1.65 11.3273 1.65 12.6041C1.65 13.6219 1.77833 14.5394 2.035 15.3566C2.29167 16.1739 2.67511 16.8746 3.18533 17.4589C3.69554 18.0434 4.33107 18.4933 5.0919 18.8086C5.85273 19.124 6.73411 19.2816 7.73603 19.2816C7.87004 19.2816 8.00507 19.2799 8.1411 19.2764C8.27713 19.2729 8.41216 19.2641 8.54618 19.25C8.78029 19.2203 8.98938 19.2715 9.17345 19.4035C9.35752 19.5353 9.46788 19.7182 9.50455 19.9524C9.55662 20.2202 9.46596 20.4452 9.23258 20.6272C8.99919 20.8091 8.72034 20.9035 8.39603 20.9105C5.82661 21.0643 3.78492 20.3775 2.27095 18.8502C0.756983 17.3228 0 15.242 0 12.6077C0 11.3102 0.193967 9.92218 0.5819 8.4436C0.96965 6.96502 1.51012 5.60129 2.2033 4.35243C2.8963 3.10374 3.71883 2.06617 4.67088 1.2397C5.62274 0.413234 6.66151 0 7.78718 0Z' fill='%23254F07'/%3E%3C/svg%3E ");
}
.quick .quick_wrap ul li.green a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='25' viewBox='0 0 20 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 23.0122V17.2272H6C4.33511 17.2272 2.91889 16.647 1.75133 15.4866C0.583777 14.3264 0 12.9189 0 11.2639C0 10.0152 0.375222 8.88626 1.12567 7.87714C1.87611 6.86803 2.83933 6.11798 4.01533 5.627C4.20689 3.92814 4.85989 2.56564 5.97433 1.53952C7.089 0.513171 8.43089 0 10 0C11.5691 0 12.911 0.513171 14.0257 1.53952C15.1401 2.56564 15.7931 3.92814 15.9847 5.627C17.1691 6.10097 18.1344 6.84682 18.8807 7.86455C19.6269 8.88206 20 10.0152 20 11.2639C20 12.9189 19.4162 14.3264 18.2487 15.4866C17.0811 16.647 15.6649 17.2272 14 17.2272H11V23.0122H17.6667C17.95 23.0122 18.1874 23.1075 18.379 23.2982C18.5708 23.4888 18.6667 23.7249 18.6667 24.0065C18.6667 24.2883 18.5708 24.5243 18.379 24.7144C18.1874 24.9048 17.95 25 17.6667 25H2.33333C2.05 25 1.81256 24.9047 1.621 24.7141C1.42922 24.5235 1.33333 24.2873 1.33333 24.0055C1.33333 23.7239 1.42922 23.4879 1.621 23.2975C1.81256 23.1073 2.05 23.0122 2.33333 23.0122H9ZM6 15.2395H14C15.1111 15.2395 16.0556 14.853 16.8333 14.0799C17.6111 13.3069 18 12.3683 18 11.2639C18 10.4094 17.7359 9.64448 17.2077 8.96908C16.6794 8.29391 16.0102 7.79322 15.2 7.467L14.1333 7.0234L13.9847 5.83075C13.8427 4.64163 13.4059 3.70385 12.6743 3.01741C11.9428 2.33098 11.0513 1.98776 10 1.98776C8.94867 1.98776 8.05722 2.33098 7.32567 3.01741C6.59411 3.70385 6.15733 4.64163 6.01533 5.83075L5.86667 7.0234L4.69733 7.51802C3.92133 7.84423 3.27778 8.34073 2.76667 9.00751C2.25556 9.6743 2 10.4264 2 11.2639C2 12.3683 2.38889 13.3069 3.16667 14.0799C3.94444 14.853 4.88889 15.2395 6 15.2395Z' fill='%23254F07'/%3E%3C/svg%3E ");
}
.quick .quick_wrap ul li.top button::before{
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='10' viewBox='0 0 19 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.30804 2.10689L1.71531 9.69963C1.51506 9.89988 1.27928 9.99748 1.00797 9.99244C0.736491 9.98723 0.50063 9.8845 0.300381 9.68426C0.100132 9.48384 5.82241e-06 9.24798 5.82241e-06 8.97667C5.82241e-06 8.70536 0.100132 8.46949 0.300381 8.26908L8.01709 0.536992C8.19937 0.354719 8.40356 0.219652 8.62968 0.131791C8.8558 0.04393 9.08192 -4.03124e-07 9.30804 -3.93572e-07C9.53416 -3.84019e-07 9.76028 0.04393 9.9864 0.131791C10.2125 0.219652 10.4167 0.354719 10.599 0.536992L18.3313 8.26908C18.5316 8.46949 18.6291 8.70796 18.6239 8.98448C18.6187 9.261 18.516 9.49938 18.3157 9.69963C18.1155 9.89988 17.8796 10 17.6081 10C17.3368 10 17.101 9.89988 16.9008 9.69963L9.30804 2.10689Z' fill='%23254F07'/%3E%3C/svg%3E ");
}
.quick .close{
    display: none;
}
.quick .quick_wrap{
    display: none;
}