@import url(reset.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.section{
    overflow: hidden;
}

.visual .swiper{
    width: 100vw;
}
.visual .swiper-slide{
    height: 100dvh;
    display: flex; /* visual_txt 위아래 가운데 */
    flex-direction: column;
    justify-content: center;
}
.visual .swiper-slide .photo,
.visual .swiper-slide .video{
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img,
.visual .swiper-slide .video video,
.visual .swiper-slide .video video source{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .photo img{
    transform: scale3d(1.125, 1.125, 1);
    transition: transform 2s;
}
.visual .swiper-slide.swiper-slide-active .photo img{
    transform: scale3d(1, 1, 1);
}
.visual .swiper-slide .visual_txt{
    font-size: clamp(32px, 7vw, 80px);
    font-weight: 800;
    color: #fff;
    line-height: 1.3;
    text-align: center;
}
.visual .swiper-slide .visual_txt .line{
    overflow: hidden;
}
.visual .swiper-slide .visual_txt .line span{
    display: block;
    transform: translateY(100%);
    transition: transform 0.5s;
}
.visual .swiper-slide .visual_txt .line:first-child span{
    transition-delay: 0.3s;
}
.visual .swiper-slide .visual_txt .line:last-child span{
    transition-delay: 0.5s;
}
.visual .swiper-slide.swiper-slide-active .visual_txt .line span{
    transform: translateY(0);
}


.tree .wrapper{
    display: flex; /* txt-photo 좌우배치 */
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.tree .txt h2{
    display: flex;/* 좌우 정렬 */
    color: #214889;
    line-height: 1;
}
.tree .txt h2 strong{
    font-size: clamp(50px, 10vw, 100px);
    font-weight: 800;
}
.tree .txt h2 span{
    margin: 0.6em 0 0 0.25em;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 800;
}
.tree .txt .sub_tit{
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 800;
    color: #1d1d1d;
    margin: 1em 0 0.45em 0;
}
.tree .photo{
    width: 58.81%;
    position: relative; /* 나무 정렬의 기준 */
}
.tree .photo .tree{
    width: 87.58%;
}
.tree .photo .cloud01{
    position: absolute; /* photo를 기준으로 */
    right: 0;
    z-index: 1;
    top: 14%;
    width: 40.62%;
    animation: tree_right 5s linear infinite;
}
.tree .photo .cloud02{
    position: absolute; /* photo를 기준으로 */
    left: 0;
    top: 34%;
    width: 31.71%;
    animation: tree_up 5s linear infinite;
}
@keyframes tree_right {
    0%{transform: translateX(0);}
    50%{transform: translateX(10%);}
    100%{transform: translateX(0);}
}
@keyframes tree_up {
    0%{transform: translateY(0);}
    50%{transform: translateY(10%);}
    100%{transform: translateY(0);}
}
.tree .photo .sun{
    position: absolute; /* photo를 기준으로 */
    right: 7%;
    top: 0;
    width: 27.80%;
    animation: tree_rotate 10s linear infinite;
}
@keyframes tree_rotate {
    0%{transform: rotate(0)  scale3d(1,1,1);}
    50%{transform: rotate(180deg)  scale3d(0.7,0.7,1);}
    100%{transform: rotate(360deg)  scale3d(1,1,1);}
}
.tree .photo .leaf01{
    position: absolute; /* photo를 기준으로 */
    right: 33%;
    bottom: 32%;
    width: 7.42%;
    animation: tree_leaf 5s ease infinite;
}
@keyframes tree_leaf {
    0%{transform: translate(0, 0); opacity: 1;}
    90%{transform: translate(100%, 200%); opacity: 0;}
    100%{transform: translate(100%, 200%); opacity: 0;}
}
.tree .photo .leaf02{
    position: absolute; /* photo를 기준으로 */
    left: 20%;
    bottom: 34%;
    width: 7.42%;
    animation: tree_leaf 5s ease 2s infinite;
}
@media screen and (max-width:768px) {
    .tree .wrapper{
        flex-direction: column;
        gap: 30px 0;
        margin-top: 110px;
        margin-bottom: 55px;
    }
    .tree .txt{
        text-align: center;
    }
    .tree .txt h2 {
        justify-content: center;
    }
    .tree .txt p br{
        display: none;
    }
    .tree .photo {
        width: 80%;
    }
}/*@media*/

.biz {
    background-color: #214889;
    color: #fff;
}
.biz .wrapper{
    display: flex; /* tit - list 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
.biz .tit h2{
    font-size: clamp(28px, 4.5vw, 45px);
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 0.4em 0
}
.biz .list{
    width: 56%;
    max-width: 682px;
}
.biz .list ul{
    display: flex;
    flex-wrap: wrap; /* 2줄허용 */
    gap: clamp(16px, 2.4vw, 24px) clamp(16px, 2.4vw, 24px);
}
.biz .list ul li{
    width: calc(50% - (clamp(16px, 2.4vw, 24px) / 2));
}
.biz .list ul li:nth-child(odd){/* odd 홀수, even 짝수 */
    transform: translateY(38%);
}
.biz .list ul li a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: clamp(160px, 20vw, 200px);
    background-color: #fff;
    border-radius: 10px;
    color: #3d3d3d;
    font-size: clamp(24px, 2.5vw, 32px);
    font-weight: 800;
    padding: 0 0 6% 12.16%;
    
}
.biz .list ul li a span{
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li a span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 1.9em; /*글자크기 32 */
    width: 2.94em; /* 글자크기 */
    height: 2.72em;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 90%;
}
.biz .list ul li.biz01 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='79' viewBox='0 0 80 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.7362 75.5818C0.811734 75.5818 0 76.3689 0 77.2909C0 78.2129 0.789186 79 1.7362 79H78.2638C79.053 79 79.8647 78.2129 80 77.2909C80 76.3689 79.2108 75.5818 78.2638 75.5818H73.3484V59.2781H78.2638C79.053 59.2781 80 58.491 80 57.569C80 56.647 79.2108 55.8599 78.2638 55.8599H41.6686C40.7441 55.8599 39.9324 56.647 39.9324 57.569C39.9324 58.491 40.7215 59.2781 41.6686 59.2781H46.584V75.5818H23.4273V42.772C34.4758 41.895 43.2694 32.8098 43.2694 21.5659C43.2694 9.73725 33.6866 0 21.7136 0C9.74071 0 0.0225699 9.60233 0.0225699 21.431C0.0225699 33.2596 8.81623 41.895 19.9774 42.772V75.5818H1.7362ZM21.7136 3.41817C31.7024 3.41817 40.0902 11.5588 40.0902 21.5659C40.0902 30.9883 32.7621 38.7467 23.4498 39.6237V19.8568C23.4498 18.9348 22.6607 18.1478 21.7136 18.1478C20.7666 18.1478 19.9774 18.9348 19.9774 19.8568V26.1984L12.6494 20.1267C11.8602 19.6094 10.7779 19.7219 10.2593 20.3965C9.71815 21.1836 9.85347 22.2406 10.5299 22.7578L19.9774 30.606V39.6462C10.6652 38.7691 3.33712 31.0108 3.33712 21.5884C3.33712 11.6038 11.5896 3.44066 21.7136 3.44066V3.41817ZM69.8985 59.2781V75.5818H50.0564V59.2781H69.8985Z' fill='%23214889'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz02 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='83' viewBox='0 0 84 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.83495 83H82.1877C83.0259 83 83.8641 82.1632 84 81.3491V62.2839C84 61.3114 83.1618 60.4973 82.1877 60.4973H69.8867V45.028C69.8867 44.621 69.7508 44.0556 69.3204 43.7842L43.7443 20.2411V15.7406H62.8867C63.8609 15.7406 64.699 14.9038 64.699 13.9539V1.78663C64.699 0.814154 63.8609 0 62.8867 0H41.9321C40.9579 0 40.1198 0.83677 40.1198 1.78663V20.1281L14.4078 43.7842C13.9773 44.0556 13.8414 44.621 13.8414 45.028V60.4973H1.8123C0.838195 60.4973 0 61.334 0 62.2839V81.2133C0 82.1858 0.838195 83 1.8123 83H1.83495ZM3.51133 64.0706H14V79.5398H3.51133V64.0706ZM33.2783 79.5398V64.0706H49.068V79.5398H33.2783ZM50.7444 60.4973H31.466C30.4919 60.4973 29.6537 61.334 29.6537 62.2839V79.4041H17.6246V62.2839C17.6246 62.0578 17.5793 61.8316 17.4887 61.6281V45.7065L41.9547 23.1812L66.4207 45.7065V79.4041H52.5793V62.2839C52.5793 61.3114 51.7411 60.4973 50.767 60.4973H50.7444ZM80.3754 79.5398H69.8867V64.0706H80.3754V79.5398ZM61.233 12.2804H43.767V3.5733H61.233V12.2804Z' fill='%23214889'/%3E%3Cpath d='M42.5 36C37.2817 36 33 40.2648 33 45.5C33 50.7351 37.2594 55 42.5 55C47.7406 55 52 50.7351 52 45.5C52 40.2648 47.7406 36 42.5 36ZM48.5434 45.6354C48.5434 48.9525 45.8005 51.7054 42.5 51.7054C39.1995 51.7054 36.4566 48.9525 36.4566 45.6354C36.4566 42.3183 39.1995 39.5653 42.5 39.5653C45.8005 39.5653 48.5434 42.3183 48.5434 45.6354Z' fill='%23214889'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz03 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='81' height='83' viewBox='0 0 81 83' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.4632 62.6067L62.7194 45.1565H75.7441C76.4362 45.1565 76.9816 44.7371 77.2752 44.1918C77.5479 43.6464 77.422 42.9543 77.0025 42.388L67.3127 31.4397H71.046C71.7381 31.4397 72.2834 31.0202 72.5771 30.4749C72.8497 29.9296 72.8497 29.2374 72.4303 28.6712L52.2115 0.692138C51.9389 0.272663 51.3726 0 50.8273 0C50.2819 0 49.7156 0.272663 49.443 0.692138L40.4662 13.1296L31.5734 0.817976C31.3007 0.3985 30.7344 0.125838 30.1891 0.125838C29.6438 0.125838 29.0775 0.3985 28.8048 0.817976L8.58608 28.797C8.1666 29.3423 8.16659 30.0345 8.43925 30.6008C8.71191 31.1461 9.27822 31.5656 9.97036 31.5656H13.7037L4.01381 42.5139C3.59434 42.9334 3.46848 43.7513 3.74114 44.3176C4.0138 44.8629 4.58009 45.2824 5.27222 45.2824H18.2969L0.553121 62.7326C0.00780278 63.2779 -0.139007 63.9701 0.133652 64.6622C0.406311 65.3543 1.09843 65.7738 1.79057 65.7738H22.0093V81.1476C22.0093 82.1124 22.8482 82.9513 23.813 82.9513H34.1951C35.034 82.9513 35.852 82.1124 36.1247 81.2944V65.7738H42.7733V81.1476C42.7733 82.1124 43.6123 82.9513 44.5771 82.9513H54.9591C55.798 82.9513 56.616 82.1124 56.7628 81.2944V65.648H79.2048C79.8969 65.648 80.4423 65.2285 80.8617 64.5364C81.1344 63.8442 81.0085 63.152 80.4422 62.5857L80.4632 62.6067ZM50.8273 4.55131L67.5853 27.958H63.2857C62.5936 27.958 62.0482 28.3775 61.7546 28.9229C61.482 29.4682 61.6078 30.1603 62.0272 30.7266L71.7172 41.6749H58.4198C57.5808 41.6749 57.0355 42.0944 56.7628 42.7865C56.7209 42.9123 56.6999 43.0382 56.6789 43.1641C56.616 42.9334 56.5112 42.7236 56.3643 42.5139L46.6745 31.5656H50.4078C51.0999 31.5656 51.6452 31.1461 51.9389 30.6008C52.2115 30.0554 52.2115 29.3633 51.7921 28.797L42.5426 16.003L50.8273 4.55131ZM32.5381 79.6374H25.6168V65.7738H32.5381V79.6374ZM53.1763 79.5116H46.255V65.648H53.1763V79.5116ZM44.5771 62.1872C44.5771 62.1872 44.5351 62.1872 44.5142 62.1872C44.4932 62.1872 44.4722 62.1872 44.4512 62.1872H5.9434L23.6872 44.5903C24.2325 44.045 24.3793 43.3528 24.1067 42.6607C23.834 41.9685 23.1419 41.549 22.4497 41.549H9.15238L18.8423 30.6008C19.2617 30.1813 19.3876 29.3633 19.1149 28.797C18.8423 28.2517 18.276 27.8322 17.5838 27.8322H13.2842L30.0422 4.55131L46.8003 27.958H42.5007C41.8085 27.958 41.2632 28.3775 40.9696 28.9229C40.6969 29.4682 40.8228 30.1603 41.2423 30.7266L50.9321 41.6749H37.6348C36.7958 41.6749 36.2505 42.0944 35.9778 42.7865C35.7052 43.4786 35.831 44.1708 36.3973 44.7161L54.267 62.1663H44.5771V62.1872ZM59.1329 62.0405L42.1022 45.2824H55.1269C55.819 45.2824 56.3643 44.8629 56.658 44.3176C56.7209 44.2127 56.7419 44.1079 56.7628 43.982C56.8467 44.2547 56.9936 44.5064 57.2243 44.7371L75.0939 62.0614H59.1539L59.1329 62.0405Z' fill='%23214889'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz04 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='79' viewBox='0 0 80 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.7391 75.5728C0.804322 75.5728 0 76.3537 0 77.2864C0 78.2192 0.804322 79 1.7391 79H78.2609C79.0652 79 79.8478 78.2192 80 77.2864C80 76.3754 79.1957 75.5728 78.2609 75.5728H71.6087V50.9314C76.2609 50.1071 79.8696 46.0508 79.8696 41.2354C79.8696 35.8559 75.3478 31.3657 69.8913 31.3657C64.4348 31.3657 59.9131 35.8342 59.9131 41.2354C59.9131 46.0508 63.5218 50.0854 68.1739 50.9314V75.5728H56.7391V65.5947C59.5217 64.8355 61.6522 62.341 61.6522 59.2825C61.6522 55.595 58.7174 52.71 55 52.71C51.2826 52.71 48.3478 55.595 48.3478 59.2825C48.3478 62.3627 50.413 64.8789 53.2826 65.6165V75.5945H43.4348V29.6087C50.8696 28.7845 56.6087 22.6892 56.6087 14.9888C56.6087 6.70265 50.087 0 41.6956 0C33.3043 0 26.6522 6.5725 26.6522 14.8586C26.6522 22.5591 32.5217 28.7628 39.9565 29.6087V75.5945H28.3695V65.6165C31.2174 64.8789 33.3043 62.3627 33.3043 59.2825C33.3043 55.595 30.3696 52.71 26.6522 52.71C22.9348 52.71 20 55.595 20 59.2825C20 62.3627 22.0652 64.8789 24.9348 65.6165V75.5945H11.7608V50.9531C16.413 50.1288 20.0217 46.0725 20.0217 41.257C20.0217 35.8775 15.5 31.3874 10.0435 31.3874C4.58695 31.3874 0.0652148 35.8558 0.0652148 41.257C0.0652148 46.0725 3.67392 50.1071 8.32609 50.9531V75.5945H1.80435L1.7391 75.5728ZM63.2174 41.257C63.2174 37.5695 66.1522 34.6845 69.8696 34.6845C73.587 34.6845 76.5218 37.5695 76.5218 41.257C76.5218 44.3372 74.4565 46.8534 71.587 47.5909V44.424C71.587 43.513 70.7826 42.7104 69.8478 42.7104C68.913 42.7104 68.1087 43.4913 68.1087 44.424V47.5909C65.2609 46.8534 63.1739 44.3372 63.1739 41.257H63.2174ZM51.6305 59.2609C51.6305 57.4171 53.087 55.9638 54.9565 55.9638C56.6957 55.9638 58.2826 57.4171 58.2826 59.2609C58.2826 60.4756 57.6522 61.4951 56.6957 62.059V60.9528C56.6957 60.0418 55.8913 59.2392 54.9565 59.2392C54.0218 59.2392 53.2174 60.0201 53.2174 60.9528V62.059C52.2609 61.4951 51.6305 60.4539 51.6305 59.2609ZM29.9565 14.967C29.9565 8.5247 35.2826 3.40556 41.6739 3.40556C48.0652 3.40556 53.3913 8.5247 53.3913 14.967C53.3913 20.8237 49.087 25.5525 43.4131 26.3767V18.134C43.4131 17.2229 42.6087 16.4204 41.6739 16.4204C40.7391 16.4204 39.9348 17.2012 39.9348 18.134V26.3767C34.2609 25.5525 29.9565 20.8237 29.9565 14.967ZM23.2826 59.2609C23.2826 57.4171 24.7391 55.9638 26.6087 55.9638C28.4782 55.9638 29.9348 57.4171 29.9348 59.2609C29.9348 60.4756 29.3043 61.4951 28.3478 62.059V60.9528C28.3478 60.0418 27.5435 59.2392 26.6087 59.2392C25.6739 59.2392 24.8696 60.0201 24.8696 60.9528V62.059C23.9131 61.4951 23.2826 60.4539 23.2826 59.2609ZM3.32609 41.257C3.32609 37.5695 6.26086 34.6845 9.97826 34.6845C13.6956 34.6845 16.6304 37.5695 16.6304 41.257C16.6304 44.3372 14.5652 46.8534 11.6956 47.5909V44.424C11.6956 43.513 10.8913 42.7104 9.95653 42.7104C9.02175 42.7104 8.21739 43.4913 8.21739 44.424V47.5909C5.36956 46.8534 3.2826 44.3372 3.2826 41.257H3.32609Z' fill='%23214889'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz05 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='75' viewBox='0 0 76 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M74.3136 71.7055H60.1557V57.8362H74.3136C74.7006 57.8362 75.1895 57.5922 75.6988 57.2058C75.9433 56.8398 76.0858 56.3314 75.9432 55.823L73.6617 47.9528C73.621 47.6885 73.4987 47.4647 73.3358 47.2817L70.3616 36.9509C70.3616 36.9509 70.3005 36.8492 70.2801 36.8086L67.2041 26.0914C67.2041 26.0914 67.143 25.9897 67.1226 25.949L64.0466 15.2319L59.9927 1.11853C59.7483 0.488107 59.239 0 58.4853 0C57.7316 0 57.2223 0.508443 56.9778 1.11853L53.0869 14.7031C52.9647 14.8455 52.8629 15.0285 52.8017 15.2319L49.6442 26.2337C49.6442 26.3354 49.6442 26.4371 49.6442 26.5591L46.7923 36.4628C46.6701 36.6255 46.5682 36.7882 46.4867 36.9916L43.3292 47.9935C43.2885 48.1562 43.3292 48.3189 43.3292 48.4613L41.1903 55.8636C41.068 56.372 41.1902 56.8601 41.4347 57.2465C41.6791 57.6125 42.1884 57.8769 42.6977 57.8769H56.8556V71.7462H19.0673V57.8769H33.2252C33.6122 57.8769 34.1011 57.6328 34.6104 57.2465C34.8549 56.8804 34.9975 56.372 34.8549 55.8636L32.5733 47.9935C32.5326 47.6478 32.3288 47.3834 32.0844 47.1597L29.3343 37.561C29.3343 37.4187 29.3343 37.2763 29.2936 37.1136L26.1361 26.1117C26.1361 26.1117 26.0749 26.0101 26.0546 25.9694L22.9785 15.2522C22.9174 15.0895 22.8156 14.9268 22.7137 14.7845L18.8025 1.13882C18.558 0.508401 18.0488 0.0203561 17.295 0.0203561C16.5413 0.0203561 16.032 0.528737 15.7876 1.13882L11.9374 15.1302C11.9374 15.1302 11.8763 15.2115 11.8763 15.2522L8.80031 25.9694C8.80031 25.9694 8.73917 26.071 8.7188 26.1117L5.74465 36.4628C5.62242 36.6255 5.50018 36.7882 5.43906 36.9916L2.28155 47.9935C2.2408 48.1562 2.28155 48.2986 2.28155 48.4613L0.142612 55.8636C0.020386 56.372 0.142602 56.8601 0.387055 57.2465C0.631507 57.6125 1.14077 57.8769 1.65005 57.8769H15.8079V71.7462H1.65005C0.774095 71.7462 0 72.4987 0 73.3731C0 74.2476 0.753724 75 1.65005 75H74.3136C75.0673 75 75.821 74.2476 75.9636 73.3731C75.9636 72.4987 75.2099 71.7462 74.3136 71.7462V71.7055ZM17.4376 7.38206L19.3932 14.1337H15.5024L17.458 7.38206H17.4376ZM14.5449 17.2451H20.3507L22.5508 24.9932H12.3245L14.5246 17.2451H14.5449ZM11.3874 28.1047H23.386L25.6675 35.8528H9.16697L11.367 28.1047H11.3874ZM8.20953 38.9846H26.5435L28.825 46.8547H5.94834L8.22989 38.9846H8.20953ZM3.78902 54.6028L5.0724 49.9865H29.9047L31.1881 54.6028H3.76866H3.78902ZM58.3834 7.38206L60.4001 14.1337H56.4889L58.3834 7.38206ZM55.5111 17.2451H61.4187L63.6392 24.9932H53.2907L55.5111 17.2451ZM52.4554 28.1047H64.454L66.7355 35.8528H50.235L52.4554 28.1047ZM49.2979 39.1066H67.6319L69.9134 46.8547H47.0367L49.3183 39.1066H49.2979ZM44.8774 54.6028L46.1812 49.9865H71.0135L72.2968 54.6028H44.8774Z' fill='%23214889'/%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz06 a span::before{
    background-image: url("data:image/svg+xml,%3Csvg width='79' height='78' viewBox='0 0 79 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.4773 0C61.0414 0 55.9104 5.17942 55.9104 11.4168V30.8782C55.9104 36.6527 60.2453 41.3032 65.7744 42.1187V74.6058H41.1808V42.1187C46.6878 41.3032 51.0448 36.6307 51.0448 30.8782V11.4168C51.0448 8.44135 49.8505 5.57615 47.6167 3.37214C45.383 1.16812 42.4857 0 39.4558 0C33.0199 0 27.8889 5.17942 27.8889 11.4168V30.8782C27.8889 36.6527 32.2237 41.3032 37.7528 42.1187V74.6058H13.292V42.1187C18.799 41.3032 23.0232 36.6307 23.1559 30.8782V11.4168C23.1559 8.44135 21.9616 5.57615 19.7279 3.37214C17.4941 1.16812 14.5969 0 11.5669 0C5.13101 0 0 5.17942 0 11.4168V30.8782C0 36.6527 4.33484 41.3032 9.86396 42.1187V74.6058H1.70298C0.774086 74.6058 0 75.3772 0 76.3029C0 77.2286 0.796202 78 1.70298 78H77.297C78.0932 78 78.8673 77.2286 79 76.3029C79 75.3993 78.2038 74.6058 77.297 74.6058H69.136V42.1187C74.643 41.3032 78.8673 36.6307 79 30.8782V11.4168C79 8.44135 77.8057 5.57615 75.5719 3.37214C73.3382 1.16812 70.4409 0 67.411 0H67.4773ZM11.6111 17.8966C10.6823 17.8966 9.90816 18.668 9.90816 19.5936V31.3411L7.40903 29.7101C6.74553 29.1811 5.70604 29.4456 5.17524 30.1068C4.64445 30.7459 4.77716 31.8039 5.57336 32.3108L9.90816 35.1319V39.011C6.12625 38.2176 3.33957 34.8674 3.33957 31.0104V11.549C3.33957 7.00874 7.1436 3.37214 11.6332 3.37214C13.7343 3.37214 15.8354 4.27577 17.5605 5.84062C18.998 7.40547 19.9269 9.345 19.9269 11.549V31.0104C19.9269 34.9776 17.1181 38.2396 13.3583 39.011V26.8669L17.5605 24.1339C18.224 23.7372 18.4894 22.7013 17.9586 21.9299C17.5605 21.2907 16.521 21.0263 15.7248 21.5332L13.3583 23.076V19.5936C13.3583 18.69 12.5622 17.8966 11.6554 17.8966H11.6111ZM39.4779 17.8966C38.549 17.8966 37.7749 18.668 37.7749 19.5936V31.2529L35.4084 29.7101C34.7449 29.1811 33.7055 29.3133 33.1747 30.1068C32.6439 30.7459 32.7766 31.8039 33.5728 32.3108L37.7749 35.0438V39.011C34.0151 38.2176 31.2063 34.8674 31.2063 31.0104V11.549C31.2063 7.00874 35.0104 3.37214 39.5 3.37214C41.7338 3.37214 43.7021 4.27577 45.4272 5.84062C46.8648 7.40547 47.7937 9.345 47.7937 11.549V31.0104C47.7937 34.9776 44.9849 38.2396 41.2251 39.011V26.8669L45.4272 24.1339C46.0907 23.7372 46.3561 22.7013 45.8253 21.9299C45.4272 21.2907 44.3878 21.0263 43.5916 21.5332L41.2251 23.076V19.5936C41.2251 18.69 40.4289 17.8966 39.5221 17.8966H39.4779ZM75.771 31.0104C75.771 34.9776 72.9622 38.2396 69.2024 39.011V26.8669L73.4045 24.1339C74.068 23.7372 74.3334 22.7013 73.8026 21.9299C73.4045 21.2907 72.3651 21.0263 71.5689 21.5332L69.2024 23.076V19.5936C69.2024 18.69 68.4062 17.8966 67.4995 17.8966C66.5927 17.8966 65.7965 18.668 65.7965 19.5936V31.3411L63.2973 29.7101C62.6338 29.1811 61.5943 29.3133 61.0635 30.1068C60.5328 30.7459 60.6654 31.8039 61.4616 32.3108L65.7965 35.1319V39.011C62.0367 38.2176 59.2279 34.8674 59.2279 31.0104V11.549C59.2279 7.00874 63.0319 3.37214 67.5216 3.37214C69.6226 3.37214 71.7237 4.27577 73.4488 5.84062C74.8864 7.40547 75.8152 9.345 75.8152 11.549V31.0104H75.771Z' fill='%23214889'/%3E%3C/svg%3E%0A");
}
.biz .list ul li a span::after{
    content: "";
    position: absolute;
    right: 11%; /* 정렬의 기준 span태그의 오른쪽 */
    top: 50%; /* 정렬의 기준 span태그의 위아래 가운데 */
    transform: translateY(-50%); /* before 높이의 절반 */
    width: 1.34375em;
    height: 1.34375em; /* 글자크기에 비례한 em */
    border-radius: 50%;
    background-color: #214889;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.7252 9.47499L0.375197 2.12499C0.125197 1.87499 0.0043635 1.58332 0.0126969 1.24999C0.0210302 0.916652 0.150197 0.624986 0.400197 0.374986C0.650197 0.124986 0.941863 -1.41827e-05 1.2752 -1.41535e-05C1.60853 -1.41244e-05 1.9002 0.124986 2.1502 0.374986L9.8502 8.04999C10.0502 8.24999 10.2002 8.47499 10.3002 8.72499C10.4002 8.97499 10.4502 9.22499 10.4502 9.47499C10.4502 9.72499 10.4002 9.97499 10.3002 10.225C10.2002 10.475 10.0502 10.7 9.8502 10.9L2.1502 18.6C1.9002 18.85 1.60436 18.9708 1.2627 18.9625C0.921029 18.9542 0.625196 18.825 0.375196 18.575C0.125196 18.325 0.000195585 18.0333 0.000195614 17.7C0.000195643 17.3667 0.125196 17.075 0.375196 16.825L7.7252 9.47499Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25.58%; /* after 넓이의 % */
}

@media screen and (max-width:768px){
    .biz{
        padding: 122px 0 108px 0;
    }
    .biz .wrapper{
        flex-direction: column;
        align-items: flex-start;
        gap: 44px 0;
    }
    .biz .list{
        width: 100%;
        max-width: 100%;
    }
    .biz .list ul li:nth-child(odd) {
        transform: translateY(0);
    }
    .biz .list ul li a{
        padding: 0 0 55px 0;
        text-align: center;
    }
    .biz .list ul li a span::before{
        left: 50%;
        transform: translateX(-50%);
        bottom: 1.5em;
        width: 2em;
        height: 2em;
        background-position: center bottom;
        background-size: 90%;
    }
    .biz .list ul li a span::after{
        right: 50%;
        top: auto;
        bottom: -36px;
        transform: translateX(50%); 
        width: 29px;
        height: 29px;
    }
}

.story .tit h2{
    font-size: clamp(26px,4vw,40px);
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
}
.story .list .swiper{
    padding: clamp(49px,5.2vw,52px) 20px 0 0;
    width: calc(100% + 20px);
}
.story .list .swiper-slide{
    width: 250px;
}
.story .list .swiper-slide a{
    display: block;
    border-top: 1px solid #1d1d1d;
    position: relative;
    transition: transform 0.3s;
}
.story .list .swiper-slide a h3{
    margin: 1.091em 0 1.773em 0;
    font-size: clamp(20px, 2.2vw, 22px);
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    height: 2.6em;
    overflow: hidden;
    word-break: normal;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.story .list .swiper-slide a span{
    display: block;
    color: #666;
    margin: 0 0 1.529em 0;
}
.story .list .swiper-slide a .photo{
    overflow: hidden;
    height: clamp(154px, 19.7vw, 197px);
    position: relative;
}
.story .list .swiper-slide a .photo strong{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #254F07;
    color: #fff;
    padding: 0.176em 0.412em;
}
.story .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story .more{
    margin: clamp(32px, 5.3vw, 53px) 0 0 0;
    display: flex;
    justify-content: center;
}
.story .more a{
    display: block;
    border: 1px solid #254F07;
    border-radius: 50px;
    padding: 0.647em 3.765em 0.647em 2em;
    color: #254F07;
    position: relative;
}
.story .more a::after{
    content: "";
    position: absolute;
    right: 2em;
    top: 1em;
    width: 0.706em;
    height: 0.706em;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.89943 8.89902L8.8996 15.6842C8.89949 15.8693 8.83044 16.0331 8.69246 16.1756C8.55448 16.3178 8.38858 16.3889 8.19475 16.389C8.00093 16.3889 7.83503 16.3199 7.69704 16.1819C7.55906 16.0439 7.49001 15.878 7.4899 15.6842L7.49007 8.89902L0.70489 8.89919C0.519761 8.89907 0.355975 8.83003 0.213534 8.69204C0.0713159 8.55406 0.000150772 8.38816 3.93143e-05 8.19434C0.000150772 8.00051 0.0691979 7.83461 0.207181 7.69663C0.345164 7.55864 0.511066 7.4896 0.704889 7.48949L7.49007 7.48965L7.4899 0.704472C7.49001 0.519343 7.55906 0.355558 7.69704 0.213117C7.83503 0.0708988 8.00093 -0.00026651 8.19475 -0.000377969C8.38858 -0.00026651 8.55448 0.068781 8.69246 0.206764C8.83044 0.344747 8.89949 0.51065 8.8996 0.704472L8.89944 7.48965L15.6846 7.48949C15.8697 7.4896 16.0335 7.55864 16.176 7.69663C16.3182 7.83461 16.3894 8.00051 16.3895 8.19434C16.3894 8.38816 16.3203 8.55406 16.1823 8.69204C16.0443 8.83003 15.8784 8.89907 15.6846 8.89919L8.89943 8.89902Z' fill='%23254F07'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* over 스타일 */
.story .list .swiper-slide:hover a{
    transform: translateY(-20px);
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.story .list .swiper-slide:hover a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #254F07;
}.story .list .swiper-slide:hover a::after{
    content: "";
    position: absolute;
    right: 25px;
    bottom: 25px;
    z-index: 2;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6143 4.05567L1.99801 14.672C1.77932 14.8907 1.50099 15 1.16302 15C0.82505 15 0.54672 14.8907 0.328032 14.672C0.109344 14.4533 0 14.175 0 13.837C0 13.499 0.109344 13.2207 0.328032 13.002L10.9443 2.38569H1.87873C1.54076 2.38569 1.25746 2.27137 1.02883 2.04274C0.800199 1.81412 0.685885 1.53082 0.685885 1.19284C0.685885 0.854871 0.800199 0.571571 1.02883 0.342942C1.25746 0.114314 1.54076 0 1.87873 0H13.8072C14.1451 0 14.4284 0.114314 14.6571 0.342942C14.8857 0.571571 15 0.854871 15 1.19284V13.1213C15 13.4592 14.8857 13.7425 14.6571 13.9712C14.4284 14.1998 14.1451 14.3141 13.8072 14.3141C13.4692 14.3141 13.1859 14.1998 12.9573 13.9712C12.7286 13.7425 12.6143 13.4592 12.6143 13.1213V4.05567Z' fill='white'/%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}
.story .list .swiper-slide:hover a h3{
    position: relative;
    z-index: 2;
    color: #fff;
    margin-left: 34px;
    margin-right: 34px;
}
@media screen and (max-width:768px){
    .story{
        margin: 102px 0 61px 0;
    }
}

@media screen and (min-width:769px){
    .fp-responsive .section:not(.visual){
        padding: 100px 0 70px 0;
    }
    .fp-responsive .section.biz{
        padding-bottom: 120px;
    }
}
.sec_nav {
    position: fixed;/* 브라우저를 기준으로 정렬함 */
    left: 32px;
    top: 50%;/* 브라우저 높이의 50% */
    transform: translateY(-50%); /* sec_nav 나의 길의 절반을 위로 올라감 */
}
.sec_nav ul{
    display: flex;
    flex-direction: column;
    gap: 1px 0;
}
.sec_nav ul li a{
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 0 0 6px;
    position: relative; /* before 정렬의 기준 */
}
.sec_nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 3px;
    height: 3px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}
.sec_nav ul li a span {
    display: inline-block;
    padding: 0 6px 0 4px;
}
.sec_nav ul li.active a{
    color: #fff;
}
.sec_nav ul li.active a::before{
    border-color: #035755;
    background-color: #035755;
}
.sec_nav ul li.active a::after{
    content: "";
    position: absolute;
    right: 100%;
    top: 13px;
    width: 32px;
    height: 1px;
    background-color: #035755;
}
.sec_nav ul li.active a span{
    border-radius: 3px;
    background-color: #035755;
}
/* 배경색이 흰색이 되었을때 */
.sec_nav[data-bg="white"] ul li a{
    color: #666;
}
.sec_nav[data-bg="white"] ul li a::before{
    border-color: #666;
}
.sec_nav[data-bg="white"] ul li.active a{
    color: #fff;
}
/* 배경색이 파란색이 되었을때 */
.sec_nav[data-bg="blue"] ul li.active a{
    color: #214889;
}
.sec_nav[data-bg="blue"] ul li.active a::after{
    background-color: #A7F496;
}
.sec_nav[data-bg="blue"] ul li.active a span{
    background-color: #A7F496;
}
.sec_nav[data-bg="blue"] ul li.active a::before{
    border-color: #A7F496;
    background-color: #A7F496;
}
.sec_nav{
    transition: opacity 0.3s;
}
.sec_nav[data-bg="none"]{
    opacity: 0;
}
@media screen and (max-width:1024px){
    .sec_nav{
        display: none;
    }
}
.quick{
    position: fixed;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    padding-bottom: 86px; /* open/close 들어갈 자리 */
}
.quick .open,
.quick .close{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #035755;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
}
.quick .open{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.4125 11.3875C9.25417 11.3458 9.1 11.2833 8.95 11.2L0.5 6.6C0.316667 6.5 0.1875 6.375 0.1125 6.225C0.0375 6.075 0 5.90833 0 5.725C0 5.54167 0.0375 5.375 0.1125 5.225C0.1875 5.075 0.316667 4.95 0.5 4.85L8.95 0.25C9.1 0.166667 9.25417 0.104167 9.4125 0.0625C9.57083 0.0208333 9.73333 0 9.9 0C10.0667 0 10.2292 0.0208333 10.3875 0.0625C10.5458 0.104167 10.7 0.166667 10.85 0.25L19.3 4.85C19.4833 4.95 19.6125 5.075 19.6875 5.225C19.7625 5.375 19.8 5.54167 19.8 5.725C19.8 5.90833 19.7625 6.075 19.6875 6.225C19.6125 6.375 19.4833 6.5 19.3 6.6L10.85 11.2C10.7 11.2833 10.5458 11.3458 10.3875 11.3875C10.2292 11.4292 10.0667 11.45 9.9 11.45C9.73333 11.45 9.57083 11.4292 9.4125 11.3875ZM9.9 9.45L16.725 5.725L9.9 2L3.075 5.725L9.9 9.45ZM9.9 13.45L17.75 9.175C17.7833 9.15833 17.9417 9.11667 18.225 9.05C18.5083 9.05 18.7458 9.14583 18.9375 9.3375C19.1292 9.52917 19.225 9.76667 19.225 10.05C19.225 10.2333 19.1833 10.4 19.1 10.55C19.0167 10.7 18.8833 10.825 18.7 10.925L10.85 15.2C10.7 15.2833 10.5458 15.3458 10.3875 15.3875C10.2292 15.4292 10.0667 15.45 9.9 15.45C9.73333 15.45 9.57083 15.4292 9.4125 15.3875C9.25417 15.3458 9.1 15.2833 8.95 15.2L1.1 10.925C0.916667 10.825 0.783333 10.7 0.7 10.55C0.616667 10.4 0.575 10.2333 0.575 10.05C0.575 9.76667 0.670833 9.52917 0.8625 9.3375C1.05417 9.14583 1.29167 9.05 1.575 9.05C1.65833 9.05 1.7375 9.0625 1.8125 9.0875C1.8875 9.1125 1.96667 9.14167 2.05 9.175L9.9 13.45ZM9.9 17.45L17.75 13.175C17.7833 13.1583 17.9417 13.1167 18.225 13.05C18.5083 13.05 18.7458 13.1458 18.9375 13.3375C19.1292 13.5292 19.225 13.7667 19.225 14.05C19.225 14.2333 19.1833 14.4 19.1 14.55C19.0167 14.7 18.8833 14.825 18.7 14.925L10.85 19.2C10.7 19.2833 10.5458 19.3458 10.3875 19.3875C10.2292 19.4292 10.0667 19.45 9.9 19.45C9.73333 19.45 9.57083 19.4292 9.4125 19.3875C9.25417 19.3458 9.1 19.2833 8.95 19.2L1.1 14.925C0.916667 14.825 0.783333 14.7 0.7 14.55C0.616667 14.4 0.575 14.2333 0.575 14.05C0.575 13.7667 0.670833 13.5292 0.8625 13.3375C1.05417 13.1458 1.29167 13.05 1.575 13.05C1.65833 13.05 1.7375 13.0625 1.8125 13.0875C1.8875 13.1125 1.96667 13.1417 2.05 13.175L9.9 17.45Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .close{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 7.08365L2.29278 0.376427C2.04183 0.125475 1.72243 0 1.3346 0C0.946768 0 0.627376 0.125475 0.376426 0.376427C0.125475 0.627377 0 0.946768 0 1.3346C0 1.72243 0.125475 2.04183 0.376426 2.29278L7.08365 9L0.376426 15.7072C0.125475 15.9582 0 16.2776 0 16.6654C0 17.0532 0.125475 17.3726 0.376426 17.6236C0.627376 17.8745 0.946768 18 1.3346 18C1.72243 18 2.04183 17.8745 2.29278 17.6236L9 10.9163L15.7072 17.6236C15.9582 17.8745 16.2776 18 16.6654 18C17.0532 18 17.3726 17.8745 17.6236 17.6236C17.8745 17.3726 18 17.0532 18 16.6654C18 16.2776 17.8745 15.9582 17.6236 15.7072L10.9163 9L17.6236 2.29278C17.8745 2.04183 18 1.72243 18 1.3346C18 0.946768 17.8745 0.627377 17.6236 0.376427C17.3726 0.125475 17.0532 0 16.6654 0C16.2776 0 15.9582 0.125475 15.7072 0.376427L9 7.08365Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick .open span,
.quick .close span{
    display: none;
}
.quick .quick_wrap ul{
    background-color: #fff;
    border: 2px solid #035755;
    border-radius: 40px;
    text-align: center;
    color: #035755;
    padding: 23px 0;
}
.quick .quick_wrap ul li{
    border-bottom: 1px solid rgba(3, 87, 85, 0.5);
}
.quick .quick_wrap ul li:last-child{
    border-bottom: 0;
}
.quick .quick_wrap ul li a,
.quick .quick_wrap ul li button{
    display: block;
    height: 80px;
    width: 80px;
    padding: 40px 0 0 0;
    position: relative;
}
.quick .quick_wrap ul li.top button{
    padding-top: 20px;
}
.quick .quick_wrap ul li a::before,
.quick .quick_wrap ul li button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
}
.quick .quick_wrap ul li.kakao a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2875 17.55C9.04583 17.4667 8.83333 17.3333 8.65 17.15L6.925 15.575C5.15833 13.9583 3.5625 12.3542 2.1375 10.7625C0.7125 9.17083 0 7.41667 0 5.5C0 3.93333 0.525 2.625 1.575 1.575C2.625 0.525 3.93333 0 5.5 0C6.38333 0 7.21667 0.1875 8 0.5625C8.78333 0.9375 9.45 1.45 10 2.1C10.55 1.45 11.2167 0.9375 12 0.5625C12.7833 0.1875 13.6167 0 14.5 0C16.0667 0 17.375 0.525 18.425 1.575C19.475 2.625 20 3.93333 20 5.5C20 7.41667 19.2917 9.175 17.875 10.775C16.4583 12.375 14.85 13.9833 13.05 15.6L11.35 17.15C11.1667 17.3333 10.9542 17.4667 10.7125 17.55C10.4708 17.6333 10.2333 17.675 10 17.675C9.76667 17.675 9.52917 17.6333 9.2875 17.55ZM9.05 4.1C8.56667 3.41667 8.05 2.89583 7.5 2.5375C6.95 2.17917 6.28333 2 5.5 2C4.5 2 3.66667 2.33333 3 3C2.33333 3.66667 2 4.5 2 5.5C2 6.36667 2.30833 7.2875 2.925 8.2625C3.54167 9.2375 4.27917 10.1833 5.1375 11.1C5.99583 12.0167 6.87917 12.875 7.7875 13.675C8.69583 14.475 9.43333 15.1333 10 15.65C10.5667 15.1333 11.3042 14.475 12.2125 13.675C13.1208 12.875 14.0042 12.0167 14.8625 11.1C15.7208 10.1833 16.4583 9.2375 17.075 8.2625C17.6917 7.2875 18 6.36667 18 5.5C18 4.5 17.6667 3.66667 17 3C16.3333 2.33333 15.5 2 14.5 2C13.7167 2 13.05 2.17917 12.5 2.5375C11.95 2.89583 11.4333 3.41667 10.95 4.1C10.8333 4.26667 10.6917 4.39167 10.525 4.475C10.3583 4.55833 10.1833 4.6 10 4.6C9.81667 4.6 9.64167 4.55833 9.475 4.475C9.30833 4.39167 9.16667 4.26667 9.05 4.1Z' fill='%23035755'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.naver a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 8.5C6.38333 8.5 5.4375 8.89167 4.6625 9.675C3.8875 10.4583 3.5 11.4 3.5 12.5C3.5 13.6167 3.8875 14.5625 4.6625 15.3375C5.4375 16.1125 6.38333 16.5 7.5 16.5C8.6 16.5 9.54167 16.1125 10.325 15.3375C11.1083 14.5625 11.5 13.6167 11.5 12.5C11.5 11.4 11.1083 10.4583 10.325 9.675C9.54167 8.89167 8.6 8.5 7.5 8.5ZM7.5 10.5C8.05 10.5 8.52083 10.6958 8.9125 11.0875C9.30417 11.4792 9.5 11.95 9.5 12.5C9.5 13.05 9.30417 13.5208 8.9125 13.9125C8.52083 14.3042 8.05 14.5 7.5 14.5C6.95 14.5 6.47917 14.3042 6.0875 13.9125C5.69583 13.5208 5.5 13.05 5.5 12.5C5.5 11.95 5.69583 11.4792 6.0875 11.0875C6.47917 10.6958 6.95 10.5 7.5 10.5ZM18 13C17.7167 13 17.4792 13.0958 17.2875 13.2875C17.0958 13.4792 17 13.7167 17 14C17 14.8 16.6958 15.5 16.0875 16.1C15.4792 16.7 14.7833 17 14 17C13.7167 17 13.4792 17.0958 13.2875 17.2875C13.0958 17.4792 13 17.7167 13 18C13 18.2833 13.0958 18.5208 13.2875 18.7125C13.4792 18.9042 13.7167 19 14 19C15.4667 19 16.6667 18.5333 17.6 17.6C18.5333 16.6667 19 15.4667 19 14C19 13.7167 18.9042 13.4792 18.7125 13.2875C18.5208 13.0958 18.2833 13 18 13ZM18 11C18.8333 11 19.5417 11.2917 20.125 11.875C20.7083 12.4583 21 13.1667 21 14C21 16.0167 20.3375 17.6875 19.0125 19.0125C17.6875 20.3375 16.0167 21 14 21C13.15 21 12.4375 20.7125 11.8625 20.1375C11.2875 19.5625 11 18.85 11 18C11 17.1667 11.2875 16.4583 11.8625 15.875C12.4375 15.2917 13.15 15 14 15C14.2333 15 14.4583 14.8917 14.675 14.675C14.8917 14.4583 15 14.2333 15 14C15 13.1667 15.2875 12.4583 15.8625 11.875C16.4375 11.2917 17.15 11 18 11ZM7.5 0C8.48333 0 9.37917 0.3125 10.1875 0.9375C10.9958 1.5625 11.7 2.32917 12.3 3.2375C12.9 4.14583 13.4 5.125 13.8 6.175C14.2 7.225 14.4833 8.175 14.65 9.025C14.7 9.29167 14.6417 9.52083 14.475 9.7125C14.3083 9.90417 14.0917 10 13.825 10C13.525 10 13.2667 9.90833 13.05 9.725C12.8333 9.54167 12.6833 9.30833 12.6 9.025C12.3833 8.10833 12.0875 7.22917 11.7125 6.3875C11.3375 5.54583 10.9208 4.8 10.4625 4.15C10.0042 3.5 9.52083 2.97917 9.0125 2.5875C8.50417 2.19583 8 2 7.5 2C6.86667 2 6.225 2.30833 5.575 2.925C4.925 3.54167 4.33333 4.32917 3.8 5.2875C3.26667 6.24583 2.83333 7.31667 2.5 8.5C2.16667 9.68333 2 10.85 2 12C2 12.9167 2.11667 13.7417 2.35 14.475C2.58333 15.2083 2.92917 15.8375 3.3875 16.3625C3.84583 16.8875 4.41667 17.2917 5.1 17.575C5.78333 17.8583 6.575 18 7.475 18H8C8.28333 17.9667 8.5375 18.0292 8.7625 18.1875C8.9875 18.3458 9.11667 18.5667 9.15 18.85C9.21667 19.1833 9.09583 19.4583 8.7875 19.675C8.47917 19.8917 8.11667 20 7.7 20C5.3 20.05 3.41667 19.3375 2.05 17.8625C0.683333 16.3875 0 14.4333 0 12C0 10.75 0.1875 9.42083 0.5625 8.0125C0.9375 6.60417 1.4625 5.30833 2.1375 4.125C2.8125 2.94167 3.60833 1.95833 4.525 1.175C5.44167 0.391667 6.43333 0 7.5 0Z' fill='%23035755'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.green a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 18V14H5C3.61667 14 2.4375 13.5125 1.4625 12.5375C0.4875 11.5625 0 10.3833 0 9C0 8 0.275 7.07917 0.825 6.2375C1.375 5.39583 2.11667 4.78333 3.05 4.4C3.2 3.15 3.74583 2.10417 4.6875 1.2625C5.62917 0.420833 6.73333 0 8 0C9.26667 0 10.3708 0.420833 11.3125 1.2625C12.2542 2.10417 12.8 3.15 12.95 4.4C13.8833 4.78333 14.625 5.39583 15.175 6.2375C15.725 7.07917 16 8 16 9C16 10.3833 15.5125 11.5625 14.5375 12.5375C13.5625 13.5125 12.3833 14 11 14H9V18H14C14.2833 18 14.5208 18.0958 14.7125 18.2875C14.9042 18.4792 15 18.7167 15 19C15 19.2833 14.9042 19.5208 14.7125 19.7125C14.5208 19.9042 14.2833 20 14 20H2C1.71667 20 1.47917 19.9042 1.2875 19.7125C1.09583 19.5208 1 19.2833 1 19C1 18.7167 1.09583 18.4792 1.2875 18.2875C1.47917 18.0958 1.71667 18 2 18H7ZM5 12H11C11.8333 12 12.5417 11.7083 13.125 11.125C13.7083 10.5417 14 9.83333 14 9C14 8.4 13.8292 7.85 13.4875 7.35C13.1458 6.85 12.7 6.48333 12.15 6.25L11.1 5.8L10.95 4.65C10.85 3.9 10.5208 3.27083 9.9625 2.7625C9.40417 2.25417 8.75 2 8 2C7.25 2 6.59583 2.25417 6.0375 2.7625C5.47917 3.27083 5.15 3.9 5.05 4.65L4.9 5.8L3.85 6.25C3.3 6.48333 2.85417 6.85 2.5125 7.35C2.17083 7.85 2 8.4 2 9C2 9.83333 2.29167 10.5417 2.875 11.125C3.45833 11.7083 4.16667 12 5 12Z' fill='%23035755'/%3E%3C/svg%3E%0A");
}
.quick .quick_wrap ul li.top button::before{
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='11' viewBox='0 0 19 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.47499 2.725L2.12499 10.075C1.87499 10.325 1.58332 10.4458 1.24999 10.4375C0.916652 10.4292 0.624986 10.3 0.374986 10.05C0.124986 9.8 -1.37671e-05 9.50833 -1.37525e-05 9.175C-1.37379e-05 8.84167 0.124986 8.55 0.374986 8.3L8.04999 0.6C8.24999 0.4 8.47499 0.25 8.72499 0.15C8.97499 0.0499996 9.22499 -4.25657e-07 9.47499 -4.14729e-07C9.72499 -4.03802e-07 9.97499 0.0499996 10.225 0.15C10.475 0.25 10.7 0.4 10.9 0.6L18.6 8.3C18.85 8.55 18.9708 8.84583 18.9625 9.1875C18.9542 9.52917 18.825 9.825 18.575 10.075C18.325 10.325 18.0333 10.45 17.7 10.45C17.3667 10.45 17.075 10.325 16.825 10.075L9.47499 2.725Z' fill='%23035755'/%3E%3C/svg%3E%0A");
}
.quick .close{
    display: none;
}
.quick .quick_wrap{
    display: none;
}
@media screen and (max-width:1024px){
    .quick{
        display: none;
    }
}