@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.product{
    background-color: #1e1e1e;
    height: 693px;
    color: #fff;
}
.product .tit h2{
    text-align: center;
    padding: 150px 0 0 0;
}
.product .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}
@media screen and (max-width:768px){
    .product{
        height: 766px;
    }
    .product .tit h2{
        text-align: left;
        padding: 100px 0 0 0;
        font-size: 16px;
    }
    .product .tit p{
        font-size: 32px;
        text-align: left;
    }
}
.product .list{
    margin: 80px 0 0 0;
}
.product .list ul{
    display: flex;
    justify-content: space-between;
}
.product .list ul li{
    text-align: center;
    width: 404px;
}
.product .list ul li h3{
    padding: 84px 0 0 0;
}
.product .list ul li p{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 24px 0;
}
.product .list ul li a{
    display: block;
    background: url(../images/visual01.jpg);
    height: 300px;
}
.product .list ul li.photo02 a{
    background-image: url(../images/visual02.jpg);
}
.product .list ul li.photo02 a{
    background-image: url(../images/visual03.jpg);
}
.product .list ul li a span{
    border: 2px solid #fff;
    padding: 5px 29px 4px 30px;
}
@media screen and (max-width:768px){
                .product .list{
                    margin: 18px 0 0 0;
                }
                .product .list ul{
                    flex-direction: column;
                    gap: 10px 0;
                }
                .product .list ul li{
                    width: auto;
                }
                .product .list ul li h3{
                    padding: 38px 0 0 0;
                }
                .product .list ul li p{
                    font-size: 24px;
                    margin: 0 0 7px 0;
                }
                .product .list ul li a{
                    height: 168px;
                }
                .product .list ul li a span{
                    background-color: #fff;
                    padding: 0 20px 1px 20px;
                    color: #3d3d3d;
                }
}
.brand{
    background: url(../images/bland.jpg) no-repeat center center / cover;
    height: 664px;
    color: #fff;
}
.brand .wrapper{
    padding: 0 0 0 856px;
}
.brand h2{
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    padding: 126px 0 0 0;
}
.brand .photo{
    display: none;
}
@media screen and (max-width:768px){
    .brand{
        background: none;
        height: 156px;
        color: #3d3d3d;
    }
    .brand .wrapper{
        padding: 0;
    }
    .brand h2{
        font-size: 32px;
        margin: 92px 0 23px 0;
        padding: 0;
        color: #1d1d1d;
    }
    .brand .photo{
        display: block;
        overflow: hidden;
        margin: 39px 0 0 0;
    }
    .brand .photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
