@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual{
    background-color: #1e1e1e;
    height: 693px;
    color: #fff;
}
.visual h2{
    text-align: center;
    padding: 150px 0 0 0;
}
.visual .wrapper p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}
@media screen and (max-width:768px){
    .visual{
        height: 766px;
    }
    .visual h2{
        text-align: left;
        padding: 100px 0 0 0;
        font-size: 16px;
    }
    .visual .wrapper p{
        font-size: 32px;
        text-align: left;
    }
}
.list{
    margin: 80px 0 0 0;
}
.list ul{
    display: flex;
    justify-content: center;
    gap: 0 24px;
}
.list ul li{
    text-align: center;
    width: 404px;
}
.list ul li a{
    display: block;
    background: url(../images/visual01.jpg);
    height: 300px;
}
.list ul li.photo02 a{
    background-image: url(../images/visual02.jpg);
}
.list ul li.photo02 a{
    background-image: url(../images/visual03.jpg);
}
.list ul li p{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
}
@media screen and (max-width:768px){
    .list{
        margin: 18px 0 0 0;
    }
    .list ul{
        flex-direction: column;
        align-items: center;
    }
    .list ul li{
        width: 326px;
    }
    .list ul li a{
        height: 168px;
    }
    .list ul li p{
        font-size: 32px;
        font-weight: 700;
        line-height: 1.3;
    }
}
.brand{
    background: url(../images/bland.jpg) no-repeat center center / cover;
    height: 664px;
    color: #fff;
}
.brand h4{
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    padding: 126px 0 0 1184px;
}
.brand p{
    padding: 15px 0 0 1184px;
}
@media screen and (max-width:768px){
    .brand h4{
        font-size: 32px;
        padding: 92px 0 0 16px;
        color: #1d1d1d;
    }
    .brand p{
        padding: 23px 0 0 16px;
        color: #3d3d3d;
    }
    .brand{
        background: none;
        height: 664px;
        color: none;
    }
}
