@import url(fonts.css);
@import url(commom.css);

.header{
    height: 100px;
}
.header .wrapper{
    display: flex;/* logo,gnb 좌우배치 */
    justify-content: space-between; /* 좌우 양끝 배치 */
    align-items: center;/* 가운데 배치 */
}
.header .gnb ul{
    display: flex;/* li 좌우로 배치 */
}
.header .gnb ul li a{
    display: block  ;
    padding: 0 31px;
    line-height: 100px;
    /* header 높이와 동일하게 - 글자의 높이가 100이 되고 위 아래 가운데 배치됨*/
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 361px 0 23px 0;
}

.biz .wrapper{
    
}
