/*
    common.css (layout.css 라고도 함)
    홈페이지 전체에 적용되는 공통스타일
    프로젝트마다 변경됨 - 이 css에 있는 속성을 수정하면 프로젝트 전체가 바뀜
*/
body{
    font-family: "Playfair Display", 'pretendard', sans-serif;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-default);
    color: var(--font-color-default);
    line-height: var(--line-height-default);/* 배수(글자크기의 몇배) */
    word-break: keep-all;/* 단어 단위로 줄바꿈 */
    word-wrap: break-word;/* 단어가 제한된 넓이보다 길면 강제 줄바꿈 */
}
.wrapper{
    width: var(--wrapper-w);
    margin: 0 auto; /* 화면에 가운데 정렬 */
}
#wrap{
    position: relative;
}
@media screen and (max-width:1360px){ /* 1260+50+50  */
    .wrapper{
        width: auto;
        margin: 0 var(--wrapper-margin);
    }
}
/* html 표준때문에 입력해야하는 태그이지만 홈페이지에 나오지 않는
   태그에 주는 클래스 */
.sr-only, .skip, .blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
:root{
    --wrapper-margin: clamp(16px, 4vw, 50px);
    --wrapper-w: 1260px;
    --gap: 24px;
    --font-color-default: #333333;
    --font-color-tit: #222222;
    --font-color-df80: rgba(51, 51, 51, 0.8);
    --color-point: #C6A769;
    --color-point2: #604C43;
    --color-bg: #F5F3EE;
    --color-white: #fff;
    --color-w80: rgba(255,255,255,0.8);
    --color-w50: rgba(255,255,255,0.5);
    --color-w20: rgba(255,255,255,0.2);
    --font-weight-default: 400;
    --font-weight-bold: 700;
    --line-height-default: 1.5;
    --line-height-tit: 1.3;
    --header-h: 100px;
    --font-size-default: clamp(16px, 1.7vw, 17px);
    --font-size-tit: clamp(28px, 4.5vw, 45px);
}
@media screen and (max-width:1024px){
    :root{
        --header-h: 70px;
    }
}
@media screen and (max-width:768px){
    :root{
        --header-h: 56px;
        --gap: 16px;
    }
}
::selection{
    background-color: var(--font-color-tit);
    color: var(--color-point);
}