@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-h);
    color: #fff;
    padding: 0 var(--wrapper-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--color-w20); */
}
.header .logo a{
    display: block;
    width: 253px;
    height: 18px;
    background: url(../images/logo_w.svg);
}
.header .logo,
.header .gnb .gnb_open,
.header .gnb .gnb_wrap,
.header .gnb .util,
.header .gnb .gnb_close{
    display: none;
}
.visual{
    position: relative; /* reserve 정렬의 기준 */
}
.visual .swiper-slide{
    height: clamp(530px, 90vw, 900px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .swiper-slide.bg1{
    background-image: url(../images/vsiual01.jpg);
}
.visual .swiper-slide.bg2{
    background-image: url(../images/vsiual02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/vsiual03.jpg);
}
.visual .swiper-slide.bg4{
    background-image: url(../images/vsiual04.jpg);
}
.visual .swiper-slide h3{
    margin-bottom: 0.28em;
    font-size: clamp(36px, 5vw, 60px);
    line-height: var(--line-height-tit);
}
.visual .swiper-slide p{
    font-size: clamp(16px, 2vw, 20px);
}
.visual .reserve{
    position: absolute; /* visual을 기준으로 정렬 */
    left: 0;
    bottom: 100px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: pretendard;
    color: #fff;
    font-size: clamp(16px, 2vw, 20px);
}
.visual .reserve .check{
    position: relative; /* after 정렬의 기준 */
    padding: 6px 30px;
    border-right: 1px solid var(--color-w80);
}
.visual .reserve .check::after{
    position: absolute; /* check를 기준으로 정렬 */
    content: "";
    right: 15px;
    top: 34px;
    width: 9px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.64086L4.5 5L0 0.640861L0.66157 4.47919e-07L4.5 3.71839L8.33843 1.12353e-07L9 0.64086Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.visual .reserve .check strong{
    display: block;
    margin-bottom: 12px;
}
.visual .reserve .check span{
    display: block;
}
.visual .reserve .rooms{
    display: flex;
    text-align: center;
    gap: 17px;
    padding: 4px 30px;
}
.visual .reserve .room strong{
    display: block;
    margin-bottom: 12px;
}
.visual .reserve .room span{
    display: inline-block;
    padding: 0 14px 0 0;
    position: relative; /* after 정렬의 기준 */
}
.visual .reserve .room span::after{
    position: absolute; /* span을 기준으로 정렬 */
    content: "";
    right: 0;
    top: 6px;
    width: 9px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.64086L4.5 5L0 0.640861L0.66157 4.47919e-07L4.5 3.71839L8.33843 1.12353e-07L9 0.64086Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.visual .reserve .search{
    padding: 25px 67px;
    background-color: var(--font-color-tit);
    color: #fff;
}
.visual .reserve .search:hover{
    color: var(--color-point);
}
.visual .reserve_m{
    display: none;
}
.visual .reserve_m a{
    font-family: pretendard;
    padding: 11px 24px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}
@media screen and (max-width:768px){
            .visual .reserve{
                display: none;
            }
            .visual .reserve_m{ 
                position: absolute; /* visual을 기준으로 정렬 */
                left: 0;
                bottom: 80px;
                z-index: 1;
                width: 100%;
                display: flex;
                justify-content: center;
            }    
}

.experience{
    margin-top: clamp(80px, 17.4vw, 174px);
    text-align: center;
}
.experience .tit h2{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    color: var(--font-color-tit);
    margin-bottom: clamp(20px, 3vw, 30px);
} 
.experience .list{
    margin-top: clamp(60px, 7vw, 70px);
}
.experience .list .swiper{
    overflow: visible;
}
/* .experience .list .swiper-slide{
    color: #fff;
    height: clamp(386px, 52.2vw, 522px);
    transition: box-shadow .1s;
}
:root {
    --base-ratio: 0.5;
    --base-size: 1920;
    --base-percent: 100vw;
}
.experience .list .swiper-slide:hover{
    box-shadow: max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) max(calc(30px * var(--base-ratio)), calc(calc(30 / var(--base-size)) * var(--base-percent))) 0px #b7b4b4;
    transition: box-shadow .4s .1s;
}
.experience .list .swiper-slide a{
    position: relative; 
    display: block;
    -webkit-clip-path: inset(clamp(18px, 3vw, 30px) 0 clamp(18px, 3vw, 30px) 0);
    clip-path: inset(clamp(18px, 3vw, 30px) 0 clamp(18px, 3vw, 30px) 0);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: -webkit-clip-path .3s;
    transition: clip-path .3s;
    transition: clip-path .3s, -webkit-clip-path .3s;
}
.experience .list .swiper-slide:hover a{
    clip-path: inset(0 0 0 0);
}
.experience .list .swiper-slide a .photo{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.experience .list .swiper-slide a h3{
    padding-top: clamp(38px, 6vw, 60px);
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
} */

.experience .list .swiper-slide a{
    display: block;
    position: relative; /* photo 정렬의 기준 */
    height: clamp(386px, 52.2vw, 522px);
}
.experience .list .swiper-slide a .photo{
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
    overflow: hidden;
    transition: height 0.3s, box-shadow 0.3s;
}
.experience .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experience .list .swiper-slide a .photo img.over_after{    
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    transition: opacity 0.3s;
    opacity: 0;
}
.experience .list .swiper-slide a:hover .photo{
    height: 100%;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
}
.experience .list .swiper-slide a:hover .photo img.over_after{
    opacity: 1;
}
.experience .list .swiper-slide a .txt{
    color: #fff;
    padding-top: clamp(38px, 6vw, 60px);
    text-align: center;
}
.experience .list .swiper-slide a .txt h3{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
}
.experience .list .swiper-slide a .txt p{
    display: none;
    margin-top: clamp(10px, 2vw, 20px);
}
.experience .list .swiper-slide a:hover .txt p{
    display: block;
}
.experience .list .swiper-slide a .txt .more{
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%;
    transform: translate(-50%);
    bottom: clamp(50px, 6vw, 60px);
    color: #fff;
    font-family: pretendard;
}
.experience .list .swiper-slide a .txt .more span{
    display: none;
    position: relative; /* after 정렬의 기준 */
    padding: 0 22px 0 0;
}
.experience .list .swiper-slide a:hover .txt .more span{
    display: block;
}
.experience .list .swiper-slide a .txt .more span::after{
    position: absolute; /* span을 기준으로 정렬 */
    content: "";
    right: 0;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47059 12V6.52941H0V5.47059H5.47059V0H6.52941V5.47059H12V6.52941H6.52941V12H5.47059Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (max-width:768px){
        .experience .tit p{
            display: none;
        }
        .experience .list .swiper-slide.swiper-slide-active a .photo{
            height: 100%;
            box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
        }
        .experience .list .swiper-slide.swiper-slide-active a .photo img.over_after{
            opacity: 1;
        }
        .experience .list .swiper-slide.swiper-slide-active a .txt p{
            display: block;
        }
        .experience .list .swiper-slide.swiper-slide-active a .txt .more span{
            display: block;
        }
}

.offer .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.offer .tit{
    margin-top: clamp(80px, 17.4vw, 174px);
    text-align: center;
}
.offer .tit h2{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    color: var(--font-color-tit);
    margin-bottom: clamp(20px, 3vw, 30px);
} 
.offer .tit h2 br{
    display: none;
}
.offer .list{
    margin-top: clamp(60px, 7vw, 70px);
}
.offer .list .swiper-slide{
    font-family: pretendard;
}
.offer .list .swiper-slide .photo{
    overflow: hidden;
}
.offer .list .swiper-slide .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    transition: 0.3s;
}
.offer .list .swiper-slide:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.offer .list .swiper-slide h3{
    margin: clamp(20px, 2.6vw, 26px) 0 clamp(10px, 2vw, 20px) 0;
    color: var(--font-color-tit);
    font-size: clamp(17px, 2vw, 20px);
    font-weight: 700;
}
.offer .list .swiper-slide p{
    word-break: normal;
}
.offer .list .swiper-slide span{
    display: block;
    margin-top: 10px;
}
.offer .more{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 14.5%;
    display: block;
    font-family: pretendard;
    color: var(--font-color-df80);
}
.offer .more span{
    position: relative; /* after 정렬의 기준 */
    margin: 0 22px 0 0;
}
.offer .more span::after{
    position: absolute; /* span을 기준으로 정렬 */
    content: "";
    right: -22px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47059 12V6.52941H0V5.47059H5.47059V0H6.52941V5.47059H12V6.52941H6.52941V12H5.47059Z' fill='%23333333' fill-opacity='0.8'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (max-width:768px){
            .offer .tit{
                text-align: left;
            }
            .offer .tit h2 br{
                display: block;
            } 
            .offer .tit p{
                display: none;
            }
            .offer .list .swiper-slide p{
                line-height: var(--line-height-default);
                height: calc(var(--line-height-default) * 2em); /* 행간 * 줄수 = 단위em */
                overflow: hidden;
                /* 단어별 줄바꿈 안하고 그냥 단어로 나눠서 들어가게 - 가독성은 떨어져도 글자가 좌우로 꽉 참 */
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            .offer .more{
                top: 11%;
            } 
}

.room{
    margin-top: clamp(80px, 17.4vw, 174px);
}
.room .wrapper{
    position: relative; /* tit 정렬의 기준 */
}
.room .tit{
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 7.5%;
    top: 0;
    z-index: 10;
    background-color: var(--color-bg);
    /* padding: 70px 62px; */
    width: clamp(350px, 41.8vw, 418px);
    height: clamp(240px, 28vw, 280px);
    padding: clamp(50px, 7vw, 70px) clamp(32px, 6.2vw, 62px) 0 clamp(32px, 6.2vw, 62px);
}
.room .tit h2{
    font-size: clamp(38px, 4.5vw, 45px);
    line-height: var(--line-height-tit);
}
.room .tit p{
    word-break: normal;
    padding-top: clamp(15px, 3vw, 30px);
}
.room .list{
    padding-top: 20px;
}
.room .list .swiper-slide .photo{
    overflow: hidden;
    height: clamp(550px, 68.3vw, 683px);
}
.room .list .swiper-slide .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    transition: 0.3s;
}


body{
    margin-bottom: 600px;
}
