@import url(default.css);
@import url(fonts.css);
@import url(common.css);


.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.header .header_top .logo a{
    display: block;
    width: clamp(142px, 25.3vw, 253px);
    height: clamp(11px, 1.8vw, 18px);
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
@media screen and (min-width:1150px){
            .header.menu_over::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                width: 100%;
                height: 510px;
                background-color: #fff;
            }
            .header .header_top{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                height: var(--header-h);
                border-bottom: 1px solid var(--color-w50);
            }
            .header.menu_over .header_top{
                color: var(--font-color-tit);
                border-bottom: 1px solid rgba(34, 34, 34, 0.2);
            }
            .header.menu_over .header_top .logo a{
                background-image: url(../images/logo.svg);
            }
            .header .header_top .lang{
                position: absolute;
                right: 0;
                top: calc(var(--header-h) * 18px);
                font-size: 20px;
                font-family: pretendard;
            }
            .header .header_top .lang .language_open{
                position: relative; 
                padding-left: 4px;
                width: 50px;
                height: 32px;
                text-align: left;
            }
            .header .header_top .lang.open .language_open{
                background-color: var(--font-color-tit);
            }
            .header .header_top .lang .language_open::after{
                content: "";
                position: absolute;
                right: 4px;
                top: 13px;
                width: 9px;
                height: 5px;
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 5L0 0L9 1.57361e-06L4.5 5Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .header.menu_over .header_top .lang .language_open::after{
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 5L0 0H9L4.5 5Z' fill='%23222222'/%3E%3C/svg%3E%0A");
            }
            .header .header_top .lang.open .language_open::after{
                transform: rotate(180deg);
            }
            .header .header_top .lang .lang_wrap{
                display: none;
                position: absolute;
                left: 0;
                top: 32px;
                background-color: #fff;
                width: 100%;
                padding: 1px 0;
                color: var(--font-color-tit);
                text-align: center;
            }
            .header .header_top .lang.open .lang_wrap{
                display: block;
            }
            .header .header_sub .gnb .gnb_open,
            .header .header_sub .gnb .gnb_logo,
            .header .header_sub .gnb .gnb_close{
                display: none;
            }
            .header .header_sub .gnb .gnb_wrap{
                display: flex;
                justify-content: center;
            }
            .header .header_sub .gnb .gnb_wrap ul.depth1{
                display: flex;
            }
            .header .header_sub .gnb .gnb_wrap ul.depth1 > li{
                position: relative; /* depth2 정렬의 기준 */
                width: 161px;
                text-align: center;
            }  
            .header .header_sub .gnb .gnb_wrap ul.depth1 > li > a{
                display: block;
                color: #fff;
                font-size: 20px;
                line-height: 75px;
            }
            .header.menu_over .header_sub .gnb .gnb_wrap ul.depth1 > li > a{
                color: var(--font-color-tit);
            }
            .header .header_sub .gnb .gnb_wrap ul.depth1 > li.over > a{
                color: var(--color-point2);
            }
            .header .header_sub .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                display: none;
                position: absolute; /* ul.depth1 > li으로 정렬 */
                left: 0;
                top: 75px;
                width: 100%;
            }
            .header.menu_over .header_sub .gnb .gnb_wrap ul.depth1 > li > ul.depth2{
                display: block;
            }
            .header .header_sub .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a{
                display: block;
                font-family: pretendard;
                color: var(--font-color-df80);
                padding: 0.5em 0 0.5em 0;
            }
            .header .header_sub .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover{
                color: var(--color-point2);
            }
            .header .header_sub .gnb .gnb_wrap .gnb_link{
                margin-top: 16px;
                display: flex;
                gap: 0 14px;
            }
            .header .header_sub .gnb .gnb_wrap .gnb_link a{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--color-point2);
                width: 146px;
                height: 48px;
                border-radius: 30px;
                text-align: center;
                color: #fff;
                font-size: clamp(17px, 2vw, 20px);
            }
            .header .header_sub .gnb .gnb_wrap .gnb_link a:hover{
                background-color: var(--font-color-tit);
                color: var(--color-point);
            }
            .header .header_sub .gnb .gnb_wrap .gnb_link a span{
                position: relative; /* 예약아이콘 정렬의 기준 */
                padding-left: 17px;
            }
            .header .header_sub .gnb .gnb_wrap .gnb_link a span::after{
                position: absolute; /* span을 기준으로 정렬 */
                content: "";
                left: 0px;
                top: 27%;
                width: 11px;
                height: 13px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.09237 12.6686C0.787113 12.6686 0.528737 12.5526 0.317242 12.3207C0.105747 12.0887 0 11.8053 0 11.4705V2.59997C0 2.26517 0.105747 1.98179 0.317242 1.74982C0.528737 1.51786 0.787113 1.40188 1.09237 1.40188H1.92898V0H2.85866V1.40188H7.43722V0H8.34362V1.40188H9.18024C9.48549 1.40188 9.74387 1.51786 9.95537 1.74982C10.1669 1.98179 10.2726 2.26517 10.2726 2.59997V6.89508L9.3662 7.88921V5.25097H0.906407V11.4705C0.906407 11.5216 0.925794 11.5683 0.964568 11.6107C1.00324 11.6532 1.04584 11.6745 1.09237 11.6745H4.76332L5.67546 12.6686H1.09237ZM0.906407 4.25684H9.3662V2.59997C9.3662 2.54893 9.34681 2.50221 9.30804 2.45979C9.26937 2.41727 9.22677 2.39601 9.18024 2.39601H1.09237C1.04584 2.39601 1.00324 2.41727 0.964568 2.45979C0.925794 2.50221 0.906407 2.54893 0.906407 2.59997V4.25684ZM7.86247 13L5.96144 10.9213L6.59819 10.2229L7.85326 11.5993L10.3632 8.84638L11 9.55503L7.86247 13Z' fill='white'/%3E%3C/svg%3E ");
            }
            .header .header_sub .gnb .gnb_wrap .gnb_link a:hover span::after{
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.09237 12.6686C0.787113 12.6686 0.528737 12.5526 0.317242 12.3207C0.105747 12.0887 0 11.8053 0 11.4705V2.59997C0 2.26517 0.105747 1.98179 0.317242 1.74982C0.528737 1.51786 0.787113 1.40188 1.09237 1.40188H1.92898V0H2.85866V1.40188H7.43722V0H8.34362V1.40188H9.18024C9.48549 1.40188 9.74387 1.51786 9.95537 1.74982C10.1669 1.98179 10.2726 2.26517 10.2726 2.59997V6.89508L9.3662 7.88921V5.25097H0.906407V11.4705C0.906407 11.5216 0.925794 11.5683 0.964568 11.6107C1.00324 11.6532 1.04584 11.6745 1.09237 11.6745H4.76332L5.67546 12.6686H1.09237ZM0.906407 4.25684H9.3662V2.59997C9.3662 2.54893 9.34681 2.50221 9.30804 2.45979C9.26937 2.41727 9.22677 2.39601 9.18024 2.39601H1.09237C1.04584 2.39601 1.00324 2.41727 0.964568 2.45979C0.925794 2.50221 0.906407 2.54893 0.906407 2.59997V4.25684ZM7.86247 13L5.96144 10.9213L6.59819 10.2229L7.85326 11.5993L10.3632 8.84638L11 9.55503L7.86247 13Z' fill='%23C6A769'/%3E%3C/svg%3E ");
            }
            .header .gnb_bg{
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -2;
                width: 100vw;
                height: clamp(530px, 90vw, 900px);
                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(3px);
            }
            .header.menu_over .gnb_bg{
                display: block;
            }
}
@media screen and (min-width:1150px) and (max-width:1280px){
    .header .header_sub .gnb .gnb_wrap ul.depth1 > li{
        width: clamp(140px, 12.5vw, 161px);
    }
}
@media screen and (min-width:1150px) and (max-width:1260px){
        .header .header_sub .gnb .gnb_wrap .gnb_link{
            margin-top: 18px;
            gap: 0 10px;
        }
        .header .header_sub .gnb .gnb_wrap .gnb_link a{
            width: 136px;
            height: 38px;
        }
}

@media screen and (min-width:1024px) and (max-width:1149px){
    .header .header_top .logo{
        margin-top: 41px;
    }
    .header .header_sub .gnb .gnb_wrap .gnb_logo{
        margin-top: 41px;
    }
}
@media screen and (max-width:1149px){
    .header{
        height: var(--header-h);
    }
    .header::after{
        content: "";
        position: absolute;
        left: var(--wrapper-margin);
        bottom: 0;
        width: calc(100% - (var(--wrapper-margin) * 2));
        height: 1px;
        background-color: var(--color-w20);
    }
    .header .wrapper{
        margin-right: 0;
    }
    .header .header_top{
        display: flex;
        justify-content: center;
    }
    .header .header_sub .gnb .gnb_open{
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
    }
    .header .header_top .lang{
        display: none;
    }
    .header .header_sub .gnb .gnb_wrap{
        display: none;
        position: fixed; /* 스크롤 내려도 위에 고정 */
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    .header .header_sub .gnb .gnb_wrap::before{
        content: "";
        position: absolute; /* gnb_wrap을 기준으로 정렬 */
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: rgba(34, 34, 34, 0.2);
    }
    .header .header_sub .gnb .gnb_wrap .gnb_logo{
        margin-left: var(--wrapper-margin);
    }
    .header .header_sub .gnb .gnb_wrap .gnb_logo img{
        width: clamp(142px, 25.3vw, 253px);
    }
    .header.menu_open .header_sub .gnb .gnb_wrap{
        display: block;
    }
    .header .header_sub .gnb .gnb_wrap ul.depth1{
        margin: 44px var(--wrapper-margin) 0 var(--wrapper-margin);
    }
    .header .header_sub .gnb .gnb_wrap ul.depth1 > li > a{
        position: relative; /* after 정렬의 기준 */
        display: block;
        font-size: 20px;
        color: var(--font-color-tit);
        line-height: var(--line-height-tit);
        padding: 21px 0 21px 0;
    }
    .header .header_sub .gnb .gnb_wrap ul.depth1 > li > a::after{
        content: "";
        position: absolute; /* a를 기준으로 정렬 */
        right: 0;
        top: 31px;
        width: 40px;
        height: 7px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0.897204L6 7L7.27751e-08 0.897205L0.882093 4.48799e-07L6 5.20575L11.1179 1.23438e-07L12 0.897204Z' fill='%23222222'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    .header .header_sub .gnb .gnb_wrap ul.depth1 > li.open > a::after{
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.27751e-08 6.1028L6 3.33818e-07L12 6.1028L11.1179 7L6 1.79425L0.882093 7L7.27751e-08 6.1028Z' fill='%23222222'/%3E%3C/svg%3E ");
    }
    .header .header_sub .gnb .gnb_wrap ul.depth1 > li > .depth2{
        display: none;
        padding: 20px 20px;
        background-color: var(--color-bg);
        font-family: pretendard;
        line-height: 2.5;
    }
    .header .header_sub .gnb .gnb_wrap ul.depth1 > li.open > .depth2{
        display: block;
    }
    .header .header_sub .gnb .gnb_wrap .gnb_link{
        display: flex;
        justify-content: center;
        gap: 0 6px;
        margin-top: 20px;
    }
    .header .header_sub .gnb .gnb_wrap .gnb_link a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--font-color-tit);
        border-radius: 30px;
        width: 146px;
        height: 48px;
        color: var(--color-point);
        font-family: pretendard;
    }
    .header .header_sub .gnb .gnb_wrap .gnb_link a span{
        position: relative; /* 예약아이콘 정렬의 기준 */
        padding-left: 17px;
    }
    .header .header_sub .gnb .gnb_wrap .gnb_link a span::after{
        position: absolute; /* span을 기준으로 정렬 */
        content: "";
        left: 0px;
        top: 27%;
        width: 11px;
        height: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.09237 12.6686C0.787113 12.6686 0.528737 12.5526 0.317242 12.3207C0.105747 12.0887 0 11.8053 0 11.4705V2.59997C0 2.26517 0.105747 1.98179 0.317242 1.74982C0.528737 1.51786 0.787113 1.40188 1.09237 1.40188H1.92898V0H2.85866V1.40188H7.43722V0H8.34362V1.40188H9.18024C9.48549 1.40188 9.74387 1.51786 9.95537 1.74982C10.1669 1.98179 10.2726 2.26517 10.2726 2.59997V6.89508L9.3662 7.88921V5.25097H0.906407V11.4705C0.906407 11.5216 0.925794 11.5683 0.964568 11.6107C1.00324 11.6532 1.04584 11.6745 1.09237 11.6745H4.76332L5.67546 12.6686H1.09237ZM0.906407 4.25684H9.3662V2.59997C9.3662 2.54893 9.34681 2.50221 9.30804 2.45979C9.26937 2.41727 9.22677 2.39601 9.18024 2.39601H1.09237C1.04584 2.39601 1.00324 2.41727 0.964568 2.45979C0.925794 2.50221 0.906407 2.54893 0.906407 2.59997V4.25684ZM7.86247 13L5.96144 10.9213L6.59819 10.2229L7.85326 11.5993L10.3632 8.84638L11 9.55503L7.86247 13Z' fill='%23C6A769'/%3E%3C/svg%3E ");
    }
    .header .gnb_bg{
        display: none;
    }
    .header .header_sub .gnb .gnb_wrap .gnb_close{
        position: absolute;
        right: var(--wrapper-margin);
        top: 0;
        width: 40px;
        height: var(--header-h);
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .header .header_top .logo{
        margin-top: 26px;
    }
    .header .header_sub .gnb .gnb_wrap .gnb_logo{
        margin-top: 26px;
    }
    .header .header_sub .gnb .gnb_wrap ul.depth1{
        margin-top: 29px;
    }
}
@media screen and (max-width:768px){
    .header .header_top .logo{
        margin-top: 20px;
    }
    .header .header_sub .gnb .gnb_wrap .gnb_logo{
        margin-top: 20px;
    }
    .header .header_sub .gnb .gnb_wrap ul.depth1{
        margin-top: 23px;
    }
}



.visual{
    position: relative; /* reserve 정렬의 기준 */
}
.visual .swiper-slide{
    height: clamp(530px, 90vw, 900px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .swiper-slide.bg1{
    background-image: url(../images/vsiual01.jpg);
}
.visual .swiper-slide.bg2{
    background-image: url(../images/vsiual02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/vsiual03.jpg);
}
.visual .swiper-slide.bg4{
    background-image: url(../images/vsiual04.jpg);
}
.visual .swiper-slide h3{
    margin-bottom: 0.28em;
    font-size: clamp(36px, 5vw, 60px);
    line-height: var(--line-height-tit);
}
.visual .swiper-slide p{
    font-size: clamp(16px, 2vw, 20px);
}
.visual .reserve{
    position: absolute; /* visual을 기준으로 정렬 */
    left: 0;
    bottom: 100px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: pretendard;
    color: #fff;
    font-size: clamp(16px, 2vw, 20px);
}
.visual .reserve .check{
    position: relative; /* after 정렬의 기준 */
    padding: 6px 30px;
    border-right: 1px solid var(--color-w80);
}
.visual .reserve .check::after{
    position: absolute; /* check를 기준으로 정렬 */
    content: "";
    right: 15px;
    top: 37px;
    width: 9px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.64086L4.5 5L0 0.640861L0.66157 4.47919e-07L4.5 3.71839L8.33843 1.12353e-07L9 0.64086Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.visual .reserve .check strong{
    display: block;
    margin-bottom: 12px;
}
.visual .reserve .check span{
    display: block;
}
.visual .reserve .rooms{
    display: flex;
    text-align: center;
    gap: 17px;
    padding: 4px 30px;
}
.visual .reserve .room strong{
    display: block;
    margin-bottom: 12px;
}
.visual .reserve .room span{
    display: inline-block;
    padding: 0 14px 0 0;
    position: relative; /* after 정렬의 기준 */
}
.visual .reserve .room span::after{
    position: absolute; /* span을 기준으로 정렬 */
    content: "";
    right: 0;
    top: 7px;
    width: 9px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.64086L4.5 5L0 0.640861L0.66157 4.47919e-07L4.5 3.71839L8.33843 1.12353e-07L9 0.64086Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.visual .reserve .search{
    padding: 25px 67px;
    background-color: var(--font-color-tit);
    color: #fff;
}
.visual .reserve .search:hover{
    color: var(--color-point);
}
.visual .reserve_m{
    display: none;
}
.visual .reserve_m a{
    font-family: pretendard;
    padding: 11px 24px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}
@media screen and (max-width:768px){
            .visual .reserve{
                display: none;
            }
            .visual .reserve_m{ 
                position: absolute; /* visual을 기준으로 정렬 */
                left: 0;
                bottom: 80px;
                z-index: 1;
                width: 100%;
                display: flex;
                justify-content: center;
            }    
}

.experience{
    margin-top: clamp(80px, 17.4vw, 174px);
    text-align: center;
    overflow-x: hidden;
}
.experience .tit h2{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    color: var(--font-color-tit);
    margin-bottom: clamp(20px, 3vw, 30px);
} 
.experience .list{
    margin-top: clamp(60px, 7vw, 70px);
}
.experience .list .swiper{
    overflow: visible;
}
/* .experience .list .swiper-slide{
    color: #fff;
    height: clamp(386px, 52.2vw, 522px);
    transition: box-shadow .1s;
}
:root {
    --base-ratio: 0.5;
    --base-size: 1920;
    --base-percent: 100vw;
}
.experience .list .swiper-slide:hover{
    box-shadow: max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) max(calc(30px * var(--base-ratio)), calc(calc(30 / var(--base-size)) * var(--base-percent))) 0px #b7b4b4;
    transition: box-shadow .4s .1s;
}
.experience .list .swiper-slide a{
    position: relative; 
    display: block;
    -webkit-clip-path: inset(clamp(18px, 3vw, 30px) 0 clamp(18px, 3vw, 30px) 0);
    clip-path: inset(clamp(18px, 3vw, 30px) 0 clamp(18px, 3vw, 30px) 0);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: -webkit-clip-path .3s;
    transition: clip-path .3s;
    transition: clip-path .3s, -webkit-clip-path .3s;
}
.experience .list .swiper-slide:hover a{
    clip-path: inset(0 0 0 0);
}
.experience .list .swiper-slide a .photo{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.experience .list .swiper-slide a h3{
    padding-top: clamp(38px, 6vw, 60px);
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
} */

.experience .list .swiper-slide a{
    display: block;
    position: relative; /* photo 정렬의 기준 */
    height: clamp(386px, 52.2vw, 522px);
}
.experience .list .swiper-slide a .photo{
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
    overflow: hidden;
    transition: height 0.3s, box-shadow 0.3s;
}
.experience .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experience .list .swiper-slide a .photo img.over_after{    
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    transition: opacity 0.3s;
    opacity: 0;
}
.experience .list .swiper-slide a:hover .photo{
    height: 100%;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
}
.experience .list .swiper-slide a:hover .photo img.over_after{
    opacity: 1;
}
.experience .list .swiper-slide a .txt{
    color: #fff;
    padding-top: clamp(38px, 6vw, 60px);
    text-align: center;
}
.experience .list .swiper-slide a .txt h3{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
}
.experience .list .swiper-slide a .txt p{
    display: none;
    margin-top: clamp(10px, 2vw, 20px);
}
.experience .list .swiper-slide a:hover .txt p{
    display: block;
}
.experience .list .swiper-slide a .txt .more{
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%;
    transform: translate(-50%);
    bottom: clamp(50px, 6vw, 60px);
    color: #fff;
    font-family: pretendard;
}
.experience .list .swiper-slide a .txt .more span{
    display: none;
    position: relative; /* after 정렬의 기준 */
    padding: 0 22px 0 0;
}
.experience .list .swiper-slide a:hover .txt .more span{
    display: block;
}
.experience .list .swiper-slide a .txt .more span::after{
    position: absolute; /* span을 기준으로 정렬 */
    content: "";
    right: 0;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47059 12V6.52941H0V5.47059H5.47059V0H6.52941V5.47059H12V6.52941H6.52941V12H5.47059Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (max-width:768px){
        .experience .tit p{
            display: none;
        }
        .experience .list .swiper-slide.swiper-slide-active a .photo{
            height: 100%;
            box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
        }
        .experience .list .swiper-slide.swiper-slide-active a .photo img.over_after{
            opacity: 1;
        }
        .experience .list .swiper-slide.swiper-slide-active a .txt p{
            display: block;
        }
        .experience .list .swiper-slide.swiper-slide-active a .txt .more span{
            display: block;
        }
}

.offer .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.offer .tit{
    margin-top: clamp(80px, 17.4vw, 174px);
    text-align: center;
}
.offer .tit h2{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    color: var(--font-color-tit);
    margin-bottom: clamp(20px, 3vw, 30px);
} 
.offer .tit h2 br{
    display: none;
}
.offer .list{
    margin-top: clamp(60px, 7vw, 70px);
}
.offer .list .swiper-slide{
    font-family: pretendard;
}
.offer .list .swiper-slide .photo{
    overflow: hidden;
}
.offer .list .swiper-slide .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    transition: 0.3s;
}
.offer .list .swiper-slide:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.offer .list .swiper-slide h3{
    margin: clamp(20px, 2.6vw, 26px) 0 clamp(10px, 2vw, 20px) 0;
    color: var(--font-color-tit);
    font-size: clamp(17px, 2vw, 20px);
    font-weight: 700;
}
.offer .list .swiper-slide p{
    word-break: normal;
}
.offer .list .swiper-slide span{
    display: block;
    margin-top: 10px;
}
.offer .more{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: calc(var(--font-size-tit) * var(--line-height-tit) + clamp(20px, 3vw, 30px));
    display: block;
    font-family: pretendard;
    color: var(--font-color-df80);
}
.offer .more span{
    position: relative; /* after 정렬의 기준 */
    margin: 0 22px 0 0;
}
.offer .more span::after{
    position: absolute; /* span을 기준으로 정렬 */
    content: "";
    right: -22px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47059 12V6.52941H0V5.47059H5.47059V0H6.52941V5.47059H12V6.52941H6.52941V12H5.47059Z' fill='%23333333' fill-opacity='0.8'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (max-width:768px){
            .offer .tit{
                text-align: left;
            }
            .offer .tit h2 br{
                display: block;
            } 
            .offer .tit p{
                display: none;
            }
            .offer .list .swiper-slide p{
                line-height: var(--line-height-default);
                height: calc(var(--line-height-default) * 2em); /* 행간 * 줄수 = 단위em */
                overflow: hidden;
                /* 단어별 줄바꿈 안하고 그냥 단어로 나눠서 들어가게 - 가독성은 떨어져도 글자가 좌우로 꽉 참 */
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            .offer .more{
                top: calc(var(--font-size-tit) * var(--line-height-tit) * 2);
                transform: translateY(-100%);
            } 
}

.stay{
    margin-top: clamp(80px, 17.4vw, 174px);
}
.stay .wrapper{
    position: relative; /* tit 정렬의 기준 */
}
.stay .tit{
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 7.5%;
    top: 0;
    z-index: 10;
    background-color: var(--color-bg);
    /* padding: 70px 62px; */
    width: clamp(350px, 41.8vw, 418px);
    height: clamp(240px, 28vw, 280px);
    padding: clamp(50px, 7vw, 70px) clamp(32px, 6.2vw, 62px) 0 clamp(32px, 6.2vw, 62px);
}
.stay .tit h2{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
}
.stay .tit h2 br{
    display: none;
}
.stay .tit p{
    word-break: normal;
    padding-top: clamp(15px, 3vw, 30px);
}
.stay .list{
    padding-top: 20px;
    position: relative; /* swiper_paging 정렬의 기준 */ 
}
.stay .list .swiper-slide .photo{
    overflow: hidden;
    height: clamp(550px, 68.3vw, 683px);
}
.stay .list .swiper-slide .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.stay .list .swiper-slide span{
    display: none;
}
.stay .list .swiper_paging{
    position: absolute; /* list를 기준으로 정렬 */
    left: 8.3%;
    bottom: 5.7%;
    width: calc(100% - 19.3% - 182px);
    color: var(--color-w50);
    text-align: center;
    font-family: pretendard;
}
.stay .list .swiper_paging .swiper-slide{
    border-top: clamp(2px, 4vw, 4px) solid var(--color-w50);
    padding-top: 1.3%;
    cursor: pointer;
}
.stay .list .swiper_paging .swiper-slide.swiper-slide-thumb-active{
    color: #fff;
    border-top: clamp(2px, 4vw, 4px) solid #fff;
}
.stay .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.stay .more{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 11%;
    bottom: 9.3%;
    z-index: 10;
    display: block;
    font-family: pretendard;
    color: #fff;
}
.stay .more a{
    display: block;
    position: relative; /* after 정렬의 기준 */
    margin: 0 22px 0 0;
}
.stay .more a::after{
    position: absolute; /* a를 기준으로 정렬 */
    content: "";
    right: -22px;
    top: 6px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47059 12V6.52941H0V5.47059H5.47059V0H6.52941V5.47059H12V6.52941H6.52941V12H5.47059Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (max-width:842px){
            .stay{
                background-color: var(--color-bg);
                padding: 80px 0 40px 0;
            }
            .stay .tit{
                position: relative;
                left: auto;
                top: auto;
                z-index: 10;
                width: auto;
                height: auto;
                padding: 0;
            }
            .stay .tit h2 br{
                display: none;
            }
            .stay .list{
                margin-top: clamp(50px, 6vw, 60px);
            }
            .stay .list .swiper-slide .photo{
                height: clamp(297px, 55vw, 550px);
            }
            .stay .list .swiper-slide span{
                position: absolute; /* photo를 기준으로 정렬 */
                left: 50%;
                transform: translate(-50%);
                bottom: 7%;
                display: block;
                color: #fff;
                font-family: pretendard;
                font-size: clamp(16px, 2.4vw, 20px);
                text-align: center;
            }
            .stay .list .swiper_paging{
                display: none;
            }
            .stay .more{
                position: absolute; /* wrapper를 기준으로 정렬 */
                right: 0;
                bottom: auto;
                top: 11.8%;
                color: var(--font-color-df80);
            }
            .stay .more a::after{
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47059 12V6.52941H0V5.47059H5.47059V0H6.52941V5.47059H12V6.52941H6.52941V12H5.47059Z' fill='%23333333' fill-opacity='0.8'/%3E%3C/svg%3E ");
            }
}
@media screen and (max-width:768px){
            .stay .tit h2 br{
                display: block;
            }
            .stay .tit p{
                display: none;
            }
            .stay .list{
                margin-top: clamp(50px, 6vw, 60px);
            }
            .stay .list .swiper-slide .photo{
                height: clamp(297px, 55vw, 550px);
            }
            .stay .list .swiper_paging{
                display: none;
            }
            .stay .more{
                top: calc(var(--font-size-tit) * var(--line-height-tit) * 2);
                transform: translateY(-100%);
            } 
}

.dining .tit{
    margin-top: clamp(80px, 17.4vw, 174px);
    text-align: center;
}
.dining .tit h2{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    color: var(--font-color-tit);
    margin-bottom: clamp(20px, 3vw, 30px);
}
.dining .tab_list{
    display: flex;
    justify-content: flex-end;
    margin-top: clamp(60px, 7vw, 70px);
}
.dining .tab_list ul{
    display: flex;
    width: 57.53%;
    overflow-y: hidden;/* 위아래 스크롤 바는 숨김 */
    overflow-x: auto; /* 좌우 스크롤바 생성 */
}
.dining .tab_list ul::-webkit-scrollbar{
    display: none;
}
.dining .tab_list ul::-webkit-scrollbar-thumb{
    display: none;
}
.dining .tab_list ul::-webkit-scrollbar-track{
    display: none;
}
.dining .tab_list ul li{
    color: var(--font-color-df80);
    font-family: pretendard;
    font-weight: 700;
    border: 1px solid var(--font-color-tit);
    border-left: 0;
    width: 25%;
    min-width: 139px;
    text-align: center;
    white-space: nowrap;
}
.dining .tab_list ul li:first-child{
    border-left: 1px solid var(--font-color-tit);
}
.dining .tab_list ul li button{
    height: clamp(28px, 3.6vw, 36px);
    width: 100%;
}
.dining .tab_list ul li.active button{
    background-color: var(--font-color-tit);
    color: var(--color-point);
}
.dining .tab_conts{
    position: relative; /* more 정렬의 기준 */ 
    padding-top: clamp(20px, 3.4vw, 34px);
}
.dining .tab_conts .tab_item{
    display: none;
    justify-content: space-between;
}
.dining .tab_conts .tab_item.active{
    display: flex;
}
.dining .tab_conts .tab_item .tab_tit{
    width: 38.65%;
    margin-top: -70px;
}
.dining .tab_conts .tab_item .tab_tit .tit_photo{
    overflow: hidden;
}
.dining .tab_conts .tab_item .tab_tit .tit_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.dining .tab_conts .tab_item .photo{
    overflow: hidden;
    width: 57.53%;
}
.dining .tab_conts .tab_item .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.dining .tab_conts .tab_item h3{
    margin-top: clamp(30px, 6vw, 60px);
    color: var(--font-color-tit);
    font-family: pretendard;
    font-size: clamp(20px, 2.4vw, 24px);
    font-weight: 700;
}
.dining .tab_conts .tab_item p{
    margin-top: clamp(10px, 3vw, 30px);
    word-break: normal;
}
.dining .tab_conts .tab_item .more{
    position: absolute; /* .tab_conts를 기준으로 정렬 */
    right: 0;
    top: calc((clamp(60px, 7vw, 70px) + 34px) * -1);
    transform: translateY(-100%);
    display: block;
    font-family: pretendard;
    color: var(--font-color-df80);
}
.dining .tab_conts .tab_item .more span{
    position: relative; /* after 정렬의 기준 */
    margin: 0 22px 0 0;
}
.dining .tab_conts .tab_item .more span::after{
    position: absolute; /* span을 기준으로 정렬 */
    content: "";
    right: -22px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47059 12V6.52941H0V5.47059H5.47059V0H6.52941V5.47059H12V6.52941H6.52941V12H5.47059Z' fill='%23333333' fill-opacity='0.8'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (max-width:899px){
            .dining .tab_list ul{
                display: flex;
                width: 100%;
            }
            .dining .tab_list ul li:first-child{
                border-left: 1px solid var(--font-color-tit);
            }
            .dining .tab_conts .tab_item{
                display: none;
                justify-content: space-between;
            }
            .dining .tab_conts .tab_item.active{
                display: flex;
            }
            .dining .tab_conts .tab_item .tab_tit{
                width: 100%;
                margin-top: 0;
            }
            .dining .tab_conts .tab_item .photo{
                display: none;
            }
            .dining .tab_conts .tab_item p{
                line-height: var(--line-height-default);
                height: calc(var(--line-height-default) * 2em); /* 행간 * 줄수 = 단위em */
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
}
@media screen and (max-width:768px){
            .dining .tit h2{
                text-align: left;
            }
            .dining .tit p{
                display: none;
            }
            .dining .more{
                top: calc(var(--font-size-tit) * var(--line-height-tit) * 1);
                transform: translateY(-100%);
            } 
}
.notice .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.notice .tit{
    margin-top: clamp(80px, 17.4vw, 174px);
    text-align: center;
}
.notice .tit h2{
    font-size: var(--font-size-tit);
    line-height: var(--line-height-tit);
    color: var(--font-color-tit);
    margin-bottom: clamp(20px, 3vw, 30px);
}
.notice .list{
    margin-top: clamp(30px, 7vw, 70px);
    font-family: pretendard;
}
.notice .list ul{
    display: flex;
    justify-content: center;
    gap: clamp(16px, 2.4vw, 24px);
}
.notice .list ul li{
    width: calc(33.33% - 16px);  
}
.notice .list ul li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg);
    height: 227px;
    padding: 40px 40px;
}
.notice .list ul li a:hover{
    color: var(--color-point);
    background-color: var(--font-color-tit);
}
.notice .list ul li a h3{
    font-weight: 700;
    font-size: 22px;
    line-height: var(--line-height-default);
    height: calc(var(--line-height-default) * 1em); /* 행간 * 줄수 = 단위em */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.notice .more{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: calc(var(--font-size-tit) * var(--line-height-tit) + clamp(20px, 3vw, 30px));
    display: block;
    font-family: pretendard;
    color: var(--font-color-df80);
}
.notice .more span{
    position: relative; /* after 정렬의 기준 */
    margin: 0 22px 0 0;
}
.notice .more span::after{
    position: absolute; /* span을 기준으로 정렬 */
    content: "";
    right: -22px;
    top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47059 12V6.52941H0V5.47059H5.47059V0H6.52941V5.47059H12V6.52941H6.52941V12H5.47059Z' fill='%23333333' fill-opacity='0.8'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (max-width:768px){
            .notice .tit{
                text-align: left;
            }
            .notice .tit p{
                display: none;
            }
            .notice .list ul{
                flex-direction: column;
                gap: 5px;
            }
            .notice .list ul li{
                width: auto;  
            }
            .notice .list ul li a{
                flex-direction: row;
                align-items: center;
                height: auto;
                padding: 18px 10px;
            }
            .notice .list ul li a h3{
                margin-right: 20px;
                font-size: var(--font-size-default);
            }
            .notice .more{
                top: calc(var(--font-size-tit) * var(--line-height-tit));
                transform: translateY(-100%);
            }
}

.footer{
    margin-top: clamp(80px, 17.4vw, 174px);
    background-color: var(--font-color-tit);
    padding: 100px 0 100px 0;
    color: var(--color-w80);
    font-family: pretendard;
}
.footer .f_nav ul{
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 0 45px;
}
.footer .f_nav ul li{
    position: relative; /* after 정렬의 기준 */
}
.footer .f_nav ul li::after{
    content: "";
    position: absolute; /* li를 기준으로 정렬 */
    right: -22PX;
    top: 6px;
    width: 1px;
    height: 11px;
    background-color: var(--color-w20);
}
.footer .f_nav ul li:last-child::after{
    display: none;
}
.footer .f_info{
    margin-top: 20px;
    line-height: 1.8;
}
.footer .f_info span{
    position: relative; /* after 정렬의 기준 */
    display: inline-block;
    margin-right: 45px;
}
.footer .f_info span::after{
    content: "";
    position: absolute; /* li를 기준으로 정렬 */
    right: -22PX;
    top: 8px;
    width: 1px;
    height: 11px;
    background-color: var(--color-w20);
}
.footer .f_info span:last-child::after{
    display: none;
}
.footer .copyright{
    margin-top: 20px;
}

