@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; /* 맨위 - 절대 이 숫자보다 높은 숫자 주면 안됨 */
    color: #fff;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(225, 225, 225, 0.2);
}
.header .wrapper{
    display: flex; /* logo,gnb,util 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
.header .logo a{
    display: block;
}
.header .logo a img{
    vertical-align: top;
}
.header .gnb .gnb_open{
    display: none; /* 모바일에서만 보임 */ 
}
.header .gnb .gnb_wrap ul{
    display: flex;/* li를 좌우로 배치 */
}
.header .gnb .gnb_wrap ul li{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;/* header와 높이와 동일하게 */
    padding: 0 22.5px; /* 좌우여백만 줌 */
}
.header .util .weather{
    position: relative; /* before 정렬의 기준 */
    padding: 0 0 0 37px; /* 아이콘 들어갈 자리 */
    display: flex; /* strong-span 정렬 */
    flex-direction: column;
    line-height: 1.1;
}
.header .util .weather strong{
    font-weight: 700;
}
.header .util .weather::before{
    content: " "; /* 필수 */
    position: absolute; /* weather를 기준으로 정렬 */
    left: 0;
    top: 6px;
    width: 32px; /* 아이콘 사이즈 */
    height: 29px;
    background: url(../images/weather.svg) no-repeat center center;
}
@media screen and (max-width:768px){
                .header{
                    height: 56px;
                }
                .header .wrapper{
                    margin-right: 0; /* 오른쪽 여백 삭제 */
                }
                .header .logo a img{
                    width: 93px;
                }
                .header .gnb .gnb_open{
                    display: block;/* 모바일에서만 보임 */ 
                    width: 56px;/* header 높이 */
                    height: 56px;/* header 높이 */
                    background: url(../images/gnb_open.svg) no-repeat center center;
                }
                .header .gnb .gnb_wrap{
                    display: none;/* 모바일에서는 메뉴가 눌려야 나옴 */
                }
                .header .util{
                   display: none;/* 모바일에서는 안나옴 */
                }
}/*@media*/


.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    border-radius: 0 0 200px 0;
    text-align: center;
    position: relative; /* before 정렬의 기준 */
}
.visual::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #F5F8F4;
}
.visual .wrapper{
    height: 900px;
    position: relative; /* picture 정렬의 기준 */
}
.visual h2{
    padding: 289px 0 0 0;
}
.visual .picture{
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%; /* 동그라미 */ 
    background-color: #376B2B;
    font-weight: 700;
    padding: 92px 0 0 0;
    position: absolute; /* wrapper를 기준으로 */
    right: -90px; /* 높이 반 */
    bottom: -90px; /* 넓이 반 */
}
.visual .picture::before{
    content: " "; /*필수*/ 
    position: absolute; /* picture를 기준으로 정렬 */
    left: 0;
    top: 43px;
    width: 100%;
    height: 42px;
 /* 아이콘을 배경으로 줄때는 사이즈를 아주면 원래 사이즈대로 들어감
    - contain은 배경이미지를 하나도 짤리지 않게 꽉차게 리사이즈 하는것
        이렇게 아이콘을 배경으로 줄때 사용 */
    background: url(../images/visual_picture.svg) no-repeat center center /contain;
}
.visual .picture:hover{
    color: #EDE59D;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, 0.1);
}
.visual .picture:hover::before{
    background-image: url(../images/visual_picture_on.svg);
    /* background-image로 선언하면 이미지만 교체되고 위치나 반복값은 그대로 상속됨 */
}
@media screen and (max-width:768px){
                    .visual{
                        border-radius: 0 0 30px 30px;
                    }
                    .visual .wrapper{
                        height: 650px;
                        display: flex;
                        align-items: center; /* 위아래 가운데, 좌우의 가운데 */
                        justify-content: center;
                    }
                    .visual h2{
                        padding: 0;
                    }
                    .visual h2 img{
                        width: 80%; /* img를 감싸는 h2의 넓이의 80% */ 
                        max-width: 400px; /* 최대 넓이 제한 */ 
                    }
                    .visual .picture{
                        width: 100px;
                        height: 100px;
                        line-height: 1.1;
                        font-size: 15px;
                        padding: 49px 0 0 0;
                        right: 0; 
                        bottom: -50px; /* 높이 반 */
                    }
                    .visual .picture::before{
                        top: 22px;
                        height: 22px;
                    }
}/*@media*/

.culture{
    padding: 157px 0 104px 0;
    background-color: #F5F8F4;
}
.culture .wrapper{
    position: relative; /* more 기준으로 정렬 */
}
.culture .tit{
    margin: 0 115px 0 0;/* 더보기가 들어갈 자리 여백을 줌 */
}
.culture .tit h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 21px 0;
}
.culture .tit h2 br{
    display: none; /* pc에서는 줄바꿈 안함 */
}
.culture .list{
    margin: 52px 0 0 0;
}
.culture .list ul{
    display: flex;/* li 좌우로 배치 */
    justify-content: space-between;
}
.culture .list ul li{
    width: calc(33.33% - 16px);
    /*
        100%/li 의 갯수 - 여백의 합/li갯수
        100/3 - (24+24)/3
        33.33% - 16px
    */
}
.culture .list ul li a{
    display: block;
}
.culture .list ul li a .photo{
    overflow: hidden;
}
.culture .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    transition: 0.3s;
}
.culture .list ul li a:hover .photo img{
    transform: scale3d(1.125,1.125,1);
}
.culture .list ul li a h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 31px 0 13px 0;
}
.culture .list ul li a h3 span{
    position: relative; /* after 정렬의 기준 */
}
.culture .list ul li a h3 span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #1d1d1d;
    transition: 0.3s;
}
.culture .list ul li a:hover h3 span::after{
    width: 100%;
}
.culture .more{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 2px;
    top: 99px;
    display: block;
    padding: 0 17px 0 0;
    color: #376B2B;
}
.culture .more::after{
    content: " ";
    position: absolute;/* more를 기준으로 정렬 */
    right: 0;
    top: 6px;
    width: 13px;/* 아이콘 사이즈 */
    height: 13px;
    background: url(../images/more.svg) no-repeat center center / contain;
}
.culture .more:hover{
    font-weight: 700;
}
@media screen and (max-width:768px){
                    .culture{
                        padding: 107px 0 58px 0;
                    }
                    .culture .tit{
                        margin: 0 40px 0 0;/* 더보기가 들어갈 자리 여백을 줌 */
                    }
                    .culture .tit h2{
                        font-size: 28px;
                        margin: 0;
                    }
                    .culture .tit h2 br{
                        display: block; /* pc에서는 줄바꿈 안함 */
                    }
                    .culture .tit p{
                        display: none;
                    }
                    .culture .list{
                        margin: 31px 0 0 0;
                    }
                    .culture .list ul{
                        flex-direction: column;/* flex유지 아래방향으로 전환 */
                        gap: 31px 0;/* 위아래 - 좌우여백 */
                    }
                    .culture .list ul li{
                        width: auto; /* 100%를 주는 것보다 문제가 없다면 auto 좋음
                         - 블럭요소는 auto를 줘도 100%가 됨 */
                    }
                    .culture .list ul li a h3{
                        font-size: 22px;
                        margin: 29px 0 11px 0;
                    }
                    .culture .more{
                        top: 41px;
                        border: 1px solid #376B2B;
                        border-radius: 50%;
                        padding: 0;
                        width: 29px;
                        height: 29px;
                    }
                    .culture .more::after{
                        right: 8px;
                        top: 8px;
                        width: 11.2px;/* 아이콘 사이즈 */
                        height: 11.2px;
                    }
                    .culture .more:hover{
                        font-weight: 700;
                    }
                    .culture .more span{
                        display: none; /* 글자를 모바일에서 숨김 */
                    }
}/*@media*/

.tour{
    margin: 156px 0 0 0;
}
.tour .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.tour .tit{
    margin: 0 115px 0 0;/* 더보기가 들어갈 자리 여백을 줌 */
}
.tour .tit h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.tour .tit h2 br{
    display: none; /* pc에서는 줄바꿈 안함 */
}
.tour .list{
    margin: 52px 0 0 0;
}
.tour .list ul{
    display: flex;/* li 좌우로 배치 */
    justify-content: space-between;
}
.tour .list ul li{
    width: 190px;
}
.tour .list ul li.active{/* active클래스가 있는 li */
    width: 618px;
}
.tour .list ul li a{
    display: flex; /* h3-p를 세로로 아래로 정렬 */
    flex-direction: column;
    justify-content: flex-end;
    height: 456px;
    background: url(../images/tour01.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    padding: 0 0 40px 0;
}
.tour .list ul li.tour02 a{
    background-image: url(../images/tour02.jpg);
}
.tour .list ul li.tour03 a{
    background-image: url(../images/tour03.jpg);
}
.tour .list ul li.tour04 a{
    background-image: url(../images/tour04.jpg);
}
.tour .list ul li.active a{
    text-align: left;
    padding: 0 40px 40px 40px;
}
.tour .list ul li a h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}
.tour .list ul li.active a h3{
    font-size: 32px;
}
.tour .list ul li a p{
    display: none; /* 숨김 */
    position: relative;/* after 정렬의 기준 */
}
.tour .list ul li.active a p{
    display: block;
    margin: 11px 0 0 0;
}
.tour .list ul li a p::after{
    content: " ";
    position: absolute;/*p 기준으로 정렬*/
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
    background: url(../images/tour_more.svg) no-repeat center center / contain;
}
.tour .more{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 12px;
    display: block;
    padding: 0 17px 0 0;
    color: #376B2B;
}
.tour .more::after{
    content: " ";
    position: absolute;/* more를 기준으로 정렬 */
    right: 0;
    top: 6px;
    width: 13px;/* 아이콘 사이즈 */
    height: 13px;
    background: url(../images/more.svg) no-repeat center center / contain;
}
.tour .more:hover{
    font-weight: 700;
}
@media screen and (max-width:768px){
                    .tour .tit{
                        margin: 0 40px 0 0;/* 더보기가 들어갈 자리 여백을 줌 */
                    }
                    .tour .tit h2{
                        font-size: 28px;
                        margin: 0;
                    }
                    .tour .tit h2 br{
                        display: block; /* pc에서는 줄바꿈 안함 */
                    }
                    .tour .list{
                        margin: 31px 0 0 0;
                        overflow-x: auto;
                        /* list의 넓이보다 ul의 넓이가 작으면 스크롤바가 안생기고
                            ul의 넓이가 더 넓으면 가로 스크롤바 생성 */
                    }
                    .tour .list ul{
                        width: 1048px;
                        /*
                            250*4=1000
                            16*3=48
                            1000+48=1048
                        */
                    }
                    .tour .list ul li{
                        width: 250px;
                    }
                    .tour .list ul li.active{/* active클래스가 있는 li */
                        width: 250px;
                    }
                    .tour .list ul li a{
                        height: 400px;
                        text-align: left;
                        padding: 0 20px 20px 20px;
                        border-radius: 20px;
                    }
                    .tour .list ul li.active a{
                        padding: 0 20px 20px 20px;
                    }
                    .tour .list ul li a h3{
                        font-size: 22px;
                    }
                    .tour .list ul li.active a h3{
                        font-size: 24px;
                    }
                    .tour .list ul li a p{
                        display: block; /* 나타남 */
                        margin: 13px 0 0 0;
                    }
                    .tour .list ul li a p br{
                        display: none; /*줄 바꿈 삭제*/
                    }
                    .tour .list ul li.active a p{
                        margin: 13px 0 0 0;
                    }
                    .tour .list ul li a p::after{
                        display: none;/* 숨김 */
                    }
                    .tour .more{
                        top: 39px;
                        border: 1px solid #376B2B;
                        border-radius: 50%;
                        padding: 0;
                        width: 29px;
                        height: 29px;
                    }
                    .tour .more::after{
                        right: 8px;
                        top: 8px;
                        width: 11.2px;/* 아이콘 사이즈 */
                        height: 11.2px;
                    }
                    .tour .more span{
                        display: none; /* 글자를 모바일에서 숨김 */
                    }
}/*@media*/

.community{
    background: url(../images/community_bg.jpg) no-repeat center center /cover;
    color: #fff;
    padding: 156px 0 279px 0;
    margin: 104px 0 0 0;
}
.community .wrapper{
    display: flex;/* tit-group 좌우 배치 */
    justify-content: space-between;
}
.community .tit h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}
.community .group{
    display: flex;/* notice-servce 좌우배치 */
    gap: 0 12px;
    align-items: flex-end;
}
.community .group .notice{
    width: 511px;
    height: 410px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 40px 40px 0 40px;
    /* 높이가 있으면 절대 아래 여백 안줌 (4곳의 여백을 모두 주지 않음) */
    backdrop-filter:blur(7px);
    position: relative;/* more 정렬의 기준 */
}
.community .group .notice h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
}
.community .group .notice .list{
    margin: 19px 0 0 0;
}
.community .group .notice .list ul li{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.community .group .notice .list ul li:first-child{
    border-top: none;/* li중에서 첫번째 li는 선이 없음 */
}
.community .group .notice .list ul li a{
    display: flex; /* h4-span 좌우 배치 */
    justify-content: space-between;
    padding: 9px 0;
}
.community .group .notice .list ul li a h4{
    width: calc(100% - 95px);
    /* h4의 넓이는 오른쪽에 날짜가 들어갈 공간 빼고 나머지 전체 다
        1줄로 제한 */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
.community .group .notice .list ul li a:hover h4{
    font-weight: 700;
}
.community .group .notice .more{
    position: absolute; /* notice를 기준으로 정렬 */
    right: 40px;
    top: 50px;
    width: 33px;
    height: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: url(../images/community_more.svg) no-repeat center center / 12px;
    /* background 사이즈에 넓이만 입력하면 높이는 알아서 들어감 */
}
/********************notice에 오버했을때***********************/

.community .group .notice:hover{
    background-color: #fff;
    color: #376B2B;
}
.community .group .notice:hover .list ul li{
    border-color: #376B2B;
}
.community .group .notice:hover .more{
    border: 1px solid #376B2B;
    background: #376B2B url(../images/on.svg) no-repeat center center / 12px;
    /* background 사이즈에 넓이만 입력하면 높이는 알아서 들어감 */
}
.community .group .service{
    width: 318px;
    /* li의 넓이 x 2 + 여백 318 */
}
.community .group .service ul{
    display: flex;/* li 좌우로 배치 */
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 12px 12px; /* 위아래-좌우 여백 */
}
.community .group .service ul li{
    width:calc(50% - 6px);
    /*
        100% / 한줄에 표시될 li의 갯수 - 한줄의 중간 여백의 합 / 한줄에 표시될 li의 갯수
        =100%/ 2 - 12 / 2
        =50% - 6px
    */
}
.community .group .service ul li a{
    display: block;
    height: 153px;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
    backdrop-filter:blur(7px);
    padding: 30px 0 0 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    position: relative;/* after 정렬의 기준 */
}
.community .group .service ul li a::after{
    content: " ";
    position: absolute;
    right: 33px;
    bottom: 33px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
}
.community .group .service ul li.ico01 a::after{
    background-image: url(../images/service01.svg);
}
.community .group .service ul li.ico02 a::after{
    background-image: url(../images/service02.svg);
}
.community .group .service ul li.ico03 a::after{
    background-image: url(../images/service03.svg);
}
.community .group .service ul li.ico04 a::after{
    background-image: url(../images/service04.svg);
}
/********************** 마우스 오버시 ***************************/
.community .group .service ul li a:hover{
    background-color: #fff;
    color: #376B2B; 
}
.community .group .service ul li.ico01 a:hover::after{
    background-image: url(../images/service01_on.svg);
}
.community .group .service ul li.ico02 a:hover::after{
    background-image: url(../images/service02_on.svg);
}
.community .group .service ul li.ico03 a:hover::after{
    background-image: url(../images/service03_on.svg);
}
.community .group .service ul li.ico04 a:hover::after{
    background-image: url(../images/service04_on.svg);
}
@media screen and (max-width:768px){
                    .community{
                        padding: 108px 0 61px 0;
                    }
                    .community .wrapper{
                        display: block;/* flex 해제 */
                    }
                    .community .tit h2{
                        font-size: 28px;
                    }
                    .community .group{
                        margin: 50px 0 0 0;
                        display: block;/* flex 해제 */
                        /* gap: 0 12px; flex가 해제되면 동작x
                           aline-items: flex-end */
                    }
                    .community .group .notice{
                        width: auto;
                        height: auto;
                        padding: 32px 20px 31px 20px;
                    }
                    .community .group .notice h3{
                        font-size: 24px;
                    }
                    .community .group .notice .list{
                        margin: 15px 0 0 0;
                    }
                    .community .group .notice .list ul li a{
                       padding: 10px 0;
                    }   
                    .community .group .notice .list ul li a:hover h4{
                        font-weight: 700;
                    }
                    .community .group .notice .more{
                        right: 20px;
                        top: 35px;
                        width: 24px;
                        height: 24px;
                    }
                    /********************notice에 오버했을때***********************/
                    .community .group .service{
                        width: auto;
                        margin: 16px 0 0 0;
                    }
                    .community .group .service ul{
                        gap: 16px 16px; /* 위아래-좌우 여백 */
                    }
                    .community .group .service ul li{
                        width:calc(50% - 8px);
                        /*
                            100% / 한줄에 표시될 li의 갯수 - 한줄의 중간 여백의 합 / 한줄에 표시될 li의 갯수
                            =100%/ 2 - 16 / 2
                            =50% - 8px
                        */
                    }
                    .community .group .service ul li a{
                        height: 89px;
                        padding: 30px 0 0 20px;
                        font-size: 22px;
                    }
                    .community .group .service ul li a::after{
                        right: 32px;
                        bottom: 32px;
                        width: 22px;
                        height: 22px;
                        background-size: contain;
                    }
}/*@media*/

.footer{
    background-color: #1d1d1d;
    padding: 78px 0;
    color: rgba(255, 255, 255, 0.8);
}
.footer .f_nav ul{
    display: flex;/* li 좌우로 배치 */
    gap: 0 39px;
    flex-wrap: wrap;/* 모바일 때문에 여러줄 허용 */
}
.footer .f_nav ul li{
    position: relative; /* after 정렬의 기준 */
}
.footer .f_nav ul li::after{
    content: " ";
    position: absolute;
    right: -20px;
    top: 5px;
    width: 1px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.2);
}
.footer .f_nav ul li:last-child::after{
    display: none; /* 마지막 li의 선 삭제 */
}
.footer .f_info{
    display: flex;
    gap: 0 20px;
    flex-wrap: wrap;/* 모바일 때문에 여러줄 허용 */
    margin: 25px 0;
}
.footer .copyright .license{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.5;
    text-decoration: underline; /* 밑줄 */
}
@media screen and (max-width:768px){
                    .footer{
                        padding: 75px 0;
}/*@media*/