@import url(fonts.css);
@import url(commom.css);

.header{
    height: 100px;
}
.header .wrapper{
    display: flex;/* logo-gnb 좌우배치 */
    justify-content: space-between;
    align-items: center;/* 위아래 가운데 */
}
.header .gnb ul{
    display: flex;/* li를 좌우로 배치 */
}
.header .gnb ul li a{
    display: block;
    padding: 0 31px;
    line-height: 100px;/* header의 높이와 동일하게 - 글자의 높이가 100이 되고 위아래 가운데 배치됨 */
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
}

.visual{
    background: url(..//images/visual_bg.jpg) no-repeat center center /cover;
    color: #fff;
    height: 800px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 361px 0 24px 0;
}

.biz{
    margin: 164px 0 0 0;
}
.biz .tit{
    text-align: center;
}
.biz .tit h2{
    font-weight: 700;
    color: #102F5D;
}
.biz .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 15px 0 0 0;
    color: #1d1d1d; 
}
.biz .list{
    margin: 56px 0 0 0;
}
.biz .list ul{
    display: flex;/* li를 좌우로 배치 */
    justify-content: space-between;
}
.biz .list ul li{
    width: 297px;
}
.biz .list ul li .txt{
    text-align: center;
    margin: 0 40px;/* 위아래 여백 -좌우 여백 */
}
.biz .list ul li .txt h3{
    font-size: 32px;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 18px 0 8px 0;
}
.biz .list ul li .txt a{
    display: block;
    border: 1px solid #ccc;
    margin: 19px 0 0 0;
    padding: 11px 0 10px 0;
}

.brand{
    margin: 109px 0 0 0;
    background: url(..//images/brand_bg.jpg) no-repeat center center /cover;
    color: #fff;
    text-align: center;
    height: 932px;
    padding: 362px 0 0 0; 
}
.brand h2{
    font-weight: 700;
    color: #C2E8FF;
}
.brand p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 27px 0 25px 0;
}
.brand a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 26px;
}

.footer{
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.8);
    padding: 90px 0 ;
}
.footer .f_nav ul{
    display: flex; /* li를 좌우로 배치 */
    gap: 0 45px; /* flex일때만 적용 - 위아래/좌우의 여백 */
}
.footer .f_info{
    margin: 26px 0;
    display: flex;
    gap: 0 23px;
}