/*
    default.css (reset.css 라고도함)
    태그의 초기화 - 브라우저가 주는 스타일을 모두 삭제
    한 번 정의되면 바뀔일이 없음...
*/
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
strong{
    font-weight: inherit;
}
em,address{
    font-style: normal;/*기울어진 글자를 바르게*/
}
button{
    border: none;
    background: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    cursor: pointer;
    /* 오버했을때 마우스 포인터를 a와 동일한 스타일로 변경 */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}